[2016-02-09 18:08] ayezioro commented on #229
Wow!
So many things in such a small file, ah?
Thanks!!!
-A.

[2016-02-10 05:18] ayezioro commented on #230
The correct address for the link i mentioned is now: http://www.waterslade.com/main.htm
Just if interested in seeing some definitions on VSC.
-A.

[2016-02-14 22:29] chriswmackey commented on #230
@ayezioro  and @mostaphaRoudsari ,
It is very clear to me now how the VSC component is useful after reading your links, Abraham, and understanding the distinction that Grasshope points out on the GH forum:
http://www.grasshopper3d.com/group/ladybug/forum/topics/discussion-sky-view-factor

My only issue now is that we should probably be more technically correct and change the name of the component

[2016-02-15 05:25] ayezioro commented on #230
Hi Chris,
All this discussions are great. Of course all of us learned from them.
I related to your question above in the GH forum. Pasting the answer:
Agree that the VSC can be applied to any surface, and as a result of that the name change can be in order. But, just thinking/wondering, who will use this for any surface but vertical. This measurement is not giving any useful information for them.

[2016-02-15 21:11] chriswmackey commented on #230
@ayezioro ,
I agree and let me know your thoughts on the comments that I have made on the GH firum:
http://www.grasshopper3d.com/group/ladybug/forum/topics/discussion-sky-view-factor?commentId=2985220%3AComment%3A1463328&xg_source=msg_com_gr_forum

-Chris

[2016-02-16 14:24] chriswmackey commented on #230
@ayezioro ,
If you agree with all of the changes that I made, feel free to close out this issue.
-Chris

[2016-02-16 15:01] ayezioro commented on #230
Yes. This was a a very good one!!!
Thanks a lot.
-A.

[2016-02-16 15:15] chriswmackey commented on #230
Awesome.  I learned a lot in this discussion.
Issue closed :)

[2016-02-16 15:15] #230 closed

[2016-02-20 07:15] timurglobal opened #235 "HUDs for visualising components."
Hello dear LB/HB team.

Through Rhino's flexibility you can gain full control over the scene you are working on and further enhance the impact in post-processing.
I would like to suggest a feature that I have thought about too many times since my flight with ladybug.
To better show what I mean I prepared some screenshots:

**Here is how most of users would go and present their graphs and charts, s

[2016-02-20 11:13] timurglobal opened #236 "Air Pollution Component"
Hello guys,

I have been thinking about this problem for quite some while, especially if you take in consideration my present location. I thought it would be nice to have Air Pollution component here in LB and to be able to incorporate the data in the graphs in conjunction with other stuff.

I've decided to just keep the idea to myself, thinking you guys are already busy anyway, until recent encou

[2016-02-20 20:40] chriswmackey commented on #235
For anyone else following this thread who did not know what an HUD is and had to search for it, it stands for "head's up display":
https://en.wikipedia.org/wiki/HUD_(video_gaming)

@timurglobal ,
Could you be more specific about what type of HUD you are imagining?  Is it still geometry in the Rhino scene or is it a pop-up window, or a plugin interface like the one that Miguel release with Icarus i

[2016-02-21 03:39] timurglobal commented on #235
Hi Chris,
Yeah, exactly like Miguel's plugin interface. No pop-ups or rhino geometries.
Maybe an addition to Legend par component where you can toggle HUD on and off (maybe with addition to be able to set their position in the Rhino viewport).

[2016-02-23 00:30] Omidmr opened #237 "Runtime error Ground temperature Visualisedata_Month"
Hi everyone,

 I used "import Ground temperature" component for Visualisedata_Month returns this error :

data contains monthly average temperatures at 1 different depths 1.0 meters
Runtime error (ValueErrorException): too many values to unpack
Traceback:
  line 333, in drawprofileCrvs_Month, "<string>"
  line 462, in script

![ssds](https://cloud.githubusercontent.com/assets/11173265/13237482/b57

[2016-02-25 14:34] antonszilasi commented on #237
@Omidmr  could you email me the file or better yet post the issue on the Grasshopper forms and link me to them

[2016-02-25 17:04] Omidmr commented on #237
@antonszilasi
I was sent to your email , please check that.
thanks,
-Omid

[2016-02-26 21:13] AntonelloDN opened #239 "bug: LB SolarFanBasic and LB SolarEnvelopeBasic"
Hi all

I have made sunrise and sunset component recently and now I know  well how NOAA functions work.
haSunrise (called also **hourangle**) function is really sensible to latitude above 65°N and under -65°N.
 Thanks @saeranv, I think that LB SolarFanBasic and LB SolarEnvelopeBasic are fast and useful,  but should be great to extend the range of latitudes from about [-66°N , 65°N] to about [-89°N

[2016-02-26 21:35] saeranv commented on #239
Hello @AntonelloDN, I took a quick look and I believe you are correct, although I still need to test it out myself.

I was using calculations from the NOAA for  +/- 72° latitudes (http://www.esrl.noaa.gov/gmd/grad/solcalc/calcdetails.html), but I only need the solarnoon times for my calculations, so if we can remove those extraneous calculations and still get correct results then let's remove them

[2016-02-26 22:59] AntonelloDN commented on #239
Hi @saeranv, you're welcome

1) Basically, I started from the your same link (with NOAA_Solar_Calculations_day) , but I modified some part of it to remove the limit of accuracy and years as well.
For example, for the julian day I used a formula from  http://www.esrl.noaa.gov/gmd/grad/solcalc/sunrise.html
and I modified it by myself by adding timezone and hour for julian day. It give you the same r

[2016-03-05 08:28] saeranv commented on #239
@AntonelloDN, just to clarify: are you saying the NOAA suncalc times for solar noon at http://www.esrl.noaa.gov/gmd/grad/solcalc/ are different from the one calculated at http://www.esrl.noaa.gov/gmd/grad/solcalc/calcdetails.html .

I've looked at the code and the sunrise and sunset time is definitely unnecessary and I am deleting it. I am going to compare it with the other solar envelope and chec

[2016-03-05 10:34] AntonelloDN commented on #239
@saeranv

About Julian Day I was referring to:
"_the spreadsheets are only valid for dates between 1901 and 2099, due to an approximation used in the Julian Day calculation.the spreadsheets are only valid for dates between 1901 and 2099, due to an approximation used in the Julian Day calculation_." I changed this part using Julian Day formula of http://www.esrl.noaa.gov/gmd/grad/solcalc/sunrise.ht

[2016-03-11 16:37] chriswmackey opened #241 "Add an bakeIt_ Option to Make Meshes with Image Map Materials"
I have recently realized that most rending engines want to have the mesh colors defined as an image map.  This is the case for V-Ray, 3DSMax, and for this interesting augmented reality application that I have been playing with:
![lb_augmentedreality](https://cloud.githubusercontent.com/assets/5567574/13708554/4dd86b68-e77d-11e5-9ce8-fd21aa78de9f.jpg)

Accordingly, I am thinking of adding in an opt

[2016-03-11 16:51] mostaphaRoudsari commented on #241
[This](http://www.grasshopper3d.com/forum/topics/how-to-render-mesh-colors?commentId=2985220%3AComment%3A663243) might be helpful.

![](http://api.ning.com/files/-yI8Q9x2z*SMIJe8CBNtN3fy3NYDXa1fHm9wYwMsbqgIK4UKTvLVPUDa3j6g-oNIR6yaAJFEt3y2pVmhdm5WzhMbrjGDVMOZ/rendervertexcolors.jpg)

[2016-03-11 17:02] chriswmackey commented on #241
@mostaphaRoudsari ,
Yes, I read though that conversation a few times.  There's a lot of good information on it.

[2016-03-11 17:16] chriswmackey opened #242 "Comfort Shade Benefit Should Include an Exponent to Account for Difficulty of Adapting to Heat Stress"
As mentioned in this conversation here:

http://www.grasshopper3d.com/group/ladybug/forum/topic/show?id=2985220%3ATopic%3A1481295&xg_source=msg

[2016-03-11 22:20] claudioarchi commented on #241
This is a great feature. Our office is starting with the vr stuff. I think that letting the user the freedom to specify a file path anywhere is the way to go. Can't wait to it
Cheers
Claudio

[2016-03-17 06:37] saeranv commented on #239
Just sent the pull request for fixed components: #243

[2016-03-17 07:50] timurglobal opened #244 "Bug? Capture View component doesn't capture"
Hi guys,

Since Chris introduced Capture View component I grew accustomed to it and leaned a few tricks on how to make it super useful.

Problem is, it worked flawlessly before but now it doesn't capture anything.
I remember that before, when it worked, I had an older version of LB, then I finished my project and after a pause in a couple of months I started a new project and went ahead and update

[2016-03-17 20:44] #239 closed

[2016-03-17 22:10] chriswmackey commented on #244
@timurglobal ,

I can't say what the exact issue is since I do not have a D:\Desktop folder on my machine but I would venture a guess that this folder does not actually exist on your system and it is just a shorthand that Windows is giving you instead of the true longer file path.  Set a file path that you have navigated to from the root of your machine D:\ and let us know if you still have the sa

[2016-03-18 05:57] timurglobal commented on #244
Hi Chris,
No, I keep all the stuff on D because it is my HDD. System and programs run from C (SSD), I just checked whether test folder in C would fix the problem but had no results there.
![canvas at 13 54 21](https://cloud.githubusercontent.com/assets/16097638/13869563/1082e358-ed11-11e5-932f-7d6dfa33c1cb.png)
It is a minor problem because I can still use Rhino's -viewcapturetofile command. anywa

[2016-03-19 14:31] mostaphaRoudsari commented on #244
@timurglobal what is the output of the CaptureView component? ```imagePath```

[2016-03-19 14:45] timurglobal commented on #244
Hi Mostapha,
To be honest I have no idea, should be file path, but it is always empty:
![wind rose broken legend _top](https://cloud.githubusercontent.com/assets/16097638/13899215/76ac24ce-ee23-11e5-8cfd-c36451082afc.png)
If you zoom in you will notice a weird artefact left by rhino view port's world axis (wtf).
Same happens when I use -ViewCaptureToFile, but it is easily removed by turning the fe

[2016-03-19 14:50] mostaphaRoudsari commented on #244
1. Use toggle to capture the view and not button.
2. Read the [component description](https://mostapharoudsari.gitbooks.io/ladybug-primer/content/text/components/Capture_View.html) for the second issue.

[2016-03-19 15:01] timurglobal commented on #244
1. Oh yeah, button doesn't hold the value. But it works with button and I like the feel of it, single click and done.
2. Hahaha, yeah. Usually I don't mind it, yet since I started doing hi-res captures it spammed the view a bit, still weird.
It is strange that it didn't work for shadow studies. But thanks on checking it out, I think I messed something up there. I'll check shadow study now.

[2016-03-25 01:35] chriswmackey opened #247 "Have Psych Chart Deal with Wind Speed Similarly to the Adaptive Chart"
As mentioned in this discussion:
http://www.grasshopper3d.com/group/ladybug/forum/topics/the-hump-on-the-comfortpolygon-in-the-adpative-comfort-chart?commentId=2985220%3AComment%3A1490718&xg_source=msg_com_gr_forum

This implementation will be a bit more more complex because we have 3 other variables that drive the comfort polygon position and I also have to figure out how this should interact wit

[2016-03-31 04:05] chriswmackey commented on #241
When I implement this ability, I should also include a bakeIt option for vector-based text if people want to export PDFs in perspective mode:
http://www.grasshopper3d.com/group/ladybug/forum/topics/bake-options-perspective-legend-issues?commentId=2985220%3AComment%3A1492650&xg_source=msg_com_gr_forum

[2016-04-04 13:19] ayezioro opened #250 "LB_OutdoorComfortCalculator - Last hour issue"
See this discussion:
http://www.grasshopper3d.com/group/ladybug/forum/topic/show?id=2985220%3ATopic%3A1499752&xg_source=msg
The file attached in there solves the problem. I copied/pasted the code from the LB_PMVComfortCalculator as for this discussion:
http://www.grasshopper3d.com/group/ladybug/forum/topics/pmv-calculator-warning-1-the-calculation-has-been-terminated-by
-A.

[2016-04-05 15:33] antonszilasi commented on #237
@mostaphaRoudsari At some point was the readLegendParameters function changed?

With the line below I am getting the error, too many variables to unpack.

lowB, highB, numSeg, customColors, legendBasePoint, legendScale, legendFont, legendFontSize, legendBold = lb_preparation.readLegendParameters([], False)

This function is returning 11 variables when the code I initially wrote only "catches" 9. I

[2016-04-05 22:51] mostaphaRoudsari commented on #237
@antonszilasi, Yes. @chriswmackey has added two new outputs.

[Here](https://github.com/mostaphaRoudsari/ladybug/blob/e0e0bfb3e80f6fd0bfdaa91129c807dd7b61623d/src/Ladybug_SunPath.py#L491) is an example which I found by searching searching [lb_preparation.readLegendParameters](https://github.com/mostaphaRoudsari/ladybug/search?utf8=%E2%9C%93&q=lb_preparation.readLegendParameters).

[2016-04-06 14:50] chriswmackey opened #251 "Add a Component for Calcuating View Factors from Points/Planes to Surfaces"
This component will spit out the view factors to a list of input surfaces and will allow for a choice between calculating view factors from a point or calculating view factors projected into the plane of a surface.  As such, it will allow much more access and control over view factor calculations and enable new capabilities like accounting for radiant asymmetry as this discussion shows:

http://ww

[2016-04-08 14:01] mostaphaRoudsari commented on #250
Thanks @ayezioro! I leave this one to @chriswmackey.
I feel we haven't been involved in the same discussion for a very long time.

[2016-04-08 14:08] ayezioro commented on #250
:-) I feel guilty ...
This one has been taken care of already. I believe we can close it.
-A.

[2016-04-08 14:09] mostaphaRoudsari commented on #250
:)

[2016-04-08 14:09] #250 closed

[2016-04-08 14:49] chriswmackey commented on #250
Ah, I forgot to close the issue.  Thank you!
So many conversations happening and so little time...

[2016-04-10 01:13] antonszilasi commented on #237
@mostaphaRoudsari  Should be fixed now it made sense just to add two dummy variables.

[2016-04-10 01:29] antonszilasi commented on #169
@mostaphaRoudsari  is this still open? This is something I would like to do, you can assign me to the task if it is still needed.

[2016-04-11 14:02] mostaphaRoudsari commented on #169
@antonszilasi yes. It is still open. If you're willing to give it a try please go ahead. I should just give you heads up that the code base is a mess! My apologies in advance.

[2016-04-11 14:03] #237 closed

[2016-04-11 18:18] ayezioro commented on #169
Looking forward for this one.
Thanks Anton.
-A.

[2016-04-12 08:12] ocni-dtu opened #253 "Issues with load/dump HB Objects"
Hey,
When I create an HB object in one script and dump it with HBdump and try to load in another script the HBload component gives this error: "Runtime error (ImportException): No module named __main__
Traceback:
  line 71, in main, "<string>"
  line 74, in script"

My HB/LB is version 0.0.59.
The HBdump is from 25th of feb. and HBload is from 5th of feb.

I have attached my files here:
[HBZone.zi

[2016-04-18 21:12] #253 closed

[2016-04-18 21:13] mostaphaRoudsari commented on #253
Hello @ocni-dtu. Thank you for reporting this. I was not considering the case that boundary condition for adiabatic surfaces to be outdoors. This is now fixed! Try to update Honeybee and use the Honeybee_Dump Honeybee Objects components with today's date.

[2016-04-27 05:10] TheodoreGalanos opened #256 "Have the windrose give average wind velocities for each of the segments requested by the user"
Hi people!

I was thinking it would be helpful for wind analysis of the weather file data if we could automatically give the average wind velocity for each segment the user has specified in the Ladybug wind rose component.

From personal experience this would be very useful for CFD studies.

Thanks!

Kind regards,
Theodore.

[2016-04-29 17:01] chriswmackey commented on #256
@TheodoreGalanos ,
I agree that this should be an output.  It should just be a few lines of code to put it in since the component already bins the wind speeds by cardinal direction.  Feel free to take a stab at putting in the code.  Otherwise, We'll get to it eventually.
-Chris

[2016-05-21 03:32] chriswmackey opened #261 "Put New Long Wave Radiation Model into Solar-Adjusted Temperature and Comfort Maps"

[2016-06-07 21:53] chriswmackey opened #264 "New Ladybug Sun Shades Calculator"
This issue was created to give @ayezioro and @AntonelloDN feedback on the new sun shades component that they are creating.

I absolutely agree that we should have the capability to generate shades based on ray-shooting rather than geometric methods as I am convinced that it is faster in cases with atypical geometry and it also seems to have less potential to fail in odd cases like parallel vectors

[2016-06-08 04:38] ayezioro commented on #264
Hi Chris and thanks for this thorough input.
We know that there is a lot of work to do, and we are now working on some features that go beyond getting a geometric outcome. We will update when time comes and we are more "cooked".
As for the rhinocommon, of course we will make the try 9and beyond that). I'm lack of experience with that, and that's why most of the code uses rhinoscript. If you have g

[2016-06-13 15:35] chriswmackey commented on #264
@ayezioro and @AntonelloDN ,

All sounds good.  For Rhinocommon, you can find the full documentation [here](http://4.rhino3d.com/5/rhinocommon/) .  Almost everything that you need is in the Rhino.Geometry Namespace and, if you ever get stuck, I recommend using the search feature on the online documentation to help you find what you are looking for.

All of the responses to the Points sound good an

[2016-06-13 16:29] ayezioro commented on #264
Hi Chris,
By now i just can say that "i hate rhinocommon" :-).
Rhinoscript is much user friendly.
The documentation link  i know, the problem is that sometimes (many times) you don't know what to search. Of course i'm saying this now. Maybe in the (near) future i'll say differently.
I solved the rectangle sensing already. I saw your definition from the link above. I'm doing this differently and ho

[2016-06-20 04:32] ayezioro commented on #264
Hi,
Hating less ... :-)
We are doing good progress in the component. We hope we can send something soon.
In the meantime do you know how the hidding output items is not working?
It used to work for me but now it doesn't.
For example this code:

Test1 and test2 are outputs and i want to hide them. I see in different LB components the same method and, BTW, it doesn't work there either.
Something cha

[2016-06-22 15:11] stgeorges opened #266 "New Pedestrian Wind Comfort component"
I am opening this topic due to suggestion by Mostapha at the [Buttefly github discussion](https://github.com/mostaphaRoudsari/Butterfly/issues/16#issuecomment-227596380) about the incoming Butterfly components.

This is a quote from the upper link:

Based on the wind factors it will perform an analysis of the wind comfort and safety of pedestrians at the location:

I must mention my gratitude towa

[2016-06-26 00:18] chriswmackey commented on #266
@stgeorges ,

This looks is very awesome!  Thanks for putting this together and we definitely need something in Butterfly that informs us of when the wind intensity of wind is too strong.  Along these lines, I was wondering why you opened this issue on the Ladybug github instead of the Butterfly github.  Especially given the fact that you are building up the categories from a wind factor file, thi

[2016-06-26 00:21] chriswmackey commented on #266
Also, @stgeorges ,
You should send a pull request to the Butterfly github with this component when you get the chance.
-Chris

[2016-06-26 04:29] mostaphaRoudsari commented on #266
Thanks @stgeorges!

@chriswmackey @stgeorges I suggest to wait before sending the PR to butterfly. We should make sure that we have a guideline for development for butterfly before accepting new components.

[2016-06-26 09:09] stgeorges commented on #266
Hi @chriswmackey , @mostaphaRoudsari

Even though the component is released now when the Butterfly project is coming near to its release, the wind factors do not need to be calculated by the use of Butterfly components. One can use [Ansys](http://www.grasshopper3d.com/xn/detail/2985220:Comment:1338083), NX, Pro Engineer, SU2 ...
Just as we are using Ladybug and Honeybee components to analyse the T

[2016-06-26 17:52] chriswmackey commented on #264
@ayezioro ,

Sorry for responding to this so late.  I definitely know what you are going through with the Rhinocommon learning curve and I can't tell you how many times I ran into a problem and wanted to resort back to rhinoscript so badly.  Trust me that there is a light at the end of the tunnel and, if you stick with it, there will be a time when you are very thankful that you mastered it.  Also

[2016-06-26 18:00] ayezioro commented on #264
100%
Thanks,
We are converging to a first version that i hope we get into it before this weekend. Next week i'm traveling for a month and don't want to leave this so open.
We are planning advance features to improve the design decision making, and the proper "interface" is not an easy task. So maybe another brain can help how to do this better. But about this i prefer to wait for the first version

[2016-06-26 18:22] chriswmackey commented on #264
@ayezioro ,

Sounds good and I'll lay off on the comments until you get out the next version.

The only thing that I want to mention is that the uv division might not simply be semantic matter because u and v coordinates are independent of Rhino 3D space (they are only specific to the surface and they don't have an "awareness" of the larger 3D world).  As such, a u coordinate might be either verti

[2016-06-26 18:28] ayezioro commented on #264
Thanks,
"Don't worry". I'll ask ... :-)
Sometimes i get stuck and MANY times Antonello knows how to deal, so i can say now that i'm well covered now :-)
We are sensing already the direction of the surface (forgot to mention). That's why i said it is semantic. The definitions will read something like numOfShades (like in the LB shading calculator) for the horizontal divisions, and somethingSomethin

[2016-06-26 18:36] chriswmackey commented on #264
Very nice!  It is semantic, then.  If you are performing operations like that of the old shadeDesigner, then you and @AntonelloDN are clearly on your ways to becoming a rc masters.  Stick with it!

[2016-06-26 22:31] chriswmackey commented on #266
@stgeorges and @mostaphaRoudsari ,

To run down the list of discussion topics:

1) **Should the wind comfort component be in Ladybug or in Butterfly?** - I think many of us agree that the litmus test for whether something should be in Ladybug is whether you can use the component directly with EPW data.  From what I have seen with the current wind comfort component, it is reliant on some type of CF

[2016-06-28 06:03] mostaphaRoudsari opened #268 "Psychrometric chart inconsistencies"
http://www.grasshopper3d.com/xn/detail/2985220:Comment:1556097

[2016-06-28 12:50] stgeorges commented on #266
Fair enough. I will change the header of the component once the rest of the Butterfly components start getting released.

New slide was opened as a means of not spoiling yours due to my inexperience with Google docs.
I am not sure if ".epw" block should have been removed from the "Butterfly" slide. After all, we are relying on cfd simulation to correct the actual weather file wind speeds for parti

[2016-06-28 15:13] mostaphaRoudsari commented on #266
About the slides: I think we need to be **crystal clear** on which part is already developed, which part is under development, and which part will be developed in the near future. The current graph is a couple of years ahead of what we have right now on Dynamo/Revit side!

Butterfly components needs to be developed in a different way. It's not only about the header. Let's have them all in Ladybug

[2016-06-28 15:33] stgeorges commented on #266
Maybe this can be done by putting the transparency onto the icons/text as a means of depicting the future development, and transparency with a star to inform the users that the development is currently ongoing. Then at the bottom corner, there can be a small legend with mentioned explanations?

I am curious to know more about this, even though they are still not released. Can you be a bit more pre

[2016-06-28 15:38] mostaphaRoudsari commented on #266
Check [this file](https://github.com/ladybug-analysis-tools/honeybeex/blob/master/test/sunlighthours_sample.gh?raw=true).

[2016-06-28 16:54] stgeorges commented on #266
I am not sure I understand what the file does. It crashed my Rhino 5 even though I increased the _gridSize_ inputs (it could be just an issue with my PC. Due to heat it's not working properly).
Can you explain in words on what the development difference between the butterfly and ladybug components will be?
I noticed that the analysis mesh generation and results (resultMesh, analysisMesh) will not

[2016-06-28 16:58] mostaphaRoudsari commented on #266
@stgeorges, I will write a separate post for developers later. It's more than one or two paragraphs. I will do it after the next release when I have more examples to share.

[2016-06-29 01:04] chriswmackey commented on #268
addressed.
https://github.com/mostaphaRoudsari/ladybug/commit/c3084979946aa9c4f8c765061b27aa874135a8e9

[2016-06-29 01:04] #268 closed

[2016-06-30 00:31] chriswmackey commented on #266
@mostaphaRoudsari and @stgeorges ,

I know that the slides were far ahead of the project and, as per your suggestion Mostapha, I have created both a "Present" and "Future" set of plugin diagrams in the presentation.  I think that having two versions of the slides is necessary because it is not simply that new features are being added but that Daysim will be replaced with the 2-phase work of @mosta

[2016-06-30 01:00] sariths commented on #266
@chriswmackey and @mostaphaRoudsari , I had a question. If the new Honeybee scripts are being invoked through Revit or Rhino aren't we still constrained by the limitations of IronPython?
If we call these scripts through `sys.path.append` I think the scripts will run on whatever flavor of Python that called them instead of Python 2.7.

[2016-06-30 16:27] stgeorges commented on #266
I feel a bit left over. In a sense of being informed, not contributing. I am aware of Mostapha's ladybug analysis tools project, but I did not know other developer(s) have already been acquainted about the future changes.
I will wait for that Mostapha's future post.

[2016-06-30 22:13] chriswmackey commented on #266
@sariths ,
Good point.  I don't know what flavor of Python we are going to suggest that users run as I know it has been left flexible up to this point.  Mostapha will probably make a decision of whether it's better to make users install an official version of python (like 2.7 or 3.-) or whether we should just have a hierarchy of installed Python versions.  In this latter case, we could search for

[2016-07-04 22:37] mostaphaRoudsari commented on #266
I suggest not to continue this conversation here. This issue is for *New Pedestrian Wind Comfort component* and not *where the development is going*. As I promised I will write full notes about the new structure once we release the new versions. Until then we will follow the current structure for ladybug and honeybee development. Thanks!

[2016-07-04 22:46] stgeorges commented on #266
Ok.

[2016-07-05 08:35] TheodoreGalanos commented on #266
@stgeorges

Hello! I was testing this component on a case I'm preparing lately and I had a few issues that I wanted to share.

First it seems as that the component is a bit heavy as more inputs are connected to it. Since it's going to be used with files that have a few million numbers I was wondering if there is a way to optimize this. Unfortunately, I can't really help here.

Another thing I noti

[2016-07-09 15:30] stgeorges commented on #266
Hi @TheodoreGalanos,

The multithread function is actually simple: it takes a list and a function name. Then assigns each item from the list to a thread which then performs the task on the function.
This can be very convenient when one has a couple of variables, and a list. The problem starts when there are a couple of lists, like in case of Pedestrian wind comfort component, where we use hourly w

[2016-07-28 10:06] stgeorges opened #276 "Monthly Bar Chart component issues"
Hi @chriswmackey ,

A couple of days ago I noticed two issues with the Monthly Bar Chart component in this topic on [grasshopper forum](http://www.grasshopper3d.com/group/ladybug/forum/topics/tof-algorithm?xg_source=activity):

1) If _inputData gets 8670 hourly values equal to 0, the component raises an error: "Attempted to divide with zero":

![monthly_bar_chart_component_error](https://cloud.git

[2016-07-29 07:35] mostaphaRoudsari commented on #276
Thanks @stgeorges! I leave this for @chriswmackey to review.

[2016-08-01 18:49] chriswmackey commented on #276
@stgeorges ,

Thank you for reporting the bugs here.  I have fixed them both with this commit:
https://github.com/mostaphaRoudsari/ladybug/commit/c60940d066d8c4118c94e4a6120ebe22539c50f8

Also, @mostaphaRoudsari , I remember you asking me a while back if the bar chart could be auto-sized when someone does not connect up an analysis period of a whole year.  This auto-sizing is present in this versi

[2016-08-01 18:49] #276 closed

[2016-08-04 22:59] stgeorges commented on #276
Hi @chriswmackey ,

Thank you for the quick reply.
Maybe there was a bit of misunderstanding.
My suggestion was that when a list of 8760 values was supplied to the _inputData input, that a user gets a notice when all of them are 0, instead of raising an error: "Attempted to divide with zero". And I can see this is fixed now.

However this fix also affected the data trees.
The older component was p

[2016-08-06 15:53] chriswmackey commented on #276
@stgeorges ,
The newer component runs fine with both all-zero branches and non-zero branches as long as you set "stackValues" to True.  So you could still produce the graph that you show in your image.  The issue that I think you are encountering is that, if stackValues is not set to True and the first list in the tree has all Zeros, the chart tries to make a y-axis that goes from 0 to 0.  I reali

[2016-08-06 15:58] chriswmackey commented on #261
This is now complete!

[2016-08-06 15:58] #261 closed

[2016-08-06 16:00] chriswmackey commented on #190
This issue is old and I am about to open a new one to discuss the solar hot water components.

[2016-08-06 16:00] #190 closed

[2016-08-06 16:25] chriswmackey opened #278 "Moving Solar Hot Water Components Out of WIP"
@stgeorges , @mostaphaRoudsari and any other users of the PV/Hot water components,

I am opening an issue here to discuss whether and (if so) how the solar hot water components should be moved out of WIP for the coming release in a few days.  This said, I don't think that we necessarily have to let the pressure of the release drive this issue and we can also just as easily do the release and then

[2016-08-06 17:35] stgeorges commented on #276
Hi @chriswmackey ,

It could be that the _stackValues has been set to False in my case.
Thank you for fixing the issue with zero values when _stackValues is set to False with [this latest change](https://github.com/mostaphaRoudsari/ladybug/commit/a46e3f0bca1b8da1d73788cd459084c394a4012c).

[2016-08-06 18:33] stgeorges commented on #278
Hi @chriswmackey , @mostaphaRoudsari ,
Thank you for opening the discussion.

```Option 1``` - I think it would be better if Photovoltaics components will be in EnvironmentalAnalysis Tab, Panel 4 while all Solar water heating ones would be in Panel 5.

```Option 2``` - This is also a good idea.

The thing that I do not like about ```Option 2``` is that it may require separating all Photovoltaics a

[2016-08-06 19:34] chriswmackey commented on #278
@stgeorges ,

Good to know about the TOF component.  Let's proceed with the plan to do it before the release.

There is certainly no pressure to have more than two panels in a "4 | Renewables tab" scenario.  You know your components best and I defer to your judgement.  The only thing that I think the Renweables tab offers that the other option is not so good with is that you can put components tha

[2016-08-06 19:49] stgeorges commented on #278
Hi @chriswmackey ,

I didn't understand the upper last sentence. What should be done before the release?

I didn't understand you this part.

Ok.

[2016-08-06 22:01] chriswmackey commented on #278
@stgeorges ,

All that we have to do before the release is decide where to put the components and put them there.  Unless there are any known bugs in the components which we should solve before the release (it sounds like there aren't any currently).

To clarify, there are a number of Ladybug components that only appear in the toolbar when you click to drop down a tab.  These components never show

[2016-08-06 22:22] stgeorges commented on #278
Thank you for the screenshot and explanation Chris! It is more clear now.

I am using a 15" monitor with 1024x768 resolution, so the number of components visible to my screen are definitely smaller. I see now from your screenshot how stretched the whole components toolbar can be.

But putting some of the Photovoltaics and Solar water heating components into the "0" category would mean that they wi

[2016-08-07 00:49] chriswmackey commented on #278
@stgeorges ,

Understood.  I trust your judgement about the best arrangement for your components and, if 2 panels with nothing below is best, then let's go for it.

I have finished editing everything in the Ladybug code base for the upcoming release.  At this point, you can send a pull request with your ideal arrangement of the components, I can merge it in without conflicts.

I sense that we woul

[2016-08-07 14:05] chriswmackey commented on #266
@stgeorges ,

Given that we came to the realization that Butterfly won't be released with full public support for a while, please send a pull request of your component to Ladybug when you get the chance.  Ideally, it would be great to have this for the next release in a day or two.  Let's put the component under WIP for the time being but I imagine that we can move it out soon and eventually move

[2016-08-07 16:36] chriswmackey commented on #278
@stgeorges ,

I just wanted to post this old conversation as it seems relevant:
http://www.grasshopper3d.com/group/ladybug/forum/topics/ladybug-sunrise-sunset?commentId=2985220%3AComment%3A1463246&groupId=2985220%3AGroup%3A658987

At present, one of the only ways we have to address Tim's and similar user's concern is by organizing components in a hierarchy with the most important as the most visib

[2016-08-07 21:29] stgeorges commented on #278
Hi @chriswmackey ,

Now that ```4 | Renewables``` sub-category (tab) is suppose to be introduced, does that mean that ```"6 | WIP"``` category, will become ```"7 | WIP"```?

http://www.grasshopper3d.com/group/ladybug/forum/topics/ladybug-sunrise-sunset?commentId=2985220%3AComment%3A1463246&groupId=2985220%3AGroup%3A658987

Thank you for posting the link to that discussion.
As far as I understood,

[2016-08-08 00:32] chriswmackey commented on #278
@stgeorges ,

In relation to Tim's comments, your logic sounds good and I buy your argument.

The change in categories that you mention is correct but, in your pull request, you only have to move your components into a 4 | Renewables tab and I can take care of moving the rest over.

I think that we may do the release relatively soon so, the sooner that you send the request, the better.  I can also

[2016-08-08 09:32] stgeorges commented on #278
I made a [new pull request in here](https://github.com/mostaphaRoudsari/ladybug/pull/279), with all versions changed to 0.0.63.
Changes were made to Photovoltaics and Solar water heating components, as well as Terrain shading mask and Horizon angles (sent to ```7 | WIP```). I added the .py and .ghuser files for the Pedestrian wind comfort component too.

[2016-08-08 09:44] stgeorges commented on #266
I added the .py and .ghuser files in this [pull request](https://github.com/mostaphaRoudsari/ladybug/pull/279).

[2016-08-08 20:32] chriswmackey commented on #266
I merged it in and all is looking great.  I think you win the award for best component icon with this one :)

I am going to close out this issue now that things are settled for the present.  In the future, I imagine that we can continue discussion on the Butterfly github when the time comes.

[2016-08-08 20:32] #266 closed

[2016-08-08 20:41] chriswmackey commented on #278
Merged! I like the final arrangement of the components and I think it helps to put the PV Surface and Hot Water surface in the first category.

Now we can close this one out!

[2016-08-08 20:41] #278 closed

[2016-08-08 20:43] stgeorges commented on #278
Thank you.

[2016-08-08 20:46] stgeorges commented on #266
Ok. Thank you.

[2016-08-09 13:12] mostaphaRoudsari opened #281 "Update version for the new release"

[2016-08-25 14:58] MingboPeng opened #285 "captureView is not taking the clippingPlaneObjects"
Hi Mostapha and Chris,

Is it possible to capture the objects on the rhino's clipping plane?
Thanks in advance.

Best,
Mingbo

[2016-08-25 15:11] mostaphaRoudsari commented on #285
Hi @MingboPeng, It should capture whatever you see in Rhino viewport. What are exactly trying to do?

[2016-08-25 15:12] #281 closed

[2016-08-25 21:33] MingboPeng commented on #285
Hi @mostaphaRoudsari , I was trying to make a test file to show you the problem, and it seems there is no problem of capture the "cut edge (marked on red)". But it does't work in a project file, I will try to figure out myself, and let you know later!
[image](https://cloud.githubusercontent.com/assets/9031066/17986613/8cf66a1c-6ae9-11e6-980e-a7ec4dd4d277.png)

[2016-08-26 04:02] chriswmackey commented on #285
@MingboPeng ,
Keep us posted.  It probably has to do with a setting in your project Rhino file.

[2016-08-28 23:51] chriswmackey commented on #244
@timurglobal ,

Seeing that things seem to be resolved here, I am going to close out the issue.  Feel free to repoen if there's still more to solve.

-Chris

[2016-08-28 23:51] #244 closed

[2016-08-29 20:10] ayezioro opened #287 "Change hint for LB_WindBoundaryProfile"
Hi,
I've found that for he LB_WindBoundaryProfile epwTerrain_ input, the hint should be changed from str to int. Otherwise the component gives an error (1. You have not connected a correct epwTerrain_ type.).
This is weird since the terrainType_ input works fine with the str.
Thaks,
-A.

[2016-08-30 20:29] chriswmackey commented on #287
Thanks for finding the issue with the EPW Terrian type, @ayezioro .

I have fixed it here so that it can now accept either the integer or the text name of the terrain:
https://github.com/mostaphaRoudsari/ladybug/commit/db04953c4511fad3b302ec01c18fa71231bdb712

[2016-08-30 20:29] #287 closed

[2016-08-31 14:02] ayezioro opened #289 "Wish: legendPar low/high bounds as list"
Hi,
As for yesterday's wonderful webinar on Ladybug (thanks Chris), i think it will be useful if the legendPar component will allow the low/high bounds inputs a list of values.
This come handy when you use the conditionalStatement_. If you want to compare alternatives you need the values of the wind roses, sunpaths to be equal (temperature, humidity, etc). Right now it gives you min/max values or

[2016-09-04 18:33] chriswmackey opened #291 "Change the name of prevailing outdoor temperature on adaptive comfort chart cmponent"
as per this conversation:

http://www.grasshopper3d.com/group/ladybug/forum/topics/lb-adaptivechart-plotting-issues?commentId=2985220%3AComment%3A1593320&xg_source=msg_com_gr_forum

[2016-09-11 14:20] mostaphaRoudsari commented on #289
@ayezioro I might be wrong but I think the list functionality is already there.  [Here](http://hydrashare.github.io/hydra/viewer?owner=avarth&fork=hydra&id=monthly_mean_min_max_temps&slide=0&scale=6.349603491530026&offset=-2777.336063740587,-1379.0342772413942) is an example. Am I missing something.

[2016-09-11 16:17] ayezioro commented on #289
Hi Mostapha,
Almost forgot about this and worse ... almost forgot what i ment.
But now i get it. See this image and file:
![capture](https://cloud.githubusercontent.com/assets/7526023/18418725/079a60e4-7854-11e6-9c7d-9ab74e33a71f.PNG)
https://www.dropbox.com/s/vpzggrq0jkfk7pm/1-WindAndNaturalVentilation_AY.gh?dl=

For instance, i want to plot the wind rose with conditional statements. Then i want

[2016-09-11 20:39] chriswmackey commented on #289
@ayezioro ,
Thanks for explaining and
@mostaphaRoudsari ,
Thanks for asking for clarification.

In this case, this seems to be a duplicate of a Honeybee issue here:
https://github.com/mostaphaRoudsari/Honeybee/issues/251
We can leave this issue here as I feel that it is more of a Ladybug issue than a Honeybee issue anyway.

I got 10% of the way into implementing this and I realized that it would r

[2016-09-11 22:00] mostaphaRoudsari commented on #289
Thank you Abraham for clarification. That is missing for a long time.

@chriswmackey agreed! Let's keep it for the new development as it's quite doable there.

[2016-09-17 19:52] chriswmackey commented on #232
I forgot to say that this is done!

[2016-09-17 19:52] #232 closed

[2016-09-22 22:32] alsheekhli opened #295 "please let the ladybug fly"
can you help in solving this problem as after i loaded the date, theer was a  warning please let the ladybug fly on its icon. need  some help to figure it out ?

[2016-09-22 23:04] mostaphaRoudsari commented on #295
You need to drag and drop ladybug_ladybug component into Grasshopper canvas. Check the [Grasshopper forum](http://www.grasshopper3d.com/group/ladybug/forum)!

[2016-09-22 23:04] #295 closed

[2016-09-26 15:53] chriswmackey opened #296 "Change Output Metric of Comfort Shade Benefit to be Degree-Days"
... Instead of degree-days per square meter.

All that I have to do is multiply the current results by the test region area and this will yield a more consistent output that is a better measure of the absolute value of the shade.

See this discussion for more info:
http://www.grasshopper3d.com/group/ladybug/forum/topics/inconsistencies-in-shadebenefit-evaluator?commentId=2985220%3AComment%3A160566

[2016-10-16 13:23] mostaphaRoudsari opened #303 "Update component fails if cluster is password protected!"
[here](http://www.grasshopper3d.com/group/ladybug/forum/topics/got-error-updating-lb-hb?page=1&commentId=2985220%3AComment%3A1619247&x=1#2985220Comment1619247).

[2016-10-16 16:59] chriswmackey opened #304 "Pull Bioclimatic Chart Out of WIP [Enable Alternate Display Types for Psychrometric Chart]"
Including Operative Temperature, Relative Humidity Chart, and (perhaps) Bioclimatic Chart (because it is so close to the Relative Humidity Chart and I have been looking for a reason to fuse efforts with @ayezioro ).  All of this is mentioned in this discussion:
http://www.grasshopper3d.com/group/ladybug/forum/topics/ladybug-psychrometric-chart-customization-as-in-cbe-thermal?commentId=2985220%3ACo

[2016-10-16 17:29] ayezioro commented on #304
Yes.
I want to discuss with you how to finally get the bioclimatic component out of the WIP. Maybe i'm having difficulties seeing this differently from how i'm used to. So i'm for joining efforts here.
I need some time to be able to retake this task, but in a month or so i think i'll be back here again.
-A.

[2016-10-16 21:17] chriswmackey commented on #304
@ayezioro ,

I had a thought that maybe we should take your component out of WIP now.  It was never for a lack of usability that we kept it in there if I remember.  It was just that we wanted to have the comfort polygon derived from a PMV model as opposed to the rules of thumb, which is only relevant to some cases an not others.

Given that I want to do a whole re-vamping of the psych chart for th

[2016-10-17 17:40] ayezioro commented on #304
Hi @chriswmackey ,
Agree with all you wrote. The functionality of the bioclimatic chart is based on rules of thumb, and i am much for something more robust, so i'm fine with your proposal.
So in a few weeks i'll get back here to start the process.
-A.

[2016-10-18 07:06] MauroLuzzatto opened #305 "Issue with the saving of the data of the .epw-file for creating the cumulative sky matrix"
I would like to report an issue with creating the cumulative sky matrix for weather files of different years from the same location with Ladybug. The component `Ladybug_GenCumulativeSkyMtx` creates a sub-directory with a copy of the `.epw` file, which is set as input to the component, in the default folder `Username\AppData\Roaming\Ladybug\`. The component uses now the .epw-file from this location

[2016-10-27 17:59] chriswmackey opened #308 "Found bug in such in such"
I found a bug.

[2016-10-27 18:00] chriswmackey commented on #308
no this is not a bug.

[2016-10-27 18:00] #308 closed

[2016-11-01 17:23] MingboPeng opened #312 "Comfort % problem on Psychometric chart"
Hi Mostapha and Chris,

Just notice there is something wrong with comfort % on Psychometric chart. please check Thermal Mass, 8.5% is obvious not right.

I double checked with "point in curves", found Thermal Mass and Evaporative cooling should be 48%, and comfort without strategies 39% (was 20.4%).

![image](https://cloud.githubusercontent.com/assets/9031066/19899139/4f3ff1e4-a035-11e6-95be-46f29

[2016-11-01 18:55] mostaphaRoudsari commented on #312
Thanks @MingboPeng for reporting this. @chriswmackey should be able to answer your question. My best guess is that it gives you the % after removing the points which are already covered by other strategies. Can you remove evaporative cooling and occupant use of fans and see if the value changes to what you expect?

[2016-11-02 20:32] MingboPeng commented on #312
@mostaphaRoudsari  Hi Mostapha, the result doesn't change, it is still 8.5% if I only keep Thermal Mass.

[2016-11-03 08:51] jacoposartore opened #314 "Update error - 'UOYear' referenced before assignement"
Hello,

while trying to update a ladybug definition I got this error.
I even tried to replace manually all the ladybug's components I had on the canvas but the error doesn't go away.

![image](https://cloud.githubusercontent.com/assets/8501837/19960033/ad72f808-a1aa-11e6-8794-7cb6e55867d2.png)

[2016-11-03 15:18] jacoposartore opened #315 "Solar Water Heating - Discrepancies when changing number of rows"
Hello,

I created a definition to see if calculations with Ladybug and those made by the mechanical engineer I'm collaborating with were similar.
Everything is working great when choosing a single row system: we checked the Solar Fraction Per Year output and it is close to the percentage he gave me.
![image](https://cloud.githubusercontent.com/assets/8501837/19964648/3dbe6a6a-a1c3-11e6-9a14-8fa69b

[2016-11-04 16:21] stgeorges commented on #315
Hi @jacoposartore ,

Thank you for finding the bug!
It looks that last time when component was edited, I forgot to add this line to its end:

`energyLoadPerRowPerHour = energyLoadPerRowPerHourDataTree`

So now the energyLoadPerRowPerHour output works.

But this output is not meant to be used to calculate the optimal system size when there is more than 1 row. Let me explain why:

Solar Water Heatin

[2016-11-04 22:55] MingboPeng opened #316 "EnergyPlus ShadeMaterial setting"
Hi @mostaphaRoudsari @chriswmackey

I have been testing interior shading in EnergyPlus, but with no luck to get it run. Here are some wishes and problems:
1.  The example file on hydra is not working anymore.
2. the newest version of EPWindowShades seems cannot generator HBObjWShades, (but there are windowBreps, and shadBreps)
3. assign shadeMaterial only by "EPWindowShades", I know this component

[2016-11-08 18:55] MingboPeng commented on #316
@mostaphaRoudsari @chriswmackey  got his work now. Didn't understand energyPlus settings correctly. Thanks anyway.

[2016-11-08 18:55] #316 closed

[2016-11-14 10:08] devngc opened #320 "Ladybug Shading Mask II not outputting maskedSkyDome"
Hi @mostaphaRoudsari,

While looking into [this](http://www.grasshopper3d.com/group/ladybug/forum/topics/shading-mask-component-does-not-run?xg_source=activity) query, I noted that the Ladybug_Shading Mask II component is not outputting anything from its maskedSkyDome output. Without this, the user is not able to color the shadedSkyDome as I have done in the image below.

I have created #319 that

[2016-11-15 18:52] mostaphaRoudsari commented on #314
@jacoposartore sorry for the delay! I just saw this. Is this still there? I can't recreate the issue.

[2016-11-17 02:33] chriswmackey commented on #312
@MingboPeng ,
I'm very sorry for the late reply.  I wrote the component to just give the points inside each polygon so it shouldn't be removing the points satisfied by the other strategies.  Also, the isPointInside command is exactly what is being used inside the Psych chart component so there should be agreement.

Perhaps there is an issue with another input on the component.  Are you using an an

[2016-11-18 13:47] AntonelloDN commented on #320
Hi @mostaphaRoudsari and @devngc

probably, this advice could help to reach the right number of surfaces
![advice](https://cloud.githubusercontent.com/assets/16763953/20432030/9003fe12-ad9d-11e6-9591-6bcc2cd2de7d.png)

Sometimes the current fold of the sky splits the projected surface. Xaxis as axis of revolution should solve this.

P.S. sorry for my ugly sketch! XD

[2016-11-18 16:25] devngc commented on #320
Hi @AntonelloDN,

So cool of you to send a sketch. I think this is a great idea to generate a seamless skyDome. Very useful advice.

Thanks,
Devang

[2016-11-19 22:24] MingboPeng commented on #312
Hi @chriswmackey ,

I found the problematic line in this component (line: 1592 "if strategyTextNames[countComf + countStrat + 1] != "Thermal Mass + Night Vent" or epwData == False or patternList != []:") .

I don't understand why you exclude the "Thermal Mass + Night Vent" here. it gets the correct % when I remove this exclusion.

I have attached the gh file, for your debugging.

Please chek

![im

[2016-11-19 22:55] stgeorges opened #322 "Tiny bug for "Window Downdraft" component"
Hi @chriswmackey ,

I just noticed that Ladybug ```Window Downdraft``` component has two lines missing:
[code]
before raising the warning.

[2016-11-20 16:49] devngc commented on #320
I took your advice seriously @AntonelloDN. It was an astute observation. Thanks again!

[2016-11-21 02:58] #320 closed

[2016-11-23 19:06] devngc commented on #256
@TheodoreGalanos  @chriswmackey,

Implemented. Please check #323

Thanks,
Devang

[2016-11-24 03:29] #256 closed

[2016-11-24 03:32] mostaphaRoudsari commented on #322
@stgeorges thanks for reporting! Why don't you go ahead and send a PR for this one? :)

[2016-11-24 08:29] stgeorges commented on #322
Ok. I opened a new pull request in here:
https://github.com/mostaphaRoudsari/ladybug/pull/324

[2016-11-24 15:20] mostaphaRoudsari commented on #322
Thanks! merged!

[2016-11-24 15:20] #322 closed

[2016-11-25 00:28] chriswmackey commented on #322
Thank you for fixing this @stgeorges !

[2016-11-25 11:20] stgeorges commented on #322
Thank you guys!

[2016-11-25 20:20] chriswmackey commented on #312
@MingboPeng ,

Thank you for reporting this and sorry for the late response.  There definitely seems to be an issue as this comparison with the native GH isPointInside is giving some different results for the thermal mass + night flushing:
![psychchartnotcorrect](https://cloud.githubusercontent.com/assets/5567574/20634818/ba9b4b6e-b322-11e6-8144-adf977c6462c.JPG)

However, the change that you made

[2016-11-25 20:34] chriswmackey commented on #312
Ah, Wait.  I know what's going on here.  I had made this component so long ago that I forgot why I put that line in there (the one that you found).  It's because, in order for you to be able to use thermal mass, you need the temperature to get cold enough within the last 12 hours.  So, even though the point is inside the polygon, it might not really be an hour that can be met with thermal mass and

[2016-11-25 20:34] #312 closed

[2016-11-25 21:05] mostaphaRoudsari commented on #312
@chriswmackey your logic totally makes sense to me. It's great that we have it there, but we should find a way to communicate this with the user in a better way. I'm not sure how but I think it's a critical part of the process for teaching the users about the logics in calculation.

[2016-11-26 02:47] devngc commented on #312
@chriswmackey,

Interesting discussion here. I have not checked inside the component, but by looking at the image you attached, it occurs to me that in this particular case the thermal mass strategy is really helping in the summer situation. I say this because the comfort polygon for thermal mass starts at about 24C DB. If I am not wrong, in New York, only during the period of June to mid-Septembe

[2016-11-30 14:18] jacoposartore commented on #314
I tried today and now it's working! Thanks!

[2016-11-30 14:18] #314 closed

[2016-12-01 06:48] devngc opened #325 "Test Cases for Developer Testing"
Dear Awesome Developers,

First of all, this is not an issue. It's a suggestion.

I am writing here today to put forward an idea, I recently had while working on one of the existing Ladybug components. LB + HB is growing rapidly and it is amazing, but I think in the future, we will have more occurrences of people coming together and expanding / buttressing the existing development. In such scenari

[2016-12-02 07:57] devngc commented on #196
@mostaphaRoudsari @chriswmackey @stgeorges ,

I am writing here today to put forward an idea, I recently had while working on one of the existing Ladybug components. LB + HB is growing rapidly and it is amazing, but I think in the future, we will have more occurrences of people coming together and expanding / buttressing the existing development. In such scenarios, I believe it would be very helpf

[2016-12-02 07:57] #325 closed

[2016-12-02 12:33] chriswmackey commented on #196
@devngc ,

This is something that Mostapha and I have been thinking about for a while but it will probably require a ground-up restructuring of the code if we are to be able to run the tests reliably.  As such, I think we should include this on the new version of Ladybug + Honeybee under development rather than try to backpedal and get it to work here.

-Chris

[2016-12-02 16:07] devngc commented on #196
Sure @chriswmackey. I agree.

Thanks,
-Devang

[2016-12-04 16:01] mostaphaRoudsari opened #327 "Add Beafourt scale to windrose"
Following up from the conversation [here](https://github.com/mostaphaRoudsari/ladybug/pull/323#issuecomment-262689187) started by @ayezioro:

hi @devngc ,
Thanks for this. I have though a new challenge for you, unless you tell this is doable:
There are some requirements regarding % of time that you can allow for considering the wind as usable and/or dangerous. For instance, for mechanical reasons,

[2016-12-04 18:14] chriswmackey opened #328 "Wind Rose Feature Requests"
This is continuing [a thread here](https://github.com/mostaphaRoudsari/ladybug/pull/323#issuecomment-264710180) where I listed a bunch of feature requests for the new wind rose.  These include:

1. Provide an output of average wind velocities and frequencies as lists for all directions.
2. Produce wind velocities and frequencies for all acceptable directions.
3. Keep offset for average velocities

[2016-12-04 18:18] devngc commented on #328
@chriswmackey,

I have incorporated all those features. I am currently testing the component. Will share the same with you for a review soon.

Thanks,
Devang

[2016-12-04 18:19] chriswmackey commented on #328
Ok.  Sounds great!

[2016-12-04 20:49] devngc commented on #328
@chriswmackey,

Please find snap shots and [sample file](https://github.com/devngc/Work-in-Progress/blob/master/WindRose_R1.gh) for wind rose component with your specifications incorporated.

1. Beaufort Ranges Connected
![beaufort range](https://cloud.githubusercontent.com/assets/20086924/20869061/8f7efda2-ba90-11e6-8411-9b03c0daa1ff.jpg)

2. Regular  Conditional  + Analysis Period
![regular cond

[2016-12-04 21:22] chriswmackey commented on #328
@devngc ,
This is absolutely awesome!!!!  Thank you so much for adding all of this in so quickly.
As far as I can tell from playing around with the file, everything has been addressed so please send a pull request whenever you get the chance and I will merge it in and close out this issue.
-Chris

[2016-12-04 21:32] chriswmackey commented on #328
@devngc ,
I was going to close out this issue as a result of [your recent pull request](https://github.com/mostaphaRoudsari/ladybug/pull/329#issuecomment-264732291) but I realized that your updated userObject in your pull request does not seem to be the same one in the example file you uploaded here.

Please send another pull request with the correct userObject and then we can close out this issue

[2016-12-04 21:37] chriswmackey commented on #327
In @devngc 's recent pull request, the Beafourt scale component was placed in the visualize weather data tab, where it really does not seem to fit:
![misplacedbeaufort](https://cloud.githubusercontent.com/assets/5567574/20869419/f48b0458-ba3f-11e6-90a0-865915861df9.JPG)

I feel that it is better placed in the Extra Tab next to the comfort parameter components:
![comfortparametercomps](https://clou

[2016-12-04 21:39] devngc commented on #328
Thank you @chriswmackey,

You also suggested we group outputs together. I tried doing that too. Once I did that, the component stopped showing the legend. (It would show if output of legend were provided to Gh preview component.) without giving any error. I spent some time on that but could not find the reason for that behavior. So eventually, I just added new outputs and did not group them.

You

[2016-12-04 21:44] devngc commented on #327
@chriswmackey,

Noted. I have no problem with that. Will do that when I initiate a PR.

Thanks,
-Devang

[2016-12-04 22:45] chriswmackey commented on #328
@devngc ,

With regards to reorganizing the outputs, the reason why some of the outputs are hidden is a result of this code:
https://github.com/mostaphaRoudsari/ladybug/blob/master/src/Ladybug_Wind%20Rose.py#L896-L897
You will need to change the index specified to ensure that the right outputs are displayed or hidden.

I see what you mean about the other issue but it's pretty minor in my mind.  To

[2016-12-05 06:57] devngc commented on #328
Thanks a lot @chriswmackey!

I could address the grouping of outputs. The code you pointed out to was very helpful. The second limitation is still in place. I will need to look deeper to lift this limitation. Will work on the same.

Thank you for help!
-Devang

[2016-12-05 20:05] devngc commented on #328
@chriswmackey,

The limitation has been lifted. Please find image attached. Sample file can be found [here.](https://github.com/devngc/Work-in-Progress/blob/master/WindRose_R2.gh)

Beaufort + Conditional Statement+ Analysis Period + Annual Hourly Data
![beaufort conditional analysis period annualhourlydata](https://cloud.githubusercontent.com/assets/20086924/20899616/1d03afae-bb51-11e6-9f9a-c38bd1

[2016-12-05 20:19] devngc commented on #327
@mostaphaRoudsari,
This was addressed in #330. Can be closed.
Thanks,
-Devang

[2016-12-06 05:26] chriswmackey commented on #327
@devngc ,
I've tested the new component on my system and all looks great.  Let's close this one out!

[2016-12-06 05:26] #327 closed

[2016-12-06 05:27] chriswmackey commented on #328
@devngc ,
Now that all issues are addressed, I think we can close this one out.  Thanks again for all of your hard work!

[2016-12-06 05:27] #328 closed

[2016-12-06 05:29] devngc commented on #328
@chriswmackey,
Thank you! Always a pleasure.
-Devang

[2016-12-06 21:11] devngc commented on #33
@mostaphaRoudsari,
Do we still need this? I believe we have it covered through many components.

[2016-12-06 21:14] devngc commented on #165
@mostaphaRoudsari,
Did we not address this in #319?
-Devang

[2016-12-06 23:13] mostaphaRoudsari commented on #165
@devngc this is the other mask component which has a segmented sky.

[2016-12-06 23:13] mostaphaRoudsari commented on #33
Agreed! we can close this for now.

[2016-12-06 23:13] #33 closed

[2016-12-21 07:33] devngc opened #337 "Ladybug_False Start Toggle: Loading Error"
Hi @AndrewHeumann, @mostaphaRoudsari,

On loading the new Ladybug_False Start Toggle, I receive this error. Is this happening to me only?

![screenclip](https://cloud.githubusercontent.com/assets/20086924/21380802/a3f44c52-c77d-11e6-80cf-75317f6d0992.png)

Thanks,
-Devang

[2016-12-21 22:02] RenzoJA opened #338 "No colours showing when generating a sun path and reference points"
Hi I'm not getting any colours when running the workflow mentioned above. I'm using Dynamo 1.2. I have also tried to run the same definition on other computers but still can't get colours to come through. Thanks

[2016-12-22 17:12] mostaphaRoudsari commented on #337
@devngc you need to install the toggle itself first by copying the [gha file](https://github.com/mostaphaRoudsari/ladybug/blob/master/userObjects/FalseStartToggle.gha?raw=true). Ladybug update doesn't copy GHA files for you.

Don't forget to unblock the file after downloading.

[2016-12-22 17:25] devngc commented on #337
@mostaphaRoudsari,
Thanks a lot. It works now.

[2016-12-22 17:25] #337 closed

[2016-12-26 03:46] mostaphaRoudsari commented on #338
Hi @RenzoJA! You should have posted this issue to https://github.com/ladybug-analysis-tools/ladybug-dynamo/issues but in any case can you provide more details? Does it give you any error message from `report` output?

[2016-12-30 16:22] chriswmackey opened #339 "Add Stereographic Option For SunPath, Sky Dome, Shading Mask, Cala-Dome, and Sky Visualizer"
I now have a few people asking for this as it makes it easy to trace shade patterns onto the sunpath and other sky-dome visualizations.  I was originally thinking that I might be able to write the projection function with Rhino Transforms but it involves a non-uniform scaling from the center of the dome, which doesn't seem possible with these commands.  If this involves a ground-up re-creation of

[2016-12-30 16:40] mostaphaRoudsari commented on #339
@Vyrwn should have some inputs on this. I think he has already done it in Rhino/Grasshopper.

[2016-12-30 16:42] Vyrwn commented on #339
Hi Chris,

I had a small grasshopper file to do the Stereographic SunPath  ( I dont know if you remember)
https://github.com/Vyrwn/byron-master/blob/master/StereoGraphic_SunPath.ghuser

Just before the break I was trying to make it in Python.
https://github.com/Vyrwn/byron-master/blob/master/StereoGraphic_Python.ghuser

I don't know if this is helpful in any way. I had also created a component for

[2016-12-30 16:44] Vyrwn commented on #339
I would not recommend running the Python script yet as it is not finished and will probably take too long to work. Also it is not commented at all. I hope I will remember what I did after the holidays

[2016-12-31 01:04] chriswmackey commented on #339
@Vyrwn ,
I knew that you had been working on it but I didn't realize how far you had gotten. I haven't been able to get the non-python ghuser object to run yet but it looks complete and I trust that it's probably the result of mis-matches of Ladybug versions.

My main question at this point is about how you plan to implement it in python.  I see that the python component is standalone and, ideally

[2016-12-31 09:37] Vyrwn commented on #339
@chriswmackey.
it is as @mostaphaRoudsari showed in his presentation. Old clusters that tend to get outdated and something might go wrong down the road. In this case, yesterday when I did an update on the components in a rush to send it to you, I plugged the "location" wire into "-----------".

I am sending a working (hopefuly) version in gh file.
https://github.com/Vyrwn/byron-master/blob/master/

[2017-01-01 23:54] chriswmackey commented on #339
@Vyrwn ,
I was able to get your GH file to run correctly on my system.  There will definitely be a lot of gains in efficiency with converting this over to Python as it took quite some time to run on my system.  I can see that the math to do the projection is relatively simple both in your component and in the wikipedia page:
https://en.wikipedia.org/wiki/Stereographic_projection

Directly engaging

[2017-01-02 16:56] Vyrwn commented on #339
@chriswmackey ,
I will start looking into it tomorrow. Let me see how far I can go this week.

If I run into any major problems I will let you know.

-Byron

[2017-01-05 19:26] Vyrwn commented on #339
@chriswmackey,

I managed to do a component that creates a stereographic sunpath out of the Ladybug_SunPath component.

https://github.com/Vyrwn/byron-master/blob/master/StereoGraphic_SunPath/stereo.gh

It runs in less than a second now that I am testing it. I hope it works fine. I will add all the necessary checks now to work well with Ladybug.

There are two issues that I am trying to resolve th

[2017-01-05 19:48] Vyrwn commented on #339
Tomorrow if I get some time I will try to make the generic component for curves and meshes as you suggested.

I just thought it was easier to start with the sunPath version.

-Byron

[2017-01-06 18:16] Vyrwn commented on #339
@chriswmackey,

https://github.com/Vyrwn/byron-master/blob/master/StereoGraphic_SunPath/StereoGraphic_SunPath.ghuser

Some updates on the component, now I resolved the issue that was creating a weird curve on the hours marks. I've tested it with several different locations and it seems to be responding with no problems.

I also added the angle curves and the origin. I played arround with different

[2017-01-07 22:34] chriswmackey commented on #339
@Vyrwn ,
Glad that you have been making progress on this.  The new component is looking nice and I'm glad that everything is python now.  The next steps now are to write a generic function to project any geometry and to replace all of your instances of rhinoscript with rhinocommon.  Let me know if you get stuck with this and I can help.

Assigning colors to rhinocommon objects is difficult and mes

[2017-01-09 21:14] Vyrwn commented on #339
@chriswmackey,
I worked a bit on the generic component to project any mesh in stereographic way.

can you please have a look at the file.
https://github.com/Vyrwn/byron-master/blob/master/StereoGraphic_SunPath/stereoMesh.gh

I have two problems.
1. For some reason until line 38 where I generate the polyline with the 3 or 4 mesh vertices it works fine.
when I generate the surface though, or the mes

[2017-01-10 03:44] chriswmackey commented on #339
@Vyrwn ,

Great job and thanks for the hustle on this. I have taken a look at your file, red your questions, and I have a number of suggestions.  Notably, you have produced an excellent example of why people should use Rhinocommon instead of Rhinoscript, which is summarized in the image and GH file below:
<img width="318" alt="speedofcode" src="https://cloud.githubusercontent.com/assets/5567574/21

[2017-01-10 09:39] Vyrwn commented on #339
@chriswmackey,
thank you very much for looking into this and for finding the time to prepare the improved component. This will be very helpful for me as a reference to improve my Rhinocommon workflow. This was a good example because I knew exactly what I wanted, a command to move the vertices without deconstructing and reconstructing a mesh, but didn't know what that command was.

I know yield is

[2017-01-11 13:46] chriswmackey commented on #339
@vyrwn ,
It was not much time to make the alternates of the component and, in the long run, I see an example like this helping people save a lot of time. I know that every new developer (including myself some time ago) goes through a time where they don't understand how much better it is to use rhinocommon and I know that I just had to trust Mostapha. Now that we have an example like this, it does

[2017-01-11 16:02] mostaphaRoudsari commented on #339
I haven't see this specific case but if you use tuples and generators wisely they are both more efficient than lists memory-wise.

[2017-01-12 01:49] chriswmackey commented on #339
@mostaphaRoudsari ,
I know that is definitely true.  The issue here was that @Vyrwn was using tuples and generators just to convert them to a list after he yielded them. But I definitely know that they are great if you have a list that you are certain you will only iterate through once.  Generally, I prefer to put them in after I have finished writing the code and I'm more sure that I won't be cal

[2017-01-30 15:13] Vyrwn opened #345 "commit "Stereograhpic and Orthographic Projections Added to Sun Path""
@chriswmackey,

first of all thank you for adding these options and even more thank you for adding my name to the credits.

I just had a quick look and I have a comment for the angle crvs. I see in the code that you have it marked as done in last minute and to be improved, but there is a problem with the angle curves of the stereographic sunpath.

The angles shown now are of an "equidistant" sunpa

[2017-01-31 19:43] chriswmackey commented on #345
@Vyrwn ,
Thanks for catching this.  I was looking at your file while integrating the new code but I did not realize that the angle curves for the stereo projections were not equi-distant.  I wanted to calculate the radius of the curves based on a mathematical formula as this is faster than using the projection function (although the speed increase is admittedly not really noticeable).  In any case

[2017-01-31 19:43] #345 closed

[2017-02-02 00:57] DambronOlivier commented on #217
Dear @chriswmackey,

I am currently testing to link BF wind speeds into Outdoor comfort.
As the Ladybug outdoor comfort calculator takes into account the windspeed at 10 meters above ground for UTCI, would there be a work-around to input velocities calculated at body height and still use the metric appropriately?
Although It seems to be possible to apply a coefficient to deduce an approximated gro

[2017-02-04 17:19] nildan opened #348 "Contour Mesh suggestion"
Hi!
Love your work here, thanks for doing all this great stuff. I  played around a little with the new Contour Mesh component – it's great. Really useful for making nice visualizations.

An additional thing I would like to do, however, is to show only some of the contour lines  – for example highlighting the 1 % line in a daylight factor simulation. An output that makes it possible to cull the lin

[2017-02-05 01:28] chriswmackey commented on #217
@DambronOlivier ,

This is an excellent question as I dove into understanding the UTCI assumptions about wind right after @stgeorges brought up this point earlier in this issue.  It turns out that the creators of UTCI made a very simple assumption about the relation between meteorological and ground wind speeds in order to relate the thousands of results from the detailed Fiala human energy balanc

[2017-02-05 01:42] chriswmackey commented on #217
Also, this reminds me @stgeorges .  I have been thinking recently about how the default sex for the Ladybug PET model is male and, while you can make an argument for the use of a default age that is "average human age" or a default weight that is "average human body weight," we are clearly not doing this with sex.  Is there any way of using the PET model with an "average sex?" or an average betwee

[2017-02-05 23:55] stgeorges commented on #217
Hi @DambronOlivier , @chriswmackey

Fiala's model equations can be found in here:
https://dspace.lboro.ac.uk/dspace-jspui/handle/2134/9318

As Chris already pointed out: the multiplication of the 2/3 with 10 m/s wind speed values scales the wind speed from meteorological value to body center height value. Fiala is essentially using the logarithmic wind profile with roughness lengths for some reaso

[2017-02-06 04:35] chriswmackey commented on #348
@nildan ,

I'm glad to hear that you like the new component.  The type of visualization that you are talking about is relatively straightforward to set up by post-processing the results from the contour mesh component.  You probably want to use the legendPar to get the contour lines to land right on your threshold then use the List Item component to select out the meshes that you want to display.

[2017-02-07 04:33] chriswmackey commented on #217
@stgeorges ,

Thank you for all of the useful  information.  I'm still having a bit of trouble understanding why ENVI-met felt the need to discourage the use of UTCI.   If it is simply because the default regression for UTCI uses a meteorological wind speed, why not simply multiply the ground level-wind results by 1.5 before input, essentially specifying this as the ground-level wind speed for the

[2017-02-07 04:44] Omidmr opened #350 "LB Radiation analysis component [disFromBase] error"
Hi @chriswmackey ,
LB Radiation analysis component [distance From Base] input, doesn't accept geo.
![image 4](https://cloud.githubusercontent.com/assets/11173265/22678050/8195b754-ed0c-11e6-9ca4-b6c93723ca73.png)

""
Current document units is in Meters
Conversion to Meters will be applied = 1.000
Runtime error (MissingMemberException): 'Guid' object has no attribute '__float__'
Traceback:
  line 2

[2017-02-07 05:48] devngc commented on #350
@Omidmr Can you please elaborate why you are providing a geo to this input? Can you not provide a float?

[2017-02-07 08:28] Omidmr commented on #350
Hi @devngc ! thanks. It's not my personal issue. I agree with you with float & number.
Btw, I think it can be useful sometimes. or for the specific purpose.

best,
Omid.

[2017-02-07 09:26] stgeorges commented on #217
Hi @chriswmackey ,

The way I understand it that PET takes into account only a single wind speed value: that at 1.1 meters, as it represents the whole body as a sphere at the same height above the ground. So due to PET's simplicity one can calculate the wind speed at 1.1meters and use it for PET.

UTCI on the other hand represents the body as a system of 15 cylinders, where each of them requires i

[2017-02-07 13:54] mostaphaRoudsari commented on #350
Hi @Omidmr! I also commented in grasshopper group but probably here is a better place to discuss this. Are you proposing an option to use a different geometry to create the test points? I'm not sure if this is a bug report or a feature request.

[2017-02-07 13:57] mostaphaRoudsari commented on #350
I think I know what is the issue now. The input type hint is missing.

[2017-02-07 17:11] Omidmr commented on #350
Hi @mostaphaRoudsari, Thanks for the reply.

I think it's interesting as the second option for creating test points with surface instead number ( by that can will be cull unwanted areas of surfaces for analysis).
I'm trying for preparing an option for that.
best.

[2017-02-07 18:18] nildan commented on #348
Thanks Chris, I didn't realise this. So, this example does pretty much what I want:

[https://www.dropbox.com/s/d98deud51bxr4jf/contour%20mesh%20question.gh?dl=0]

Two quick questions though:

1) Why doesn't the lowest value meshes (<0,4) show up by default in this case?
2) Inputting _contourType 1 or 3 gives an error now. Bug?

Thanks,
Daniel

[2017-02-10 01:47] chriswmackey commented on #348
@nildan ,
Whenever you see holes in the mesh or a certain surface not showing up, it's the result of the fact that your analysis grid is not fine enough for the number of contours that you are specifying.  In other words, the Rhino intersection calculation that makes the contours is failing.  In your case here, you can either re-run your analysis with a finer grid or decrease your number of contou

[2017-02-10 01:47] #348 closed

[2017-02-10 02:49] chriswmackey commented on #217
@stgeorges ,
Thank you very much for the clarification about UTCI's wind assumptions.  I see now why you could argue that PET could be a bit better suited to handle custom CFD results.  Still, both models seem a bit far from the ideal, which would have you able to put custom wind speeds that you get from the CFD into the different bodily nodes.   In other words, the fact that PET doesn't have an i

[2017-02-10 04:24] Omidmr commented on #350
Thanks, @chriswmackey, Currently I think it's no need another option for creating test points.
Until I write that. I close this.
Thanks again.

[2017-02-10 04:24] #350 closed

[2017-02-11 18:40] nildan commented on #348
OK, I understand. Thanks, now it works!

-Daniel

[2017-02-12 23:53] stgeorges commented on #217
Hi @chriswmackey ,

I don't think we can do this, as PET simplifies the whole body (limbs and internal organs) as a single sphere, with exception of skin. Unlike UTCI.

We all agree on UTCI superiority over PET. No question about it. The problem with wind speeds seems to be that PET uses exactly those which correspond to its model. UTCI polynomial regression equations model we currently have, uses

[2017-02-13 00:15] chriswmackey commented on #339
I'm happy to say that this is finally all implemented. Thanks, again, @vyrwn , for making this a reality!

[2017-02-13 00:15] #339 closed

[2017-02-13 01:16] chriswmackey commented on #217
@stgeorges ,

I didn't mean for my response to sound like an argument for one model's complete superiority over another.  Certainly different models are better suited to different situations and I know that I dragged on this thread because I wanted to be sure of myself when I recommend that PET is better suited for CFD-informed studies (and so that I understand how to get the most accurate results

[2017-02-13 09:21] stgeorges commented on #217
Hi @chriswmackey ,

No offense taken. Sorry if my upper reply sounded as if we argued around something.
Discussion went both ways, with myself learning from you too!
Everything I said should be taken as my opinion not as a set of facts. It may be that I am completely wrong on all of them.

Implementation of "average sex" confronts with some of the Ladybug "Body Characteristics" indices: BMILevel a

[2017-02-15 12:31] marios-tsiliakos opened #354 "Ladybug_Create Legend component suggestion"
In order to incorporate the case where the same **base point** for the legend is provided by both the legend params component.
*you can add the following line:*

`if legendBasePoint == None and legendBasePt_ != None: legendBasePoint = legendBasePt_
elif legendBasePoint != None and legendBasePt_ != None:legendBasePoint = legendBasePt_
else: legendBasePoint =  @rc.Geometry.Point3d(0,0,0)`

*Just a s

[2017-03-01 05:43] ayezioro opened #360 "Cosmetic: Category to fix"
Hi,
Something really silly.
In the LB categories remained one that contains only one component (StrategyList). It is located between 3 and 4.
Suggest to move it to the 5 | Extra.
-A.

[2017-03-01 08:50] ayezioro commented on #360
Mi mistake,
I still have the old component in my UserLibrary directory.
Sorry and closing this one.
-A.

[2017-03-01 08:50] #360 closed

[2017-03-01 17:39] marios-tsiliakos opened #361 "Ladybug_ViewAnalysis View Cone for Point Targets Enhancement"
Hi @mostaphaRoudsari,

As an enhancement for the view analysis component you should consider adding a view cone option for the  Ladybug_ViewAnalysis Component when point(s) are set up as targets.

I've added the following code to the **Ladybug_Ladybug** Component at the *parallel_viewCalculator* method
[code]
 It seems to work however I'm sure you will be able to integrate it better.

Ta,
M

[2017-03-02 16:22] ayezioro opened #362 "shadingMask orientation angle inconsistency"
Hi,
For the orientation_ input there is a discrepancy between numerical angles of this component and others.
For instance 90 (supposed to be east) performs as west. For Sunpath component 90 is east, 270 west, etc.

Thanks,
-A.

[2017-03-03 19:42] chriswmackey commented on #338
Given that there was no response here, I'm going to assume that the conversation continued over on the Ladybug-Dynamo repo.  Feel free to reopen the issue if I'm wrong.

[2017-03-03 19:42] #338 closed

[2017-03-05 00:11] stgeorges opened #364 "Correcting sun angles for the influence of north direction angle"
Hi @twastvedt ,

I understand that it's been a long time since you contributed to the Ladybug repository, but I was wondering if you could help me with one issue:
I would like to use the [Sunpath.solInitOutput](https://github.com/mostaphaRoudsari/ladybug/blob/master/src/ladybug_ladybug.py#L1494) method which you wrote for the ```Ladybug_Ladybug.py``` file.
I will be using it to get sun zenith, alt

[2017-03-06 17:49] chriswmackey commented on #364
@stgeorges ,

Perhaps we might get a response from @twastvedt here but I know that he wrote the code a long time ago and the function that you are referring to is actually an amalgamation of @mostaphaRoudsari 's original function (derived from the Radiance sunpath), @twastvedt 's function that he originally wrote for "Colored Sky Visualizer" component, and some patchwork that I did to get these tw

[2017-03-06 18:25] stgeorges commented on #364
Hi @chriswmackey ,

Thank you for the quick reply and detailed clarification!! I envy your memory to remember where particular methods came from and how did they change during time.
The https://github.com/mostaphaRoudsari/ladybug/pull/363 pull request may still not fixed all the things with the upper mentioned sun angles and north direction angle.
I would be very grateful if this issue would remai

[2017-03-06 18:43] twastvedt commented on #364
Hi Djordje! (and Chris!)
Wow, it has been a while. Thanks for reaching out. I think it will be safest if I don't speak to specifics of the code as, like Chris, I don't remember how it all went down. I can speak with some certainty about the parameters though, as those aren't specific to the way we implemented the calculations.

- Yes, the calculation of the sun's altitude will not be affected by t

[2017-03-06 18:49] stgeorges commented on #364
Thank you for the quick reply @twastvedt !

Can you just be a bit more specific on this part please:

[2017-03-06 18:54] twastvedt commented on #364
I'm not sure if `final_solAz` should be `self.angle2North + self.solAz` or `-self.angle2North + self.solAz`, but for large values of `self.angle2North` it should be easy to distinguish which of the two equations is correct as you'll already have an idea of roughly what the value of `final_solAz` should be based on common sense.

[2017-03-06 18:57] stgeorges commented on #364
Thank you for the clarification Trygve!!

[2017-03-06 23:16] #364 closed

[2017-03-07 09:04] nildan opened #368 "Contour Mesh"
Hi!
I did some testing of the Contour Mesh component prior to the last release, and after having used it for a while now, I have a few comments:

1) Again, it's great! Really, in my book this opens up a whole new set of visualisation possibilities for Ladybug. Thanks for adding it.
2) I've found that the question I had before, that depending on the mesh and values it sometimes doesn't fill the ent

[2017-03-09 00:29] chriswmackey commented on #368
@nildan ,
I have some ideas about how to make the contour mesh more reliable and I will try to add them soon.  I have noticed that the Rhino intersection will fail in in the portions of the mesh where it is a single repeating value.  Thankfully, putting a colored mesh with the recolor mesh component beneath the contour mesh usually addresses this well.
I'll post back here once I build this into th

[2017-03-09 07:40] nildan commented on #368
Sounds great. Thanks!

[2017-03-12 20:08] ayezioro opened #369 "sunlightHoursAnalysis - _disFromBase"
Hi,
My understanding until now, is that the resulting mesh for this component should be offseted according to the _disFromBase input.
The test points are, but the mesh itself remains in the same place as the geometry input.
Is my understanding wrong?
Thanks,
-A.

[2017-03-12 20:54] mostaphaRoudsari commented on #369
Hi Abraham, The mesh stays as the original surface. Only the test points are moved not to intersect with the original surface/mesh.

[2017-03-12 22:39] ayezioro commented on #369
OK. Thanks Mostapha.
Was just wondering. Something inb the description of the input is also (kind of) misleading:

All good now.
Thanks again,
-A.

[2017-03-12 22:39] #369 closed

[2017-03-13 01:23] mostaphaRoudsari commented on #369
I agree that it can be misleading. cc: @chriswmackey

[2017-03-14 18:13] chriswmackey commented on #369
@ayezioro ,

Thank you for pointing this out and I apologize for responding so late.  I have fixed the component descriptions here:
https://github.com/mostaphaRoudsari/ladybug/commit/90937cf95699ffd8b99af0476d47e022cd9f40c5

-Chris

[2017-03-14 19:03] ayezioro commented on #369
Thank you!
Not a biggie.
-A.

[2017-03-14 21:47] chriswmackey commented on #362
@ayezioro ,

I see what you mean here.  My original thought was to keep the orientation numbers synced with that of the "north" input of the sky visualization components, which all rotate the sky counter-clockwise when you put in a number.  But you are right that this gets confusing when the "30" mark on the sunpath does not correspond with a surface facing it.  I have fixed this here:
https://git

[2017-03-14 21:47] #362 closed

[2017-03-14 22:03] chriswmackey commented on #361
@marios-tsiliakos ,

This is a good idea and we should leave this issue open here until it is integrated.  I see where you would insert the proposed code into the parallel_viewCalculator function.  However, this is only using a single parameter of the view cone and there would need to be a bit more code to have all 4 parameters of the view cone be taken into account.   Specifically, you would need

[2017-03-14 22:47] marios-tsiliakos commented on #361
Hi @chriswmackey ,

Yes I believe it makes perfect sense to confine the analysis within a viewing cone.
Will try to look into this a little bit more when I find some time. If I end up writing something solid I will send a pull request,

Cheers
M

[2017-03-14 22:48] sariths opened #370 "Possible gencumulativesky bug."
Hi @mostaphaRoudsari  and @chriswmackey , there might be a bug in gencumulativesky as per  http://www.grasshopper3d.com/xn/detail/2985220:Comment:1712626.

[2017-03-15 00:22] #370 closed

[2017-03-15 04:06] ayezioro commented on #362
100%
Thanks once again!!
-A.

[2017-03-15 10:57] frank984 opened #371 "Issue with Internalized EPW Weather Data"
![cattura](https://cloud.githubusercontent.com/assets/6491927/23945341/792619e8-0976-11e7-9b58-5a04bb32efde.JPG)
[unnamed.zip](https://github.com/mostaphaRoudsari/ladybug/files/844171/unnamed.zip)

[2017-03-16 14:21] yehezkielwm commented on #368
Hi!

The contourMesh is an amazing tool. I encounter this error while trying to contour the mesh. Please refer to the image and dropbox link below for the GH file.

![image](https://cloud.githubusercontent.com/assets/26462602/24000589/eca1fea6-0a5b-11e7-9554-62de98ba6bbd.png)

https://www.dropbox.com/s/870kr2l9re3wuco/contourMesh%20holes.gh?dl=0

[2017-03-17 17:10] chriswmackey commented on #371
@frank984 ,

This happened because you internalized the weather data as a text string and all of the ladybug components need to have the dates of the data be python tuples.  If you pass the data through a "Create LB Header" component to re-create the header, all of the data displays correctly:
![image](https://cloud.githubusercontent.com/assets/5567574/24054441/9cf3e114-0b12-11e7-8584-af13a6ef69ff

[2017-03-17 17:10] #371 closed

[2017-03-29 12:37] frank984 opened #377 "Ladybug 3D chart: adjust some details"
Hello.

If the series of hourly data is not a multiple value of 24 hours, the horizontal lines of the graph curves are truncate to the previous full day. It could be better if the line completely fills the graph.

1. If I use the LBHeader and I define the unit, for example [°C], in the header I found something like this: ([°C]).
2. If I exclude the square brackets and then in the unit I input only

[2017-03-29 12:57] frank984 commented on #377
The same considerations about psychrometric chart:
For a direct use of image output, it could be better if the unit of measure are expressed in both x and y axis , passing from this version:
![1](https://cloud.githubusercontent.com/assets/6491927/24454962/306df4f0-148e-11e7-9c08-518b0a88f993.jpg)
to this:
![1_r1](https://cloud.githubusercontent.com/assets/6491927/24454965/382c8620-148e-11e7-8461-1

[2017-04-13 01:09] mostaphaRoudsari opened #381 "sunpath annual data is shifted for an hour"
We should get this fixed asap. Read more [here](http://www.grasshopper3d.com/forum/topics/ladybug-temperature-point-doesn-t-match-epw-file?xg_source=msg_forum_cat).

[2017-04-13 02:32] chriswmackey commented on #381
@mostaphaRoudsari ,
My guess is that this comes from way back when you originally coded the component and did not realize that HOYs start counting from 1 and indices of the list start counting from 0.  Are you fixing this now or do you want me to have a go at it?

[2017-04-13 11:49] mostaphaRoudsari commented on #381
@chriswmackey I suspect [this](https://github.com/mostaphaRoudsari/ladybug/pull/34/commits/99ba77e1bd9e6512a1e2ba6b0d8e707b14214b23) is when it has happened.

[2017-04-14 05:35] devngc commented on #381
@mostaphaRoudsari @chriswmackey,
Can I look into this one?

[2017-04-14 10:52] mostaphaRoudsari commented on #381
Hi @devngc! Please do.
PS: Welcome back 👍

[2017-04-14 11:05] devngc commented on #381
@mostaphaRoudsari,
Thank you! I will start today.

[2017-04-14 16:45] chriswmackey commented on #381
Awesome.  Thanks, @devngc !

[2017-04-19 17:41] devngc commented on #381
@mostaphaRoudsari,
This was addressed in #382. Thank you!

[2017-04-20 07:42] nildan commented on #368
Sorry for asking about this again, but is there any update on this issue?

Sometimes I also get another result, with overlapping meshes. This seems to happen with finer grids, but also somewhat randomly, not for every mesh with that resolution. Any ideas how this could be solved?

![image](https://cloud.githubusercontent.com/assets/25552268/25218855/a82388dc-25ac-11e7-81fa-2458483778d5.png)

[2017-04-22 15:07] chriswmackey commented on #381
Thank you @devngc !

[2017-04-24 21:16] mostaphaRoudsari commented on #381
Thanks @devngc!

[2017-04-24 21:16] #381 closed

[2017-04-28 13:46] mostaphaRoudsari opened #384 "download stat and epw doesn't work with onebuilding links"
http://www.grasshopper3d.com/forum/topics/weather-file-not-downloading?xg_source=activity

@chriswmackey I wanted to fix this myself but then saw you're taking care of old DOE links too. I think we can remove it now as everyone should have updated their links by now or they should if they haven't done it yet!

[2017-04-28 18:15] chriswmackey commented on #368
@nildan ,
Sorry for the late response on this.  I'm going to try to work in my new ideas now and, if I don't finish today, they should be done sometime this weekend.

[2017-04-29 10:14] twanito opened #385 "Contour Mesh Colours"
Hi, I've been trying to export a contour mesh to the Spectacles Scene compiler and noticed that the contourColors output is always set to "Black" despite the colours appearing on the rhino preview and on the mesh. Think it's a minor bug.

[2017-05-01 09:29] ayezioro opened #386 "LB_radiationAnalysis - Baking issue"
Hi,
As for this discussion:
http://www.grasshopper3d.com/group/ladybug/forum/topics/ladybug-radiation-analysis-bake-error-projectname-is-not-defined?commentId=2985220%3AComment%3A1743469&xg_source=msg_com_gr_forum
the radiationAnalysis complains about "1. Solution exception:global name 'projectName' is not defined".
It happens in line 192.
If you change this line to "projectName_" (at the end) ins

[2017-05-01 20:23] shahiz commented on #386
Thanks ! I've been searching for a solution for this for hours.

[2017-05-02 00:49] chriswmackey commented on #368
@nildan ,
I added some of the ideas that I had mentioned and I've made it a little bit more robust:
https://github.com/mostaphaRoudsari/ladybug/commit/6f61109f722949bbd70d701c0d307a9c7e4c2f9e
However, the component is still not as reliable as I would like it to be.  It seems to be really hard to write checks for when the Rhino intersection calculation fails.  I wish Rhinocommon API would just retu

[2017-05-02 00:51] chriswmackey commented on #385
@twanito ,
I am not able to create what you are talking about on my end:
![image](https://cloud.githubusercontent.com/assets/5567574/25600128/e9be2aac-2eaf-11e7-8088-915a90c10e56.png)
Could you post an example?

[2017-05-02 22:03] chriswmackey commented on #385
Ah, I see what you mean.  The contourColors are meant to refer to the color of the lines when you choose the "3 - Colored Lines" _contourType_.  This is just left black when "3 - Colored Lines" is not selected as I would think people would like black contours.  However, I realize this is not so useful so I've changed this to correspond to the contourMesh here:
https://github.com/mostaphaRoudsari/l

[2017-05-02 22:03] #385 closed

[2017-05-02 22:08] chriswmackey commented on #368
@nildan,
I figured out how to detect when the intersection fails and I wrote in some code to take out these bad meshes:
https://github.com/mostaphaRoudsari/ladybug/commit/3cc2cdddb9670ebb2107d78a4114f08c8dc6fbf5
Unfortunately, there is no way to fix failed intersections for good with Rhino 5 and the best that I can do now is take them out and use an underlay to cover up the failed portions.
Maybe

[2017-05-02 22:08] #368 closed

[2017-05-02 22:19] chriswmackey commented on #386
@ayezioro and @shahiz ,
Thanks for pointing this out.  I just fixed the bug:
https://github.com/mostaphaRoudsari/ladybug/commit/9abd3e574ad639bfdaa6a0dd1ebf2b69f5c51dc6
-Chris

[2017-05-02 22:19] #386 closed

[2017-05-02 22:32] twanito commented on #385
Thanks for the quick patch!

[2017-05-03 03:17] chriswmackey commented on #384
Fixed!
https://github.com/mostaphaRoudsari/ladybug/commit/08feff2678018c2f4c6a5a0a55e59a11bd6c644f

[2017-05-03 03:17] #384 closed

[2017-05-04 07:21] nildan commented on #368
Thanks @chriswmackey, great work! I'll try it out in my upcoming projects – hopefully it solves most of the problems until Rhino 6 is here.

[2017-05-19 14:27] jankiv opened #388 "Duplicate Renewables Module + Missing Input"
There seems to be two panels with slightly different names but the same inputs and outputs. Also the description implies you can select the module type, but I don't see an input for it. I just updated Ladybug, but there were no changes to the duplicate panels or the missing input for module type. So I am wondering if this is a bug on my computer or missing from the latest update?

![image](https:/

[2017-05-29 07:56] ayezioro opened #389 "radiationRose scale - Error"
Hi,
When applying scale factor to the radiationRose it give sthe following error:

Can't find how to fix ...
Thanks,
-A.

[2017-05-29 19:19] devngc commented on #389
Hi @ayezioro,
I just tried scale on the Radiation Rose. Works fine without any errors. Can you share a file please?

[2017-05-30 03:26] ayezioro commented on #389
Hi @devngc,
Sure. You can find it in this discussion:
http://www.grasshopper3d.com/group/ladybug/forum/topics/problems-with-radiation-result?page=2&commentId=2985220%3AComment%3A1759336&x=1#2985220Comment1759336
I've made sure i'm using the latest version.
-A.

[2017-05-30 04:22] devngc commented on #389
Hi @ayezioro,
Thanks for the link. Since the analysis period is less than a day, in order for the radiation rose to be of a reasonably visible size, @mostaphaRoudsari has applied 1000 scale by default. Therefore, when you apply a scale factor of 0.5 and 0.7, it gives you the error. I believe this is planned behaviour and not a bug. @mostaphaRoudsari would you like me alter the behaviour so that it

[2017-05-30 05:36] ayezioro commented on #389
Thanks @devngc,
I understand what you say, but even though the analysis in the file is a day (or less), the size of the rose is pretty big (as you can see in the top view). Also if you input a scale value of 1 or bigger the component fails.
I see that if  i input the skyMatrix for the whole year it works fine. What is weird is that the default size of the year rose is smaller than the day only.
-A

[2017-05-30 16:53] chriswmackey commented on #389
@ayezioro and @devangc ,
Because this component is so old, I know that the code for it is a bit messy, it has some rhinoscriot parts (instead of rhinocommon), and it is easy for it to fail. I'll try to take a look at some point.

[2017-06-01 18:20] stgeorges commented on #266
Hi @TheodoreGalanos ,
Pedestrian wind comfort component got slightly quicker [today](https://github.com/mostaphaRoudsari/ladybug/blob/master/userObjects/Ladybug_Pedestrian%20Wind%20Comfort.ghuser). I realized we never checked the message you reported.
Is it possible that you attach your .gh example file, along with WindFactors.csv file, please?

[2017-06-05 22:36] devngc commented on #389
@ayezioro and @chriswmackey,
Can you please try [this](https://github.com/devngc/Work-in-Progress/blob/master/RadiationRose.gh) file? I have only addressed the scale issue. I have kept the default scale factors 1 (for selSkyMtx less than a day) and 1000 (for selSKyMtx greater than a day) as is.

[2017-06-06 03:43] ayezioro commented on #389
Thanks @devngc,
Seems to be working fine.
I assume that Chris will overhaul the whole code and take your fix as a part of it.
Until then and in order not to loose the fix, maybe commiting the change will be helpful.
Thanks again,
-A.

[2017-06-06 06:09] devngc commented on #389
@ayezioro,
Thank you for your time.

[2017-06-06 14:19] mostaphaRoudsari commented on #389
Thanks @devngc for taking care of this. I agree with @ayezioro's comment. Let's get it fixed for now and we will get re-write the whole code for the plus version.

[2017-06-06 18:29] alvarobalderrama commented on #82
Hello Chris,
I am doing this exercise and can't visualize in Rhyno. Can you help? Thanks
![image](https://user-images.githubusercontent.com/29236607/26845424-b8b9b3b4-4af6-11e7-9b60-87d11a5435d2.png)

[2017-06-06 19:03] mostaphaRoudsari commented on #82
Hi @alvarobalderrama.
1. Type zea and press enter in Rhino. The geometry is most probably there but you can't see it.
2. Your units are in mm which will make everything slower. Change them to m.
3. Post your questions to the [Ladybug forum](http://www.grasshopper3d.com/group/ladybug/forum) and not GitHub.

[2017-06-06 20:16] #389 closed

[2017-06-06 20:17] mostaphaRoudsari commented on #388
cc: @stgeorges

[2017-06-06 20:57] stgeorges commented on #388
Hi @jankiv ,

Please accept my apology for having to wait this long the get a reply to your question (thank you for @mostaphaRoudsari !). I get an email notification about every new topic on [Ladybug forum](Also the description implies you can select the module type, but I don't see an input for it.), but in here I have to manually check for the new ones, and to be honest, I do not really do that

[2017-06-08 17:02] alvarobalderrama commented on #82
Thank you Mostapha,

I want to know where can I address to ask about a epw doc from my city, is not there and is the biggest city in Bolivia. Is it possible to make it myself somehow?

Thank you

Alvaro Balderrama
________________________________
From: Mostapha Sadeghipour Roudsari <notifications@github.com>
Sent: Tuesday, June 6, 2017 9:03:07 PM
To: mostaphaRoudsari/ladybug
Cc: alvarobalderrama;

[2017-06-10 13:59] mostaphaRoudsari commented on #82
1. Check this [discussion on the forum](http://www.grasshopper3d.com/group/ladybug/forum/topics/faq-where-to-find-epw-weather-data).
2. Post your questions to the [Ladybug forum](http://www.grasshopper3d.com/group/ladybug/forum) and not GitHub.

[2017-07-07 23:00] SebasOrozco opened #394 ""No module named OS" ERROR producing null outputs"
Hi there!
An absolute newbie here... I´m just starting to try out Ladybug on Dynamo, for preliminary environmental analysis, but came across what must be a really simple/naive mistake... I hope
For some reason I´m getting null outputs from every node when running the basic sample files.
I´ve tried several DYN/LB versions and combinations with the exact same results... All I´ve been able to track d

[2017-07-10 12:29] chriswmackey commented on #394
@SebasOrozco ,

This github repository is for the legacy version of Ladybug that is currently used for Grasshopper.  For all issues regarding any Ladybug for Dynamo (aka. LadybugPlus), please post on this github:
https://github.com/ladybug-tools/ladybug

Also, keep in mind that LadybugPlus is in beta now so there are still bound to be issues.  Still, it would be good to have a record of this issue

[2017-07-10 12:29] #394 closed

[2017-07-14 18:51] sariths opened #395 "SelectSkyMtx fails for RadiationAnalysis but works with Sky Dome"
Hi @chriswmackey  and @mostaphaRoudsari,

I tried using the same skymtx for Radiation Analysis and SkyDome. The skydome works fine but radiation analysis returns an error message stating that the selectSkyMtx could not collect data(see below). Is this a bug?

![2017-07-14 13_48_06-untitled - rhinoceros 5 0 commercial - perspective](https://user-images.githubusercontent.com/10361848/28226261-1b40d5

[2017-07-20 14:22] ayezioro opened #396 "Ladybug_Monthly Bar Chart issue on 20.7.2017 update"
Hi @chriswmackey and @devngc ,
Today's update of the Ladybug_Monthly Bar Chart has an issue when basePoint point supplied and comfortModel is 0. It says:

And it occurs because the variable comfortLegend is None.
I suggest to fix in line 1152 as:
        if comfortLegend != None:
            for geo in comfortLegend: geo.Transform(moveTransform)
Then it works fine.

I'll also add that can't get wh

[2017-07-20 15:03] devngc commented on #396
@ayezioro,

Thank you for the review!

1. I have added a patch #397 to address error you pointed out to.
2. Concerning the adaptive comfort model: It is an original / planned behavior of this component. With the adaptive comfort model, it is assumed that the occupants tend to adjust to average outdoor air temperature. I believe that is the reason why @chriswmackey  enforces the use of dry-bulb tem

[2017-07-20 18:08] ayezioro commented on #396
Thanks @devngc,
As for the temperatures, i understand what you say. I'm trying to connect the dryBulbTemp from the importEPW and the operative temperatures from the simulation and then i get a severe error:

Weird. I'm pretty sure i did something like this before.
-A.

[2017-07-20 23:59] chriswmackey commented on #396
@ayezioro ,
I have merged in @devngc's commit and let me know if your error still persists with the new component. @devngc's description of how the component works is correct and I believe that I have also connected similar cases before. If you still experience the issue, upload an example file and I can investigate.

[2017-07-21 03:04] ayezioro commented on #396
Thanks @chriswmackey,
I get it work but somethings on the behaviour of the comfort zone is not clear.
See this example:
https://www.dropbox.com/s/pmayrzoq9warulj/BarChartVSTemperatures.gh?dl=0

If the assumption is that the dryBulbTemp is the one that sets the comfort zone, then when i connect results 2 the zone remains in place, but connecting results 3 make the zone to jump up. The results 2 and

[2017-07-24 01:56] chriswmackey commented on #396
@ayezioro ,
Sorry for the late reply and thanks for the example file that clearly re-creates the issue.
It turns out that you found an old bug in the part of the code that identifies the outdoor air temperature in order to calculate the adaptive comfort range.  I have just fixed it:
https://github.com/mostaphaRoudsari/ladybug/commit/77d770e6fcc4e35216683ff9a376b768ee29a64c
And you can find your ex

[2017-07-24 01:56] #396 closed

[2017-07-24 03:08] ayezioro commented on #396
Thanks @chriswmackey!!
-A.

[2017-07-25 09:22] ayezioro opened #398 "EPW+STAT - URL and file names inconsistencies"
Hi,
Downloaded a zip file from onebuilding. The thing is that the folder name where the files were unzipped is different tan the weather files names. As a result the epw and stat output are giving Null results.
I can change the file names or the zip files to be consistent, but maybe there is another option?

If you are curious about the case, the link is [this one](http://climate.onebuilding.org/W

[2017-07-25 09:47] ayezioro commented on #398
Hi,
I suggest to change the code at line 76, to be:
        if _weatherFileURL and (_weatherFileURL.startswith('https://') or _weatherFileURL.startswith('http://')):
            if _weatherFileURL.endswith('.zip') or _weatherFileURL.endswith('.ZIP') or _weatherFileURL.endswith('.Zip'):
                folderName = _weatherFileURL.split('/')[-1][:-4]
            else:
                folderName = _

[2017-08-01 08:58] Sonderwoods commented on #398
![capture](https://user-images.githubusercontent.com/19936679/28817347-341bc88a-76a8-11e7-9e2d-7dd8359518c3.PNG)

Not sure if same issue, but in the update an extra slash has been added (by mistake?)

[2017-08-01 16:55] ayezioro commented on #398
Is not the same issue @Sonderwoods .
I'm talking about weather files downloaded from onebuilding. The truth is that i'm not sure the issue is for all files from that source. The specific one is from this link:
http://climate.onebuilding.org/WMO_Region_6_Europe/ISR_Israel/TA_Tel-Aviv/ISR_TA_Tel.Aviv-Ben.Gurion.Intl.AP.401790_IMS.zip
-A.

[2017-08-02 07:18] frank984 opened #408 "LB analysis period"
Please consider this topic:
[http://www.grasshopper3d.com/group/ladybug/forum/topics/lb-analysis-period](url)

[2017-08-02 16:30] chriswmackey commented on #398
@ayezioro ,
Thanks for finding this. I'll try to fix the bug later today.

@sonderwoods ,
Your issue seems to result from inputting a URL with '\\' instead of '\'. I can put in a check that strips this extra character out but I'm pretty sure that the output will be corrected now if you correct your input.

-Chris

[2017-08-02 18:43] chriswmackey commented on #398
@ayezioro ,

Your proposed fix was working well and it has been implemented:
https://github.com/mostaphaRoudsari/ladybug/commit/24a65208f6c01685ba4814f0932bb465f998debb
For future reference, this post would have been a good use of github's "insert code" functionality like so:
[code]

@Sonderwoods , I also took out the unnecessary backslashes after I realized that this was affecting all EPW files:

[2017-08-02 18:43] #398 closed

[2017-08-02 18:46] ayezioro commented on #398
Thanks @chriswmackey  and sorry for the insert code thing :-(
-A..

[2017-08-02 18:48] chriswmackey commented on #398
No need to apologize.  I just found it really useful in my own posts and wanted to pass it along!

[2017-08-08 13:30] ayezioro opened #409 "Suggestion: Add Components Folder"
Hi,
There are already a few components (image viewer, item selector, FalseStartToggle) that need to be located at the components folder. Users usually, without knowing put all components together in the Users folder.
My suggestion is to add this folder in the github and maybe in the installation.
In addition or alternatively, in the instructions file to specify the files that need to be located in

[2017-08-08 14:46] MahmoudAbdelRahman commented on #409
Hi.
I usually drop them all into grasshopper canvas and each conponent goes automatically to its  location. Is this a good practice ?

[2017-08-08 17:09] ayezioro commented on #409
@MahmoudAbdelRahman,
Yes. Probably this is one way ... that for my own personal preferences i don't like/use.
For ghuser files if i drop on canvas, and i don't uninstall before, i get multiple copies on the tabs.
Gha files are fine using the drop way.
Usually i select from the zip file the contents and drop on the user folder.
-A.

[2017-08-22 03:16] chriswmackey commented on #241
Now that we have the texture-maker component, I think that our support for this workflow is good.   I'm happier with everyone being aware of where the image texture is sitting on their machines, rather than having another option built into bakeIt.

[2017-08-22 03:16] #241 closed

[2017-08-22 03:21] chriswmackey commented on #233
@jarno55 ,
Sorry for the incredibly late reply on this one.  This should be addressed now that we have the HOY_ input on the Select Sky Matrix component.  So you should just use the HOY_ input with the "Ladybug_DOY HOY" component to make a sky for just the hours that you want.  Unfortunately, for reasons that have to do with other analysisPeriod workflows, we cannot make this reference a single ho

[2017-08-22 03:21] #233 closed

[2017-08-22 03:22] chriswmackey opened #412 "Add Passive Solar Heating to Psychrometric Chart Strategies"
I agree that this one should be here and I can imagine a good polygon if the user connects up the "globalHorizontalRadiation" to the annualHourlyData.

See more on this discussion here:
http://www.grasshopper3d.com/group/ladybug/forum/topics/psychart-error?commentId=2985220%3AComment%3A1801571&xg_source=msg_com_gr_forum

[2017-08-22 03:28] chriswmackey commented on #395
@sariths ,
Sorry for the incredibly late reply on this one.  Your file seems to be running fine on my machine (even without updating the components):
![image](https://user-images.githubusercontent.com/5567574/29547534-6f18a036-86c8-11e7-926b-f12535aa47e9.png)

Do you still have the issue on your end?

[2017-08-22 18:33] sariths commented on #395
Hi @chriswmackey , my colleague and I were using some inhouse C# scripts that appeared to be causing the problem. I can confirm that neither of us are facing this issue at the moment.

[2017-08-22 18:33] #395 closed

[2017-09-03 18:14] alinabrouwer opened #413 "Data in Seasonal Wind Rose is off-the-charts"
Hi everyone,

I'm having an issue with the data on a seasonal wind rose set.
I plotted each season using analysis period based on equinox and solstice dates.
I included a conditional statement to limit data to a>1 and a<10.
In an attempt to make the very tiny data in the chart visible, I modified the maxFrequency to 1% (10) but this creates a situation where all the data is off the charts...
How d

[2017-09-03 18:40] mostaphaRoudsari commented on #413
If you want the size to be adjusted automatically based on the data leave maxFrequency input empty, otherwise you need to adjust the maxFrequency input.

[2017-09-03 18:40] #413 closed

[2017-09-05 09:05] nildan opened #414 "Suggestion: Mesh2Hatch with layer name input"
Hi!
I want to bake mesh results to a specific layer in Rhino. Right now, I can use Mesh2Hatch but I need to modify the code to have this functionality. That works, but I would love to have it as a built-in function in Ladybug.

Cheers,
Daniel

[2017-09-05 12:56] chriswmackey commented on #412
This is done!

[2017-09-05 12:56] #412 closed

[2017-09-06 23:36] chriswmackey commented on #414
@nildan ,
I agree this is very useful to have on the component. If you have already added it by editing the code, you can send us a pull request and we will merge it into the code base. Then you can count yourself as a Ladybug contributor.
I think Mostapha's developer playlist covers much of this process:
https://youtu.be/n_m5PDqv5pU
Otherwise, I'll get around to adding this capability eventually.

[2017-09-07 11:29] devngc commented on #408
Hi @frank984,
The link does not work. Can you please share a working link?

[2017-09-07 11:44] frank984 commented on #408
It works for me. Please, copy and paste it in the url box.
![cattura5](https://user-images.githubusercontent.com/6491927/30161841-93c8e0dc-93d2-11e7-8a77-d5f1677bc302.JPG)

[2017-09-07 11:58] devngc commented on #414
@nildan ,
Are you asking for [this](https://github.com/devngc/Work-in-Progress/blob/master/mesh2Hatch/mesh2Hatch.gh)? or do you wish to select from a list of active layers in Rhino and then select one of the layer names?

[2017-09-07 12:33] nildan commented on #414
@devngc,
Exactly like that! Plus a possibility to write to sub layers (mainlayer::sublayer). I did that by using "...LayerTable.Find**ByFullPath**". Maybe both options should be available, I'm not sure.

[2017-09-07 12:59] devngc commented on #414
@nildan,
Please correct me if I am wrong. I believe you are suggesting to have a list of child layers in case there are multiple meshes that you would like to bake to hatches on separate child layers.

[2017-09-07 13:34] chriswmackey commented on #408
@frank984 ,
I think we have addressed everything about your issue on the GH forum so I'm going to close this one out now.

[2017-09-07 13:34] #408 closed

[2017-09-07 16:39] chriswmackey commented on #296
Done!
https://github.com/mostaphaRoudsari/ladybug/commit/fe8fb38e97dd1551f101e72b4ecbcc302966faab

[2017-09-07 16:39] #296 closed

[2017-09-07 16:42] chriswmackey commented on #409
@ayezioro and @MahmoudAbdelRahman ,
I'd like to hear @mostaphaRoudsari 's thoughts on this before implementing anything as he set up the original structure of putting everything in the userObjects folder.
This also means that we will have to revise all of our install instructions that currently say that you should just drag/drop all components onto the canvas but this can be done if it would make

[2017-09-07 17:00] chriswmackey commented on #377
Thanks for the suggesion, @frank984
3D Chart has been addressed via:
https://github.com/mostaphaRoudsari/ladybug/commit/cfa068820affb56b89adccdc9ccd0bfab7204417

Psych chart has been addressed via:
https://github.com/mostaphaRoudsari/ladybug/commit/22dec067ff2e044d399bb01e3c9613700665bd8a

[2017-09-07 17:00] #377 closed

[2017-09-07 19:10] ayezioro opened #415 "selectAndAverageData - Min and Max values"
Hi,
I was in need to calculate averages for minimal and maximal values, as in the avrMonthlyPerHour.
I implemented it in the component. Do you think it can be usefull to have permanently?
Please see the example in the link:
https://www.dropbox.com/s/rf6d2aspsbuer8z/AverageMax%26Min_Component.gh?dl=0
Have to say that the Total option wasn't take care of. Can do it, but first just want to know if th

[2017-09-07 22:29] mostaphaRoudsari commented on #409
Thank you @ayezioro for the suggestion. It's a good idea and makes everything cleaner.
This is the list of tasks that we need to address if we are going to make this change:
- [ ] installation process
- [ ] uninstall script
- [ ] update ladybug component
- [ ] update honeybee component - I have been thinking for some time to merge these two components into 1.

[2017-09-08 08:39] nildan commented on #414
Sorry for being unclear. I meant that I want to be able to bake to a specific sublayer in Rhino – see [this picture](https://www.dropbox.com/s/4x5xu4a63617dnb/Sk%C3%A4rmklipp.PNG?dl=0). In that case, "layer 1::layer 2" could be used to reference the sublayer.

As an example, in the Human plugin the component can be set to "Layer name only" or "Layer full path".

Thanks for helping out :-)

[2017-09-08 14:07] chriswmackey commented on #414
@nildan ,
I was originally planning to add an input for layerName on the mesh2Hatch component (much like the Recolor mesh component - https://mostapharoudsari.gitbooks.io/ladybug-primer/content/text/components/Recolor_Mesh.html). A sublayer input also sounds good.

@devangc ,
The ability to select the current Rhino model layers from a list seems less critical as long as the mesh2Hatch component ei

[2017-09-11 03:41] ayezioro commented on #415
I saw there is a min/max example in hydra. But anyway, this issue can make things simpler.
-A.

[2017-09-12 01:28] chriswmackey commented on #415
@ayezioro ,

I have to admit that I was a bit confused when I first read this since adding or averaging everything in a list is really just a matter of a single native GH component.  However, now that I see your example, I completely understand how this feature is different, unique, and helpful, especially because it helps create the graphic that you have in your example:
![image](https://user-ima

[2017-09-12 03:39] ayezioro commented on #415
Thanks Chris,
I agree with the "milk and eggs" thing. But it depends on the context. My assumption is that you don't wan't just the cake, for the sake of the cake, but you want to organize a whole birthday party. For such cases ... well, you know what i mean :-).
I'll finish the Totals and commit the component.
-A.

[2017-09-12 12:17] ayezioro commented on #415
Hi @chriswmackey,
Do you mind checking again the example file before i pull a request? Same link as above.
I needed to edit also the BarChart since i defined a different "listInfo". See lines 140-141 (Monthly-> Min/Max).
I'm getting the min/max values in the month.

I changed a bit the example inspired on the hydra's.
Let me know what you think.

After reading again your comment i don't understand

[2017-09-14 22:23] chriswmackey commented on #415
@ayezioro ,
I will take a look at the file once I get home (in a couple of hours). I was only referring to the avrAnalysisPeriod output that you added in your previous example when I "recommended taking it out". Everything else in you addition looks great. It's just the avrAnalysisPeriod that's a little too redundant of Grasshopper's existing functionality.

[2017-09-14 22:58] ayezioro commented on #415
Hi @chriswmackey,
As much as i want to take credit of this the avrAnalysisPeriod output is not mine :-)
This comes from the original component.
-A.

[2017-09-15 02:18] chriswmackey commented on #415
@ayezioro ,
Gosh, sorry about that!  I didn't even realize it had been there the whole time since I have never used that output.

To eat my own criticism, I think we should take the opportunity of your editing this component to remove it.  It seems to be a relic from a time when the component's name (average data) was a little over-zealously implemented. Let me know if you agree.

I checked your G

[2017-09-16 19:59] ayezioro commented on #415
Hi @chriswmackey,
I've sent the pull request. Hope it is ok ...
I believe the component is stronger now.
Thanks,
-A.

[2017-09-17 17:24] chriswmackey commented on #415
Pull request has been merged.  Thanks again for improving the component @ayezioro !

[2017-09-17 17:24] #415 closed

[2017-09-25 09:25] ayezioro opened #417 "Select surfaces by orientation"
Hi,
As per this [discussion](http://discourse.ladybug.tools/t/south-facing-surfaces/907) and as a need i have now for some project, i wrote a component that allows to select facade faces (vertical for now) according to their orientation (including tolerance angles) and roofs (only horizontal for now)
I believe it can be useful for others, but just want to ask your opinion.
This is an [example file

[2017-09-25 19:19] chriswmackey commented on #417
@ayezioro ,

This is definitely helpful and I have found myself in similar situations.  However, my initial thought is that there's already a Honeybee component that does something very similar but it's kinda misplaced (it might be better in Ladybug) and it doesn't do exactly what you need.  It's the Honeybee_Spearate by Normal component here:
![image](https://user-images.githubusercontent.com/556

[2017-09-25 20:57] ayezioro commented on #417
Hi @chriswmackey,
Makes sense to have both components under one "roof". Tough, i like my version better ... :-)
Actually, i use the HB component in the same file that i use mine, but for different purposes. Didn't think of unifying them. Funny.
What kind of outputs do you think will be better to have. The HB gives all surfaces, just separated by normal. Mine gives only what you asked for. I see co

[2017-10-01 14:45] ayezioro commented on #417
Hi @chriswmackey,
Do you mind checking the above file again?
The component to check is the one at the top-right (the only one active).
It is supposed to have the same functionality of the HB_separateByNormal + those i implemented.
From the _orientation input you can choose the desired main orientation or roof/floor geometry. For the later it will pick all roofs or floors according to the maxUp/Dow

[2017-10-04 03:06] chriswmackey commented on #417
@ayezioro ,

I apologize that it took so long for me to check this.  It's working great on my machine and I can already see that your improvements are going to give this component a new lease on life!

As you say, I think it's pretty much ready to be integrated in a pull request and there are only a few minor edits I would make before you do so:

1) Yes to the list access.  It makes the component

[2017-10-06 17:18] ayezioro commented on #417
Hi @chriswmackey,
I also apologize for this late response (attacked by a virus).
Agree with all your suggestions. regarding the icon i can't get the credit. I took it from a file you sent me a while ago with "all" LB icons (back then). Agree the icon is nice.
Also agree about the _north_ suggestion, but if it is fine by you i'll take care of this later on. Right now don't have the time to deal wit

[2017-10-06 23:15] chriswmackey commented on #417
@ayezioro ,

I'm sorry to hear about the virus and I hope that you're feeling better now.

I thought I had seen that icon somewhere before...

Thanks for cleaning up the component and I agree that we can take care of the North input later. If you send a pull request, I'll merge it in.

Thanks again and we're happy you're back from the clutches of the virus!
-Chris

[2017-10-07 14:50] ayezioro commented on #417
Thanks for the health wishes @chriswmackey. Almost completely recovered.
Sent the pull request.
I'll take care about the North input.
-A.

[2017-10-08 18:58] chriswmackey commented on #417
Component merged.  Thanks @ayezioro !

[2017-10-08 18:58] #417 closed

[2017-10-13 04:18] chriswmackey opened #419 "Add a list of "components to exclude" for the update this file"
For example, we are never going to change the construction component and I've gotten a bit sick of manually replacing this one. More info here:
http://discourse.ladybug.tools/t/ep-construction-component-issue-after-installing-last-release/2161/11

[2017-11-01 12:37] Vyrwn opened #422 "Ladybug_SunPath angles"
@chriswmackey,
in my opinion we should include the stereographic projection on the reverse angle inside ladybug ladybug.
![image](https://user-images.githubusercontent.com/10517740/32274921-2b4ead66-bf01-11e7-998b-bb8b32625478.png)

otherwise the angles do not appear correct on the stereographic projection. So in the end it will look like this.

![image](https://user-images.githubusercontent.com/1

[2017-11-02 00:56] chriswmackey commented on #422
@Vyrwn ,
Good catch.  The angles should match with the other projection.  Feel free to send a pull request with this and I will merge it in.  Or did you already fix this here:
https://github.com/mostaphaRoudsari/ladybug/pull/423/files#diff-b9af826a74ec3aa0ea71038078755d9cL3094
?

[2017-11-02 09:36] Vyrwn commented on #422
@chriswmackey ,
yes this was already included in the pull request. I did not add the ° symbol though.

[2017-11-07 16:26] Vyrwn opened #424 "Ladybug EPW link graber"
@mostaphaRoudsari @chriswmackey ,

do you guys think there is any use for something like [this](http://discourse.ladybug.tools/t/drop-down-lists-for-weather-file-urls/2229/5)?

I am trying to make a dropdown menu which changes from continent>country>city>weather-station creating a gha. I just started today so I am still trying to figure out how to work in visualStudio to build a gha file.

In the

[2017-11-07 16:55] devngc commented on #414
Thanks for taking care of this @Vyrwn!

[2017-11-08 03:55] chriswmackey commented on #414
Yes, thanks for adding this in, @vyrwn!

[2017-11-08 03:55] #414 closed

[2017-11-08 03:57] chriswmackey commented on #424
I'll take a look as soon as I get the chance. This seems very useful and thanks for putting it together.

[2017-11-14 16:06] ayezioro opened #425 "BakeIt not baking everything in wind rose and more ..."
Hi,
@devngc i know this is one of your babies, so here i go ...
I've found that some items are not baked when using the WindRose and WindBoundaryProfile components.
WindRose is not baking the Frequency and AverageVelocity values.
WindBoundaryProfile bakes partially and what is baked belongs to the active layer (no LB special layers defined).
There are also some elements missing: All the texts (leg

[2017-11-15 05:21] devngc commented on #425
@ayezioro,
Thank you for reporting. I will definitely take care of this.

[2017-11-23 00:34] wta12 opened #426 "non default install path"
Hi,
 in case i had radiance/daysim/OpenStudio installed in other locations than C:\ how to set path in Grasshopper ?

[2017-11-24 22:38] mostaphaRoudsari commented on #426
@wta12, This is a honeybee question and should be posted to [honeybee repository](https://github.com/mostaphaRoudsari/honeybee/issues/).

If the path is added to System path then Honeybee should be able to find them, at least for Radiance. For Daysim we don't handle custom path as it can end up being tricky.

I close this issue and you can open a new one under honeybee repository and we can discus

[2017-11-24 22:38] #426 closed

[2017-12-17 17:38] chojje commented on #83
@chriswmackey Any progress on this? Just ran into this issue, would be convenient to have it solved within the wind rose component itself.

[2017-12-21 23:04] chriswmackey commented on #425
@devngc ,
Have you gotten the chance to check this yet?  I can also try to fix it as the creator of the last person who edited the bakeIt function.

[2017-12-21 23:06] chriswmackey commented on #425
Ah. I see that you fixed it here:
https://github.com/mostaphaRoudsari/ladybug/pull/427

Sorry for not realizing this and thank you @devngc !

[2017-12-21 23:06] #425 closed

[2017-12-21 23:11] chriswmackey commented on #422
I forgot to close this one out.  Thanks for fixing this @Vyrwn !

[2017-12-21 23:11] #422 closed

[2017-12-21 23:13] chriswmackey commented on #419
Actually, I am realizing a better approach here is just to update what is in the component anyway (even if the inputs/outputs have changed) and circle it in red to have the user check.  I'll implement this soon.

[2017-12-21 23:18] chriswmackey commented on #388
@jankiv ,
It sounds like @stgeorges has addressed your question and so I am going to close out this issue.  Feel free to reopen it if I am mistaken.

[2017-12-21 23:18] #388 closed

[2017-12-21 23:26] chriswmackey commented on #354
Thanks for catching this @marios-tsiliakos . Done!
https://github.com/mostaphaRoudsari/ladybug/commit/90a4fbe75c8455b27f8579c8bb01bc685fb35c08

[2017-12-21 23:26] #354 closed

[2017-12-21 23:27] chriswmackey commented on #315
Thanks for fixing this @stgeorges . Now that this issue is addressed, I am closing it out :)

[2017-12-21 23:27] #315 closed

[2017-12-21 23:44] chriswmackey commented on #305
Thanks for catching this @MauroLuzzatto . I didn't realize that this error could exist for some weather file locations here.  The fix has been implemented;
https://github.com/mostaphaRoudsari/ladybug/commit/364f5f1e43561965e4fc3ab7b3feb153fc026abf
Thanks again!
-Chris

[2017-12-21 23:44] #305 closed

[2017-12-21 23:45] marios-tsiliakos commented on #354
Sweet. Thanks @chriswmackey .

[2017-12-21 23:58] chriswmackey commented on #291
Done!
https://github.com/mostaphaRoudsari/ladybug/commit/b4104dc8fb532ed3f0c57568e5ede8e60feb0d73

[2017-12-21 23:58] #291 closed

[2017-12-22 00:01] chriswmackey commented on #285
I am going to close out this issue but please feel free to reopen it if you find it persists @MingboPeng

[2017-12-22 00:01] #285 closed

[2017-12-22 00:03] chriswmackey commented on #264
@ayezioro and @AntonelloDN ,
It would be great to move this component out of WIP for the next stable release.  Is there any reason why we would not do so?
-Chris

[2017-12-22 00:04] chriswmackey commented on #251
This was done a long time ago:
https://mostapharoudsari.gitbooks.io/ladybug-primer/content/text/components/Surface_View_Analysis.html

[2017-12-22 00:04] #251 closed

[2017-12-22 00:06] chriswmackey commented on #247
After contemplating this for a while, i am not so sure that it is the best approach. It seems like this will typically produce comfort polygons that fall off of the chart and it would also really mess up the usability of the strategy polygons.

[2017-12-22 00:06] #247 closed

[2017-12-22 00:09] chriswmackey commented on #236
@timurglobal ,
sorry for the incredibly late response. I'm not sure what function your air pollution component would perform but we are definitely open to incorporating one if you build something.

[2017-12-22 00:11] chriswmackey commented on #235
It may be worth looking at the conduit plugin for ideas on how to implement this (they have a number of HUD visuals).
https://provingground.io/tools/conduit-for-grasshopper/

[2017-12-22 00:16] chriswmackey commented on #231
The implementation is correct:
![image](https://user-images.githubusercontent.com/5567574/34280121-68533b9c-e683-11e7-9a68-543f48b2f976.png)

[2017-12-22 00:16] #231 closed

[2017-12-22 00:19] chriswmackey commented on #219
Now that all of the issues in this post have been addressed and this component has long-been a good contribution to the project, I am closing out this issue. Thank you @AntonelloDN for this great component!

[2017-12-22 00:19] #219 closed

[2017-12-22 00:21] chriswmackey commented on #217
I realize that this issue ended up as more of a discussion than an issue with the software.  Now that we have things like an "average sex" implemented and there are no other changes to the software to be made, i am closing out this issue. Thanks for all of the insight @stgeorges !

[2017-12-22 00:21] #217 closed

[2017-12-22 00:23] chriswmackey commented on #242
It's going to take me some time to implement this and i haven't had anyone request it (except for myself).  So I'm going to leave it under the help wanted tag for now

[2017-12-22 00:30] chriswmackey commented on #210
This option was added a long time ago:
![image](https://user-images.githubusercontent.com/5567574/34280391-5ea7a9d2-e685-11e7-8507-a5718418941d.png)

[2017-12-22 00:30] #210 closed

[2017-12-22 00:36] chriswmackey commented on #196
A lot of time has passed since this discussion and I think we should leave this issue open in case anyone has any future comments on the standards of the legacy plugins.  It seems worthwhile to focus efforts on the standards of the new plugin, though:
https://github.com/ladybug-tools/contributing

[2017-12-22 00:36] chriswmackey commented on #192
This was implemented in the last release.  And a wonderful component it is!

[2017-12-22 00:36] #192 closed

[2017-12-22 00:41] chriswmackey commented on #187
Since the time of this issue, we now have a newer, much faster way to compute sky view for a large number of points.  See this example file for calculating sky view throughout an urban canyon:
http://hydrashare.github.io/hydra/viewer?owner=chriswmackey&fork=hydra_2&id=Sky_View_in_an_Urban_Canyon&slide=0&scale=1&offset=0,0

[2017-12-22 00:41] #187 closed

[2017-12-22 00:43] chriswmackey commented on #185
It seems we never looked into this issue and I have not been able to recreate it.  If anyone manages to produce an example file that recreates this issue, please post a link to it and we will look into it.

[2017-12-22 00:44] chriswmackey commented on #182
This has proven to be a big task and no one has really asked me for it yet.  I'll see if I can implement it when I get around to writing the [+] version and, if anyone wants to tackle it in the meantime, please be my guest.

[2017-12-22 00:51] chriswmackey commented on #167
I realized that this would add a significant amount of time to the calculation to check if a point is below the surface and I think the best we can do is just keep requiring the user to input a _disFromBase, which is the correct way to address this issue.

[2017-12-22 00:51] #167 closed

[2017-12-22 00:55] chriswmackey commented on #165
This has been addressed via https://github.com/mostaphaRoudsari/ladybug/commit/bd217eb061750b9fd8a9e817a400aefbb02123f1

[2017-12-22 00:55] #165 closed

[2017-12-22 00:56] chriswmackey commented on #150
Now that this issue has outlived its purpose and the renewables components are a stable part of the project, I am closing out this issue.

[2017-12-22 00:56] #150 closed

[2017-12-22 00:57] chriswmackey commented on #138
This was implemented a long time ago:

![image](https://user-images.githubusercontent.com/5567574/34280946-38ef50d8-e689-11e7-9e0e-a7d981f8b131.png)

[2017-12-22 00:57] #138 closed

[2017-12-22 01:00] chriswmackey commented on #137
The best route I have found for this is to just combine the ray tracing components with a sunlight hours study and use the sunIsVisible results to get rid of sun rays that are blocked.  So I think that it is better to keep these features in the two separate components (ray tracing and sunlight hours), particularly because this could increase the calculation time of the ray tracing component, which

[2017-12-22 01:00] #137 closed

[2017-12-22 01:02] chriswmackey commented on #131
This is a monumental task that we will fix in LB+ but I welcome anyone who wants to implement this on any of the legacy components.

[2017-12-22 01:03] chriswmackey commented on #118
I welcome anyone who wants to implement this but it's a low-priority on our personal list of things to do.

[2017-12-22 01:04] chriswmackey commented on #94
I think we might just move the bio chart out of WIP in it's current non-PMV state.  Then we will implement this all correctly from the ground up in LB[+]

[2017-12-22 01:09] chriswmackey commented on #93
I just wanted to note that the typo that was originally pointed out in the psych chart has been fixed.

[2017-12-22 01:20] chriswmackey commented on #92
To summarize the state of this issue:
1 - This has already been addressed with @mostaphaRoudsari 's component and other types of post-processing that you can do to the data.
2 - Has also been addressed with the same component.
3 - Daylight savngs time refers to [this issue.](https://github.com/mostaphaRoudsari/ladybug/issues/118)
4- I am having a hard time understanding what exactly is being discu

[2017-12-22 01:23] chriswmackey commented on #86
This still remains a relevant issue and I welcome anyone to tackle it.  Also, anyone who tackles this issue should also check the progress made through this discussion: http://discourse.ladybug.tools/t/rainfall-data-component/2197

[2017-12-22 01:25] chriswmackey commented on #83
This issue is mis-labeled and it only refers to the wind rose (not the 3D chart).  There are ways for correcting for this in GH with the max frequency component and I'll post an example shortly.

[2017-12-22 01:36] chriswmackey commented on #75
From what I can tell, Ladybug is still correct.  I am guessing that the manner in which those non-native GH components are exploding and calculating the area of the mesh faces is not how you are supposed to do it (perhaps they are exploding the quad faces into triangles?) @mostaphaRoudsari , please confirm this if you can.

[2017-12-22 01:38] chriswmackey commented on #61
Now that @AntonelloDN  has a component to do this, I think we should just move it out of WIP and include it in the next stable release.  @AntonelloDN , can you think of any reasons why the component should remain in WIP?

[2017-12-22 01:39] chriswmackey commented on #53
This is definitely something for Ladybug[+].  I'll still leave this open in case someone is feeling incredibly ambitious!

[2017-12-22 01:41] chriswmackey commented on #41
This goes hand in hand with this one:
https://github.com/mostaphaRoudsari/ladybug/issues/169

If anyone wants to implement it now, please be our guest!

[2017-12-22 01:50] chriswmackey commented on #36
I think this is really not so helpful at the end of the day.  After all, if you really need this functionality, you can graft the surfaces going into the radiation study to get two separate intersection matrices.  For this reason, I am closing out this issue.

[2017-12-22 01:50] #36 closed

[2017-12-22 01:52] chriswmackey commented on #8
Wow, this issue is so old that it feels like it is for a different plugin :)

Now that we have had the sunlight hours component for almost 5 years now, I think it's finally safe to close out this issue!

[2017-12-22 01:52] #8 closed

[2017-12-22 04:11] ayezioro commented on #425
Thank yoy @devngc
-A.

[2017-12-22 05:01] devngc commented on #425
Thank you both for the opportunity!

[2017-12-22 19:45] stgeorges commented on #217
Thank you for the useful contribution as well @chriswmackey !!

[2017-12-24 05:23] ayezioro commented on #264
Hi @chriswmackey,
Me neither. If @AntonelloDN agrees i'm for taking it out from the WIP section.
-A.

[2017-12-25 18:00] ayezioro commented on #94
Hi @chriswmackey,
Relly on your judgment :-)
-A.

[2017-12-26 09:24] AntonelloDN commented on #264
Hi @chriswmackey,
I am agree with you and @ayezioro.

Antonello

[2017-12-26 09:31] AntonelloDN commented on #61
Hi @chriswmackey,
you can move the component out of WIP. If you think the code it is not cleaned we can change some parts of code ;)

Antonello

[2017-12-28 15:51] chriswmackey commented on #61
@AntonelloDN ,
Thanks for confirming that the component seems good from your end. I'll move it out of WIP for the next release.

@mostapharoudsari ,
For clarification, all of the issues that I have highlighted for the next release have to do with moving existing components out of WIP that have been shown to be stable. I am not planning to add any more functionality to the legacy Ladybug and, as a

[2017-12-29 00:08] chriswmackey commented on #264
Ok. It will be done before the next release, then!

[2017-12-29 16:38] chriswmackey commented on #83
I added an example to show how to create wind roses of a consistent scale:
http://hydrashare.github.io/hydra/viewer?owner=chriswmackey&fork=hydra_2&id=Grid_of_Monthly_Wind_Roses&slide=1

Simply set the maxFrequency to a given number and this will ensure that all roses are the same size

[2017-12-29 16:38] #83 closed

[2018-01-01 21:36] ayezioro commented on #264
Hi @chriswmackey and @AntonelloDN,
Please stop the engines.
In the last couple of days i've found some bugs that need to be addressed. Some of them i don't fully understand.
Just when i was very happy with the outcomes, i was preparing a class for tomorrow and then all the bugs appeared. I'm getting crazy.
So please, leave the component in the WIP unbtil we can find answers for the isuues. I'll as

[2018-01-04 06:42] ayezioro commented on #264
Hi again @chriswmackey and @AntonelloDN,
I'm happy and glad to say that the (plenty of) bugs are solved and the component is pretty neat now (magical, as @chriswmackey wrote a while ago.
I'll be sending @AntonelloDN a file for him to make some checkings (and answer some questions i left in the code) and then commit  the updated version.
-A.

[2018-01-08 21:05] mostaphaRoudsari commented on #196
Most of the content here will be useful for the new plugins too. I think we should move this info to a wiki page instead of keeping it as an issue.

[2018-01-08 21:14] mostaphaRoudsari commented on #92
I think we can close this issue for now as most of them are addressed and the rest are not critical and will be implemented in the [+] libraries.

[2018-01-08 21:14] #92 closed

[2018-01-08 21:19] mostaphaRoudsari commented on #53
This is not that much work and I believe will be very helpful to have it for Ladybug legacy too but I agree that is not a high priority on our list.

[2018-01-08 21:29] mostaphaRoudsari commented on #75
I didn't get a chance o compare the results so I can't tell. A logical approach is to do a side by side comparison and find the faces with different areas and use a third method to figure out which one is the most accurate.
I assume the issue happens when Ladybug reconstruct mesh faces and some of them end up being different from the original non-planar mesh faces. This is just a guess until someo

[2018-01-11 08:57] ayezioro opened #428 "typical Hot/Cold Week outputs missing from importSTAT"
Hi,
I noticed that those 2 outputs are missing from the current version of the importSTAT component.
Since i'm using it, i suppose others too.
The calculation is in the code, is just the output items that are missing.
Can it be restored?
Thanks,
-A.

[2018-01-11 14:21] chriswmackey commented on #428
@ayezioro ,
Yes it can be restored and I was waiting to see if someone would bring this up. The new component has so many outputs that I was testing to see if I could take out some under-utilized ones. If you are saying that you use it, I will add it back and explore some other ways of getting consolidating the component outputs. I'll post back here once I have restored the output.

[2018-01-14 17:39] chriswmackey commented on #61
The component has been moved out of WIP via: https://github.com/mostaphaRoudsari/ladybug/commit/54939bd93adced4d87576443b180586f1ab58bb8

Case closed!

[2018-01-14 17:39] #61 closed

[2018-01-14 17:42] chriswmackey commented on #264
@ayezioro ,

I'm glad to hear that the bugs were fix-able.  I hope you don't mind that I have moved the older component out of WIP via https://github.com/mostaphaRoudsari/ladybug/commit/54939bd93adced4d87576443b180586f1ab58bb8 in preparation for the next release, which will happen in a few days.  If you can send a pull request in that time to replace the old component with your fixed one, that wou

[2018-01-14 17:43] chriswmackey commented on #304
The component was moved out of WIP via https://github.com/mostaphaRoudsari/ladybug/commit/54939bd93adced4d87576443b180586f1ab58bb8

Closed!

[2018-01-14 17:43] #304 closed

[2018-01-14 18:29] ayezioro commented on #264
Hi  @chriswmackey,
Yes. We've found another minor bug and i sent @AntonelloDN a version solving this "last" one. if he approves i'll pull a request immediately.
Thanks,
-A.

[2018-01-14 19:08] chriswmackey commented on #428
@ayezioro ,
This has been put back:
https://github.com/mostaphaRoudsari/ladybug/commit/d644a62ffaf5b5d6debe18899ba55af62d9e2b8b

I realized that there were a lot of ways to consolidate the outputs of the component, including moving the description of the climate zone to the readMe, getting rid of the dividers, and getting rid of the cooling design day range, which presently has no use in any of th

[2018-01-14 19:08] #428 closed

[2018-01-14 20:39] ayezioro commented on #428
Thanks @chriswmackey

[2018-01-14 21:48] chriswmackey commented on #419
This has been addressed via:
https://github.com/mostaphaRoudsari/ladybug/commit/1cd1d66f464432924b79215dec9c1c7e7add1228
This will make updating the 70 example that I have for the next release MUCH easier.

[2018-01-14 21:48] #419 closed

[2018-01-15 04:18] chriswmackey commented on #264
Sounds good, @ayezioro . I'll be honest and admit that you have a few days (even with all of the automation in the world, 72 example files won't update themselves overnight). I look forward to the pull request!

[2018-01-17 20:19] ayezioro commented on #264
Hi @chriswmackey and @AntonelloDN,
I've sent a pull request for the component.
Even more bugs were addressed, beyond the above mentioned. I believe this is a nice working version.
Please let me know if the request went well.
-A.

[2018-01-17 21:28] ayezioro commented on #264
Hi @chriswmackey and @AntonelloDN,
I've sent a pull request for the component.
Even more bugs were addressed, beyond the above mentioned. I believe this is a nice working version.
Please let me know if the request went well.
-A.

[2018-01-17 23:42] chriswmackey commented on #264
@ayezioro , unfortunately, the pull request conflicts with a previous change that I made pulling the component out of WIP. Let me know if you are able to send a new pull request. Otherwise, I can see if I can do some conflict resolution and merge it.

[2018-01-18 12:25] ayezioro commented on #264
Hi @chriswmackey,
I've sent a new pull request. Hopefully it will work this time.
Probably i'll see this tomorrow morning.
Thanks,
-A.

[2018-01-18 14:12] chriswmackey commented on #264
Ok.  We got in all of the changes via https://github.com/mostaphaRoudsari/ladybug/commit/21d8b0de2558a47f7147523ec778f78deeb5fa3c .  So we can close out this issue and we're pretty much ready for the release at this point.

[2018-01-18 14:12] #264 closed

[2018-01-18 14:20] ayezioro commented on #264
Thank God!!
:-)

[2018-01-22 16:23] mostaphaRoudsari commented on #185
Finally, After only two years[!] I checked issue and it seems the failure is because the building geometries are not modeled carefully and don't touch the XY plane. I move the curve for 1 meter up and everything works fine. @bhowes-tt sorry for the very late reply. I think we can now close this issue as the issue is not related to Ladybug component.

![image](https://user-images.githubusercontent.

[2018-01-23 17:55] bhowes-tt commented on #185
:+1: :heart: :octopus:

[2018-01-23 17:55] #185 closed

[2018-02-13 00:37] Mylarkid opened #433 "Run Radiance Analysis Node - File does not exist?"
I'm getting an error on this node looks like it's not writing the *.ill file that it needs?

`Traceback (most recent call last):
  File "<string>", line 41, in <module>
  File "C:\Users\bfrederick\AppData\Roaming\Dynamo\Dynamo Revit\1.3\packages\Honeybee\extra\honeybee\radiance\recipe\solaraccess\gridbased.py", line 380, in results
    analysisGrid.set_values_from_file(
  File "C:\Users\bfrederick

[2018-02-13 00:45] mostaphaRoudsari commented on #433
Hi @Mylarkid, This issue should be posted to the forum. If you don't already have an account follow the directions here to create one: http://discourse.ladybug.tools/t/welcome-to-ladybug-tools-forum/8

Please post it with a screenshot and under the dynamo category.

[2018-02-13 00:45] #433 closed

[2018-03-03 19:58] devngc commented on #118
This will be implemented in Ladybug core.
@mostaphaRoudsari, kindly correct me if I am wrong.

[2018-03-03 20:40] mostaphaRoudsari commented on #118
Hi @devngc! That is correct.

[2018-03-05 06:10] ayezioro opened #436 "EPW or epw"
Hi,
Using the LB_importLocation and having a EPW file with the extension in CAPITALS makes it fail.
The checking at line 88 doesn't catch those cases. I suggest the next fix:
`if _epwFile and (_epwFile.endswith('.epw') or _epwFile.endswith('.EPW')):`
instead of the existing:
`if _epwFile and _epwFile.endswith('.epw'):`

Also, to be consistent, the code in the LB_importEPW, is not checking the exte

[2018-03-05 16:19] chriswmackey commented on #436
Good catch, @ayezioro .  I updated the check to be able to handle any arrangement of capital letters:
https://github.com/mostaphaRoudsari/ladybug/commit/1023958b5035b2da13f632827b6dd3801115eece

I also added the check to the Import EPW component:
https://github.com/mostaphaRoudsari/ladybug/commit/370cfe7ac6d56eb8745cb756557651deb3739b73

[2018-03-05 16:20] #436 closed

[2018-03-26 13:34] chriswmackey opened #438 "Psych chart comfort polygon not working in Rhino 6"
See this discussion for more info:
http://discourse.ladybug.tools/t/psychrometric-chart-comfort-polygon/2722/5

[2018-03-30 06:16] yafimski opened #439 "Mac OS compatibility"
Hello,
As I've spoken to Sarith here:
http://discourse.ladybug.tools/t/ladybug-tools-in-mac-problems-in-the-beginning/2284/6

I'm trying to achieve any kind of usability of LB/HB on Mac OS. Currently running:

Mac OS 10.13.3 (17D102)
Rhino for Mac 5.4.1
GH and GH-ArchiCAD live connection

Right now I'm trying to set up the folder structure correctly
![folder_structure_mac_gh](https://user-images.g

[2018-04-02 00:00] chriswmackey commented on #439
@yafimski ,
It seems that the discussions that you have been having with @Sariths are about Honeybee[+] and so this issue does not belong under the legacy honeybee repository here.  Rather it should be posted to the Honeybee[+] repo here:
https://github.com/ladybug-tools/honeybee

We won't be easily able to get honeybee legacy to run on mac and so I'm going to close out this issue here.  I suggest

[2018-04-02 00:00] #439 closed

[2018-05-05 00:26] Ssadaba opened #441 "legendpar color input errors"
Legendpar requires a minimum 2 color inputs. However, every time I try to add a 2 swatch with a color keeps disconnecting the previous color input. Does anyone know what is the reason? I cannot change colors?

[2018-05-05 15:25] mostaphaRoudsari commented on #441
You need to hold down the shift to connect multiple wires to a single input.

This question should be posted to forum: http://discourse.ladybug.tools

[2018-05-05 15:25] #441 closed

[2018-05-06 02:30] Ssadaba commented on #441
Thanks Mostapha. I had my doubts whether that forum was the best to put my entry level query.

Again really appreciated.

Sergio Sádaba PE, CEng MCIBSE
Principal, Mechanical

Direct: 206-667-0575
Mobile: 206-485-5705

Stantec Consulting Services Inc.
400 Fairview Avenue North Suite 620
Seattle WA 98109-5371 US

<http://www.stantec.com>[Stantec]<http://www.stantec.com/><http://www.stantec.com>

The

[2018-06-17 11:19] demi12395 opened #445 "Unable to append point to list in ghpythonlib Library"
Hi all,

I'm new to scripting in GH using Python. I decided to try out the ghpythonlib.components library to perform a simple point cloud simulation but I am unable to find the equivalent command for append to list in the library. Everytime the code runs only the most recent point gets printed. I want them to be stacked in a list.

Kindly someone please help me out.
![image](https://user-images.gi

[2018-06-17 15:46] chriswmackey commented on #445
@demi12395 ,
I realize that it's not totally obvious from a google search where your question belongs but the Ladybug legacy github is definitely not the right place.  For all of your general python questions like this one, you should be searching stackoverflow, where you would find that the right way to append to the list is the following:
[code]

For anything specific to GHPython, the right plac

[2018-06-17 15:46] #445 closed

[2018-07-06 16:41] ayezioro opened #446 "Location output: importEPW vs importLoc"
Hi,
I've found today a difference in the way both components give the location output.

![capture](https://user-images.githubusercontent.com/7526023/42390278-0a4a01ae-8154-11e8-967b-4ddfbcad8593.JPG)
When you use the output of the importLoc to the sunPath you get the following error:

I noticed that this component is using the LadybugPlus library. As a matter of fact this component is the same of

[2018-07-07 03:43] ayezioro commented on #446
Thanks @chriswmackey,
You are right. I can't explain how it happens since i'm sure i was in the Ladybug tab picking the component. Checking now i see that the component is fine.
Sorry for the bother.
-A.

[2018-07-07 03:43] #446 closed

[2018-07-08 00:51] chriswmackey commented on #446
No worries. Glad it was that simple to fix :)

[2018-07-11 17:37] annasong20 opened #447 "Potential Bug"
Hi,

I’ve been looking through the code for Ladybug_Ladybug, and in its Preparation class, in the epwLocation method, should the second to last line of the method reading epwfile.close actually read epwfile.close()?

Thanks!

[2018-07-12 03:13] chriswmackey commented on #447
Good catch @annasong20 !  Thank you for reporting it.

I just pushed the fix:
https://github.com/mostaphaRoudsari/ladybug/commit/43c1f5a235d2675db9fc54bd82ae62373ae0a48e

Thanks again!

[2018-07-12 03:13] #447 closed

[2018-07-12 03:13] chriswmackey commented on #438
This one was fixed via https://github.com/mostaphaRoudsari/ladybug/commit/42f6574a8ef8d87890a5bf551c48ff7cab818e43

[2018-07-12 03:13] #438 closed

[2018-09-11 11:58] DIXZONZY commented on #99
Hi Chris, I have been unable to use a single ladybug bar chart component to plot different data on different charts so far. The data is not flattened and is input as 2 separate lists, but it still just plots it all onto one graph, rather than 2 separate graphs.

[2018-09-20 10:39] tashi11 opened #449 "ladybug is not working"
i am using rhino 6.  its showing 1. Solution exception:Method not found: 'Void Microsoft.Scripting.Utils.ExceptionUtils.RemoveData(System.Exception, System.Object)'.

how can i correct it?
![1](https://user-images.githubusercontent.com/43439410/45813168-81760080-bcef-11e8-8d47-0a40fb438ad9.PNG)

[2018-09-20 11:11] mostaphaRoudsari commented on #449
This has been asked before. See here:

https://discourse.ladybug.tools/t/rhino-6-error-in-ladybug-and-dragonfly-components-method-exception/3188

[2018-09-20 11:11] #449 closed

[2018-10-21 09:58] chriswmackey commented on #99
Sorry for the late reply @DIXZONZY but a question like this is better for our forum:
https://discourse.ladybug.tools/

You need to plug in several basePoints for the chart to not have them plot on top of each other and you'll find similar issues related to this on the forum.

[2018-11-14 04:06] kamex-kumax opened #452 "Small wrong description in SeparateByNormal Component."
`if _orientation_ != None:
            ori = int(_orientation_)
            sin45 = math.sin(math.radians(45))
            cos45 = math.cos(math.radians(45))
            if ori >= 0 and ori <= 9:
                if   ori == 0: orient = rc.Geometry.Vector3d( 0,          1, 0)    # N
                elif ori == 1: orient = rc.Geometry.Vector3d( sin45,  cos45, 0)    # NE
                elif ori == 2

[2018-11-14 04:19] #452 closed

[2018-12-11 07:05] sawjam opened #454 "Ladybug line chart type 2"
[errordatafile.txt](https://github.com/mostaphaRoudsari/ladybug/files/2666382/errordatafile.txt)
When using the attached data the chart fails with:
Runtime error (TypeErrorException): iteration over non-sequence of type NoneType

Traceback:
  line 427, in plotData, "<string>"
  line 506, in script
Chart 0 and chart 1 work fine.

[2018-12-11 07:06] sawjam commented on #454
[errordatafile.txt](https://github.com/mostaphaRoudsari/ladybug/files/2666378/errordatafile.txt)
Data file for line chart type 2 error

[2018-12-11 07:09] sawjam commented on #454
sorry closed it accidentally

[2018-12-12 09:57] chriswmackey commented on #454
@sawjam ,
All of the data is displaying correctly after I imported and reformatted it:
![image](https://user-images.githubusercontent.com/5567574/49861589-30dfe200-fdca-11e8-905e-eb7bc239bac3.png)

Could you post a link to a file that recreates the issue?

[2018-12-13 13:31] chriswmackey commented on #454
@sawjam ,

The issue was that one of your lists was entirely of 0 values, which make it difficult to draw an area chart since there is no area under the curve.  While I had a check for this when you plugged in only a single list of 0 values, I didn't have checks for when this type of data is alongside other data lists.  So I added a check here:
https://github.com/mostaphaRoudsari/ladybug/commit/f3

[2018-12-13 13:31] #454 closed

[2018-12-16 11:00] ayezioro opened #455 "Data conversion failed from Goo to Plane"
Hi @mostaphaRoudsari  and @chriswmackey,
I want to ask for your help to solve this issue.
Since R6 it started to show in the SunShades_Calc component. See [this discussion](https://discourse.ladybug.tools/t/possible-bug-on-sunshade-calculator-nov-20-2018-0-067/4695/2).

Two warning errors are issued:

Which are not pointing to an specific line in the code. The component produces the geometry, but

[2018-12-16 15:14] ayezioro commented on #455
Hi again, @mostaphaRoudsari  and @chriswmackey,
The issue was solved as you can see in the discussion mentioned above.
Soon i will sync the updated version on the github.
-A.

[2018-12-16 15:14] #455 closed

[2018-12-22 12:36] chriswmackey commented on #455
Thank you for letting us know, @ayezioro . Looking forward to a future pull request!

[2019-01-25 17:03] badio93 opened #456 "Epw file - Tokyo 476620 - wind only 180° direction"
Hello everyone!
I'm relatively a Ladybug newbie, so sorry if might seem a fool question, but i really need to solve this problem...
I'm working on an architectural project for Tokyo, specifically investigating wind direction and speed on site. I managed to work with LB wind rose and wind profile components, but i don't understand why the Tokyo epw file downloaded from Onebuilding (meteo station 47

[2019-01-25 18:17] mostaphaRoudsari commented on #456
Hi @badio93, This is not the right place to post this question. You should use the forum: discourse.ladybug.tools

[2019-01-25 18:17] #456 closed

[2019-01-25 18:18] badio93 commented on #456
Done, thank you!

[2019-04-15 19:21] goozgool commented on #412
I tried that, but it gives me an error

[2019-04-29 08:57] ayezioro opened #457 "bake issues in LB_LineChart & LB_BarChart"
Hi,
I've found a bug in the above components while trying to bake the geometry.
The error i get is:

It is related to the name of the weather station In my case it is "Tel Aviv-Bet Dagan - ISR MSI".

The code error in the BarCharrt is:

I solved it as follows (in the LineChart component, from line 468):
[code]
Just deleted the white spaces in the name. Not elegant but works.
I noticed than in othe

[2019-04-29 09:13] ayezioro commented on #457
The second issue happens in the LineChart component only.
See the following image:
![Capture](https://user-images.githubusercontent.com/7526023/56886475-c3caa180-6a77-11e9-9246-ff02144eb987.JPG)
The left image is the GH geometry, the right side shows the baked geometry.
As you can see the colors in the graph don't fit and the legend squares are missing.

This one i don't know what to suggest to fi

[2019-05-30 14:06] Vyrwn opened #459 "view from sun zoom"
This has always been a problem for me as fixing the zoom level would not always work especially on heavier models. Sometimes the scene would reset losing the zoom informations.

After 4 years of using it I decided to look into it :)

I figured that by tricking the component to create a perspectiveProjection, add zoom level, then change back to Parallel, it works.

It is not the cleanest of solluti

[2019-05-30 16:47] chriswmackey commented on #459
@Vyrwn ,

I don't have enough experience with heavier models to know the pain point you are mentioning but I trust you if this gives a better result for these cases without affecting the simpler ones.  Feel free to send a PR and I will merge it in.

[2019-06-19 07:22] etienneburdet opened #460 "Photovoltaic surface results don't match PVGIS"
Hello,
I found that the AC production of Photovoltaic Surface do not match the results of [PVGIS](http://re.jrc.ec.europa.eu/pvgis.html). I digged a bit and realized that to have the same results you need to have DCtoAC=1, Pvsurfacepercent=100, moduleactiveareapercent = 100 and efficiency =18. The last one is OK, but for all the other it seems like there is a problem with applying losses somewhere

[2019-07-17 14:32] CsillaVG opened #461 "Ladybug_Analysis Period (feature request)"
Hi,

First of all thank you and the other contributors for all the Ladybug-related scripts! They are awesome!
I have noticed that when the analysis period is passed to Energy Plus, a year is attached. I wonder if it would be possible to specify a year already in Grasshopper. Thanks!

Csilla

[2019-07-17 14:45] CsillaVG opened #462 "MicroclimateMap/EPOutput (question/feature request)"
Hi!

I wonder if it would be possible to calculate and visualize outdoor thermal comfort at 15 min time steps. Thanks!

Csilla

[2019-08-19 02:52] patternarch opened #463 "importEPW - directNormalRadiation outputting values in lux instead of W/m2"
Looks like V 0.0.67 NOV_20_2018 version of ImportEPW has Radiation and Illuminance flipped in the outputs. Radiation is in lux and Illuminance is in W/m2. Also directNormalRadiation is reporting diffuse and diffuseHorizontalRadiation is reporting direct components.

[2019-08-19 14:24] chriswmackey commented on #463
@patternarch ,

This is definitely an issue that is specific to your EPW since a bug this large would have been noticed by myself or any of the other hundreds of active community members on our forum.  Here's a screenshot just for more proof:
![image](https://user-images.githubusercontent.com/5567574/63273133-65664080-c26b-11e9-93bc-2c03057385f2.png)

We can help you figure out what is wrong with

[2019-08-19 14:31] patternarch commented on #463
@chriswmackey This consistently issue is for every TMY3 weather file  We have run every weather file to test this. TMY and TMY2 along with some international locations are correct. I think further exploration is warranted. Thanks for looking into this! Try the USA_AZ_Phoenix-Sky.Harbor.Intl.AP.722780_TMY3.epw for instance.

[2019-08-19 14:38] mostaphaRoudsari commented on #463
@patternarch, is it happening for weather files from DOE website or OneClimate? Can you send the exact link to the weather file. Thanks.

[2019-08-19 14:38] patternarch commented on #463
@chriswmackey Also even in the example you show the direct normal radiation is outputting in lux rather than W/m2.

[2019-08-19 14:49] patternarch commented on #463
@mostaphaRoudsari the climate files come from DOE

[2019-08-19 17:12] chriswmackey commented on #463
@patternarch ,

If that is the case, then you'll have to explain what you are expecting these results to be since these make sense to me:
![image](https://user-images.githubusercontent.com/5567574/63285101-03193a00-c283-11e9-87ac-9ca3993ad039.png)

[2019-08-19 19:21] patternarch commented on #463
Okay, looks like I was wrong on the TMY3 files. I thought I was connected to that one. However, I was connected to a TMY format. See screenshot. Radiation is looking correct but Illuminance has problems. Thanks for your patience. I should have put a screen shot in the first time!
![TMY problem](https://user-images.githubusercontent.com/20159038/63293023-05848f80-c295-11e9-8e98-787c436fe42a.JPG)

[2019-08-19 20:22] mostaphaRoudsari commented on #463
@patternarch, values >= 999900 are missing values. TMY files are older and it is common that they are missing data. See here: https://bigladdersoftware.com/epx/docs/8-3/auxiliary-programs/energyplus-weather-file-epw-data-dictionary.html#field-diffuse-horizontal-illuminance

There is not much we can do about this. @chriswmackey what are your thoughts?

[2019-08-19 20:37] chriswmackey commented on #463
Glad that we have come to an agreement that it is an EPW-specific issue and, yes, I agree that there isn't anything that we should change with ladybug legacy to estimate these missing illuminance values.

However, there are luminous efficacy models within the new ladybug-core Python library that would allow you to estimate the illuminance from the radiation and dewpoint values in the EPW.  I have

[2019-08-19 21:40] chriswmackey commented on #461
@CsillaVG ,

Sorry for the very late response.  This feature is relatively new to EnergyPlus but it unfortunately is set up a bit counter to how people typically use energy modeling.  It is also counter to how honeybee (and OpenStudio) are set up: to essentially run generic years or run TMY, which are composed of data taken from a range of different years.

What we (and OpenStudio SDK) will expose

[2019-08-19 21:43] chriswmackey commented on #462
This is something that will be enabled by Ladybug[+], which is already set up to handle sub-hourly timesteps.  We (Ladybug Tools) has a grant now to basically rewrite the microclimate maps so you can expect this to be available in the new plugins within a year.

[2019-08-20 18:31] mostaphaRoudsari commented on #463
Thank you @chriswmackey! @patternarch I'm going to close this issue as the original question has been resolved. Please post any follow up questions on the forum as suggested by Chris.

[2019-08-20 18:31] #463 closed

[2019-09-26 15:53] mostaphaRoudsari opened #469 "Moving this repository to ladybug-tools organization"
We are moving this repository to ladybug-tools organization: https://github.com/ladybug-tools/ so we can add the issues to `hacktoberfest`.

This will break the update components! I will send a fix after the migration and update [this example](http://hydrashare.github.io/hydra/viewer?owner=mostaphaRoudsari&fork=hydra_1&id=Update_Ladybug_and_Honeybee&slide=0&scale=1&offset=0,0) on Hydra which you c

[2019-09-26 16:12] ayezioro commented on #469
Hi @mostaphaRoudsari,
Just posted a new issue that somehow get lost (i don't see it). The issue is regarding the updater components, which are not working. Now i see why.
Will wait for your update on this. Just can tell you that those that will use those, until the fix is on, can have 2 situations:
1. No input for the sourceDirectory: Red component. Don't work.
2. input for the sourceDirectory: De

[2019-09-26 16:17] mostaphaRoudsari commented on #469
That is expected! :| I'm fixing it now and will send a reply here:

https://discourse.ladybug.tools/t/update-component-error-ini-object-is-not-iterable/7273

[2019-09-26 16:46] mostaphaRoudsari commented on #469
Done! See the fix here:

https://discourse.ladybug.tools/t/update-component-error-ini-object-is-not-iterable/7273/2

[2019-09-26 16:46] #469 closed

[2019-09-26 16:56] ayezioro commented on #469
Great. Thanks!!
Life is timing, and mine in this case was not good ... :-)
-A.

[2019-09-27 22:34] AntoineDao commented on #86
Does the PR above resolve this @chriswmackey ?

[2019-09-27 22:35] AntoineDao commented on #93
@chriswmackey is this issue resolved?

[2019-09-27 22:40] AntoineDao commented on #199
I'm assuming I can remove @boris-p 's assignment as this issue is 4 years old.

[2019-09-27 22:40] AntoineDao commented on #204
I removed @mostaphaRoudsari 's assignment as this issue is 3 years old.

[2019-09-28 00:01] ayezioro commented on #93
As far as i remember the issue was approached and solved. But it has been a long time ago. Let me check again ...
-A.

[2019-09-28 02:56] mostaphaRoudsari commented on #204
Making this change will break people's workflow. As the tag says this change should be considered for ladybug[+] plugin.

[2019-09-28 02:57] #204 closed

[2019-09-28 03:01] mostaphaRoudsari commented on #199
@chriswmackey, @boris-p do we still need such feature? If I'm not mistaken a couple of people have developed workflows which does this - I have see a number of papers.

[2019-09-28 03:02] mostaphaRoudsari commented on #86
This hasn't been resolved ans is a pretty good issue for hacktoberfest.

[2019-09-28 07:18] boris-p commented on #199
i'm pretty sure that it's already irrelevant.
Just checked and the functionality was added in pr 201

[2019-09-28 14:07] chriswmackey commented on #93
If @ayezioro  says it's resolved, then I'd sat it's resolved.  This is one of those that is so far back in time that I'm really not sure what the issue was about. Let's close it out.

[2019-09-28 14:07] #93 closed

[2019-09-28 16:02] #199 closed

[2019-09-29 16:08] chriswmackey commented on #199
Also, I think the first issue was partly addressed by @AntonelloDN 's [component that allows you to get a set of sun vectors filtered based on angle above the horizon](https://mostapharoudsari.gitbooks.io/ladybug-primer/content/text/components/SunriseSunset.html).  I know it's a little different than exactly what you were describing here @boris-p but it has a similar impact of not making the envel

[2019-10-14 12:24] CsillaVG commented on #462
Great, thank you!
Would it be possible also to include surface temperatures among the output parameters?
Good luck with the project!
Csilla

[2019-10-14 12:24] CsillaVG commented on #461
Thank you!

[2019-10-14 12:25] #461 closed

[2019-10-22 17:01] ayezioro opened #473 "Legend scale not working in windRose component"
Hi,
I believe i've found a small bug in the windRose, where it is not accepting changes in the legendScale parameter while a legendPar component is plugged.
In the code below you can see where it is happening. The commented line is the original. The line above that is at it should be.
It starts at line 703.
@chris or @devngc , it will be easier if one of you fix it (than if i do).
Thanks,
-A.

[2019-10-22 17:36] devngc commented on #473
Hi Abraham,
Thanks for pointing. I will look into this.
Thank you!

[2019-10-24 12:28] Maximilian16061996 opened #474 "Ladybug: How to change the temperature legends from C to °C."
Hello guys,

I have the following problem: I would like to set up a file in which I can visualize the temperature with a chart in Ladybug. However the legends of all the different chart types always use "C" as head of the legend. I would like to change this to "°C". Any idea how I can do that?

Looking forward to hearing from you!
Best Max

[2019-11-05 20:05] michalinadengusiak opened #476 "Ladybug_Capture_View misspelt word"
At the displayMode_ there is a misspelt word "Atristic".
I will make a fix.

[2019-11-05 20:15] michalinadengusiak commented on #476
![image](https://user-images.githubusercontent.com/37042279/68242588-1bdaf580-0011-11ea-9a73-b4a6f1aab2ca.png)
I can't push into the branch so I can't rise Pull Request.
Could you please help me?

[2019-12-08 11:26] michalinadengusiak commented on #476
@mostaphaRoudsari
As you advised, I created a fork.
Fixed the error in `Ladybug_Capture View.py`, and created a pull request.
Do I need to change this error anywhere else?
Should I add `Arctic` and `Raytraced`?

[2019-12-09 22:32] BingWangUS opened #478 "pierce_set calculation is returning different results comparing to CBE comfort tools"
The SET calculation is giving different results comparing to CBE comfort tools.

![image](https://user-images.githubusercontent.com/10835375/70478312-cc249980-1aa8-11ea-9599-e00e91766bee.png)

An investigation of the source code from Ladybug tools and CBE comfort tools indicated that the difference is caused by the while loop (line 300) in Ladybug tools and the do while loop used in CBE comfort to

[2019-12-22 18:50] #476 closed

[2019-12-25 20:26] michalinadengusiak opened #479 "Ladybug_Export Ladybug misspelt word"
At the `_components `there is a misspelt word "marsk" instead of marks.
I will make a fix.

[2019-12-25 21:35] mostaphaRoudsari commented on #479
Resolved via #480

[2019-12-25 21:35] #479 closed

[2020-01-30 14:34] devngc commented on #474
You can do the following to achieve what you mentioned.
![Custom Legend](https://user-images.githubusercontent.com/20086924/73457812-4273a880-4342-11ea-948a-90d71f18f319.png)
Using this [File](https://github.com/devngc/Work-in-Progress/tree/master/Ladybug%20Help%20Samples)
Please close this issue if this answers your query.

[2020-01-30 14:47] devngc commented on #473
@ayezioro, Can you please close the issue?

[2020-01-30 15:54] #473 closed

[2020-01-30 17:32] #474 closed

[2020-01-30 18:08] devngc commented on #86
@mostaphaRoudsari,
The component shared in the last post by Rafael seems to work. Do you have any comments on what Rafael put together?

[2020-01-30 18:10] mostaphaRoudsari commented on #86
@devngc, I haven't tested it not sure if @chriswmackey has done the tests. If it works then one should send a PR.

[2020-01-30 18:11] mostaphaRoudsari commented on #459
@Vyrwn did you send a PR for this one? Should we close this?

[2020-01-31 17:23] chriswmackey commented on #474
It's also worth adding that, because the degree symbol isn't an ASCII character, it can create issues on certain machines that lack a full character set and, perhaps more importantly, it creates issues with simulation engines like EnergyPlus, which halts the whole simulation when it finds a non-ASCII character. So this is why the software is the way that it is and it's why we still plan to use `C`

[2020-01-31 17:25] chriswmackey commented on #86
Agreed. Send a PR and we will be very happy to comment on anything that should be changed and then merge it.

[2020-02-04 15:24] zati89 opened #482 "North in SunPtah component takes number incorrectly - vector correctly"
Maybe other components using the same rotation code are also affected.
The rotation (north), is taken incorrectly when just a number slider are conected, from a vector (true North component) is taken correctly - I double checked it with manual rotation and also the view from the sun
![image](https://user-images.githubusercontent.com/8464745/73758092-7bf54b00-476a-11ea-9737-05954d436b78.png)

[2020-02-04 15:56] mostaphaRoudsari commented on #482
@devngc, is it something that you might be interested to check?

@zati89, so you are saying the true-north-vector is also exactly 41 degrees from the north?

[2020-02-04 15:57] devngc commented on #482
@mostaphaRoudsari,
Yes. Absolutely.

[2020-02-04 16:56] zati89 commented on #482
@mostaphaRoudsari  - honestly I don't know about the vector to be honest, but the north arrow components is correct

[2020-02-04 16:58] devngc commented on #482
I will get back to you.

On Tue, Feb 4, 2020 at 11:56 AM zati89 <notifications@github.com> wrote:

--
Sent from my iPhone

[2020-02-06 14:00] devngc commented on #482
@zati89,
The true north component is provided to derive true north from the magnetic north that you might get from the compass app on your phone or in some cases, magnetic north is mentioned on the site layouts rather than true north.

Therefore, by using google maps, you can find the true north for any location pretty easily. And that true north shall be used for all solar studies.

Considering t

[2020-02-06 16:39] devngc commented on #75
@mostaphaRoudsari, @chriswmackey,
Is this a high priority? This is tagged as a bug. I can look into this.

[2020-02-06 18:40] chriswmackey commented on #75
@devngc ,

I think this one might be an issue that's not easily solve-able with a fix since a non-planar quad face in a mesh inherently has an ambiguous area. In traditional definitions of meshes, all quad faces are interpreted as two triangles (I think this is what Rhino does when you get the mesh area). So, in this sense, the area of a non-planar quad face is the summed area of those two triangl

[2020-02-06 18:42] devngc commented on #75
Thanks for sharing that @chriswmackey. In that case, I believe it is safe to close this issue.

[2020-02-06 19:17] chriswmackey commented on #75
Yes, let's do it!

[2020-02-06 19:17] #75 closed

[2020-02-06 20:04] zati89 commented on #482
Hi @devngc ,

thats clear, my point is, When I input the vector I get a different result from that if I input a number to reffer to norh. You can double check it if you rotate a model manualy, and rotate just with an input number + watch it with the view from the sun.
@mostaphaRoudsari  can you please forward to devang my files I sent to you, I have them on different computer so can't do it now

[2020-02-08 00:47] devngc commented on #482
@zati89 ,
Can you please share the files?

[2020-02-08 04:09] mostaphaRoudsari commented on #482
Shared!

[2020-02-08 19:37] devngc commented on #482
@zati89,
Mostapha shared with me your files. Can you also share the location of this building / proposed building on google maps?

[2020-02-08 20:04] devngc commented on #482
In the first image below, text input is provided to the north input of the sunpath
![1](https://user-images.githubusercontent.com/20086924/74091129-24b0ec80-4a82-11ea-8154-b9a2a42a4a5a.png)
In the second image below, we use the north vector from the true north component
![2](https://user-images.githubusercontent.com/20086924/74091135-36928f80-4a82-11ea-9874-fac582f5f3cb.png)
You can see that there

[2020-02-09 12:12] ayezioro opened #485 "New tab / category structure - not all components migrated"
Hi,
I've updated to the last version on the github ([This one](https://github.com/ladybug-tools/ladybug-legacy/commit/381dcff506e1e4af1ad988f6b0e6f8a4b2fb35be)).
The folder identified by GH to upload them is now LB-Legacy or HB-Legacy, as opposed to the previous Ladybug or Honeybee.
This works fine for most of the components, but still there are some, developed in C++ that are not yet migrated cor

[2020-02-09 13:28] zati89 commented on #482
Hi @devngc ,

Yes this is the behavior I saw, but I was expecting to have the same result, why is the result from the true north components vector so much different ? Does it makes sense ?

[2020-02-09 13:37] chriswmackey commented on #485
@ayezioro ,

We are aware of all of the C# components and most of them were written by @MingboPeng and @AntonelloDN . @MingboPeng  is aware of the change and is working on a new version of IronBug.

I think because @AntonelloDN has [a newer version of the envi-met components that he's released under dragonfly legacy](https://github.com/chriswmackey/Dragonfly/tree/master/envimet), we'll just say th

[2020-02-09 13:54] AntonelloDN commented on #485
Hi @chriswmackey and @ayezioro,

Yes, we can remove old envimet components from Ladybug. It is better to have envimet stuff only under Dragonfly Legacy.

[2020-02-09 17:57] mostaphaRoudsari commented on #485
@AntonelloDN, can you give me a list of the components? or remove them yourself and send a PR. I almost know which ones are the ones but I'm not confident.

Thank you @ayezioro for reporting the issue. This is a change to open up ladybug and honeybee tabs for the [+] libraries.

[2020-02-09 21:12] AntonelloDN commented on #485
Hi @mostaphaRoudsari ,

components are:
<ul>
<li>Ladybug_ENVI-Met Building Terrain</li>
<li>Ladybug_ENVI-Met Display</li>
<li>Ladybug_ENVI-Met Find Output Folder</li>
<li>Ladybug_ENVI-Met Grid</li>
<li>Ladybug_ENVI-Met Manage Workspace</li>
<li>Ladybug_ENVI-Met Read Library</li>
<li>Ladybug_ENVI-Met Soil Plant Source</li>
<li>Ladybug_ENVI-Met Spaces</li>
</ul>

[2020-02-09 23:29] mostaphaRoudsari commented on #485
Thank @AntonelloDN! I removed those and also removed "Ladybug_ENVI-Met Results Reader". https://github.com/ladybug-tools/ladybug-legacy/commit/65b56d98e97980fc9e5f987a5f94391e7615861c

[2020-02-11 15:03] Vyrwn commented on #459
@mostaphaRoudsari I didnt PR this as the solution is a bit dirty and I dont want to create issues for other people.
Since the problem I was getting hasn't been raised at all by the community I wouldn't go to change the core code.

[2020-04-23 04:11] roxas358 opened #486 "Ladybug_Sunlight Hours Analysis period filter function wish"
Due to the increasing density of buildings in the city, the occlusion situation is more complex. Generally, there are several buildings sheltered by the sheltered buildings, so the time period for the buildings to get sunshine is often discontinuous, and in some cases, there will be a few minutes or even shorter time period.

I wish the "Ladybug_Sunlight Hours Analysis" could add a “Minimum Time S

[2020-04-23 04:31] roxas358 commented on #486
Besides，the time interval of sampling in sunshine calculation is an important factor affecting the calculation error. In order to ensure the accuracy of the sunshine analysis results and control the error within a reasonable range, the shadow sampling time interval should not be greater than 1.0min for the calculation software using the shadow time-sharing algorithm.

For the current version，I gue

[2020-04-23 04:31] roxas358 commented on #486
@mostaphaRoudsari  Thanks

[2020-04-23 14:04] mostaphaRoudsari commented on #486
@roxas358, Please post this question on the forum. Almost all the features has already exist in Ladybug. We can help you there with your questions.

[2020-04-23 14:04] #486 closed

[2020-05-05 17:25] LyleSY opened #487 "Update Radiance version on Wiki to 5.2"
I see the wiki recommends using Radiance 5.1. 5.2 dropped in 2018 https://github.com/NREL/Radiance/releases/tag/5.2
If 5.2 works and/or is better, can the wiki be updated to point to 5.2?

[2020-05-05 17:34] mostaphaRoudsari commented on #487
Yes. It should work fine.

[2020-05-05 17:34] mostaphaRoudsari commented on #487
Can you point me to the issue on Wiki?

[2020-05-05 17:39] LyleSY commented on #487
Sure, thanks. I was look at the Install Instructions here https://github.com/ladybug-tools/ladybug-legacy/wiki/Installation-Instructions . Running further along, I see the newest version of OpenStudio is now including a yet different version of Radiance (5.0.a.12 ) and ignoring other versions and also bundling EnergyPlus 9.3. Install is either getting easier or more complicated. https://github.com

[2020-05-06 00:02] mostaphaRoudsari commented on #487
Thank you! I updated the Wiki.

Back to OpenStudio you should ask the team. There is really no breaking change in new releases of Radiance and OpenStudio's Radiance functionality is limited to 3-phase. Not sure why they are keeping it to the older version. Probably just to be safe?

@rpg777 might be able to provide some insight here.

From our side it is fine. We are packaging our own Radiance wit

[2020-05-06 00:02] #487 closed

[2020-05-08 17:28] SonnyWeaver opened #488 "SunPath error with solar time and a 60min time step on 21March"
Dear @mostaphaRoudsari, dear @chriswmackey ,

as recommended in this post https://discourse.ladybug.tools/t/sunpath-error-with-solar-time-and-a-time-step-of-every-min/9627, I report the error that I found in the SunPath component.

I noticed when the SolarTime option is active, I cannot analyze on 21 March, with a 60 minute time step (sun for every minute). This error come out: math domain Error

[2020-05-10 13:38] mostaphaRoudsari commented on #488
Thank you @SonnyWeaver for reporting the issue. Any chance you can send a PR for this fix?

[2020-05-10 14:09] SonnyWeaver commented on #488
Sorry dear @mostaphaRoudsari , I don't understand what I should do.

[2020-05-10 18:48] mostaphaRoudsari commented on #488
No worries @SonnyWeaver and thanks again for reporting the issue.

[2020-05-24 02:59] chriswmackey commented on #488
Thank you for reporting the issue, @SonnyWeaver . I just merged in the fix that @ayezioro posted to the forum:
https://github.com/ladybug-tools/ladybug-legacy/commit/4da089e237d9afad882b91350c05400d58118b69

[2020-05-24 02:59] #488 closed

[2020-06-04 20:21] chriswmackey commented on #485
I know that @MingboPeng mostly addressed this as part of [this commit](https://github.com/ladybug-tools/ladybug-legacy/commit/13a33344ff3de6b076d4f40641e51579321cd3d6).

However, the False Start Toggle seems to be a part of the Ironbug.LBHB_Legacy.gha that everything got wrapped into and this component is still showing up in the Ladybug tab (as opposed to LB-Legacy):
![image](https://user-images.g

[2020-06-05 03:19] chriswmackey commented on #485
After clearing up some confusion, I think we can close out this issue thanks to this commit:
https://github.com/ladybug-tools/ladybug-legacy/commit/f2419397010ff34d1a1967629e512a795233d226

[2020-06-05 03:19] #485 closed

[2020-09-24 16:16] ender462 opened #491 "Stereoscopic projection GH"
Hi @Vyrwn! I am fairly new to the amazingness of Rhino & GH. I've been trying to figure out how to stereoscopic projection for a model I am doing. I know how to easily do it mathematically, but have been having a bit of trouble with the tree data type/logic. If you would possibly be able to share a gh file or insight it would be an immense help!

Thanks!
Jared

I had a small grasshopper file to do

[2020-10-09 20:19] LyleSY opened #492 "Legacy install instructions point to OpenStudio version that isn't compatible"
I am told that the legacy installation requires OpenStudio 2.6 and no newer because it uses an older and compatible version of EnergyPlus. See this post for more on that: https://discourse.ladybug.tools/t/severe-errors-during-energy-simulation-in-honeybee/10160/3

If this is correct, can the install info on the wiki be updated on HoneyBee item 8? https://github.com/ladybug-tools/ladybug-legacy/wik

[2020-11-06 01:46] siown commented on #492
Yes you're right. When I installed OpenStudio 2.8, I got error "1. Failed to download the files needed to run EnergyPlus with OpenStudio 2.x.SystemError(u'\u57fa\u7840\u8fde\u63a5\u5df2\u7ecf\u5173\u95ed: \u53d1\u9001\u65f6\u53d1\u751f\u9519\u8bef\u3002',)". Then I uninstalled OpenStudio 2.8 and tried OpenStudio 2.5, the Honeybee could fly.
PS: I am working on HB-legacy.

[2020-11-06 16:41] mostaphaRoudsari commented on #492
@chriswmackey and @MingboPeng, can you provide some insight here. Should we update the installation instruction?

[2020-11-11 22:19] marijamiliukaite opened #493 "Please help!!"
Have no idea what’s wrong with my grasshopper! Ladybug does not come up on rhino, and is sending me errors! Please please help!
![8ADAC6A4-75C8-46CC-894D-5F8E99C26D45](https://user-images.githubusercontent.com/74328929/98870885-dfd04100-246b-11eb-9357-bc7f3ac8dad2.jpeg)
![D38E3E1B-7AD7-4BCD-8F2E-92AC0947437A](https://user-images.githubusercontent.com/74328929/98870896-e494f500-246b-11eb-9e18-c01a8

[2020-11-12 01:24] mostaphaRoudsari commented on #493
Hi @marijamiliukaite, you should use the forum for support questions. Your question has already been asked and answered.

https://discourse.ladybug.tools

[2020-11-12 01:24] #493 closed

[2020-12-21 08:06] Samarallam5 opened #494 "Psychometric Chart Comfort polygon has fallen off"
Hello,
I have set the PMV comfort parameter
Merged comfort polygons
I have tries the passive strategies as well.
still comfort polygon has fallen off the chart.
any suggestions
thanks

[2020-12-21 14:32] mostaphaRoudsari commented on #494
Hi @Samarallam5, you should post this question to the forum. https://discourse.ladybug.tools

Also you should provide a weather file to make it possible to recreate the problem.

[2020-12-21 14:32] #494 closed

[2020-12-26 18:07] Samarallam5 commented on #494
Hello Mostafa,
Thank you so much for your prompt reply
kindly refer to this link
I have already posted it
https://discourse.ladybug.tools/t/psychrometric-chart-desnt-show-comfort-polygon/7053?u=sammar.allam88

Kindly find the attached grasshopper and weather files.
Looking forward to your reply

On Mon, Dec 21, 2020 at 4:33 PM Mostapha Sadeghipour Roudsari <
notifications@github.com> wrote:

--
-*

[2021-12-06 14:26] jramsden271 opened #496 "Repeating characters for the Fly component"
Line 218 of the Fly component, there is indeed a better way to replicate `50 * "."` in C#:
`string pb = new string('.', 50);`

Alternatively, it looks like it can be simplified further.
Replace line 332 with:
`string pbString = new string('|', lnCount) + new string('.', pbLength - lnCount);`
and at the top of the `UpdateProgressBar` method, add:
`int pbLength = 50;`
Then get rid of the pbChars els

[2021-12-06 20:27] mostaphaRoudsari commented on #496
Hi @jramsden271! Thank you for opening this issue. We are not actively developing the legacy plugins anymore. I still keep this issue open in case we wanted to re-write it for the new LBT plugins. Cheers.

[2021-12-07 13:50] SpaceArchitecture commented on #86
Any updates on this component ?

[2022-03-22 18:06] sercrp opened #497 "dragonfly_UWGBldgTypes"
Runtime error (KeyNotFoundException): dragonfly_UWGBldgTypes

Traceback:
  line 1012, in __init__, "<string>"
  line 1063, in from_geometry, "<string>"
  line 71, in script

There is error like that.

[2022-03-22 18:09] sercrp commented on #497
I am Architect. I want to use your urban heat island model to produce some data. But I guess I have to use grasshoper and python together. But I don't know how can I use python. Can you explain basically what steps I should follow? step by step. As I said, since I'm an architect, I don't know the code part of the job. So I can't use the model.

[2022-03-22 21:08] mostaphaRoudsari commented on #497
Hi @sercrp, Thank you for opening an issue. You should post this question to the forum: https://discourse.ladybug.tools/

Also, you should probably use the LBT plugins instead of the legacy ones.

[2022-03-22 21:08] #497 closed, assigned to nobody

[2022-03-23 11:21] sercrp commented on #497
![image](https://user-images.githubusercontent.com/102178591/159687659-8339c229-d10c-436b-acd2-bf5c08803655.png)
There is no define topology tools in LBT plugins. Only legacy one have it. I guess ı have to define geometry but I defined it via Rhino6. Please help me I have important conference next week and I have to do that.

[2022-03-23 14:06] mostaphaRoudsari commented on #497
Hi @sercrp! I'm not the right person to help you. And ss I said above you should post this question to the forum and not here. Hopefully, someone on the forum can help you with your question.

[2022-06-17 14:24] javier1332 opened #498 "Window is not displaying on Rhino 7"
I have Rhino 7 with Ladybug 1.5.0 and I tried creating a window as show in the pictures, and it does not display on Rhino, also I want to include the material for the window that I created and I saw that on older versions that is possible but not in the most recent. Any tips?
![MicrosoftTeams-image (3)](https://user-images.githubusercontent.com/107697315/174317514-4f893a4f-c101-4bce-94cc-eb73bf591

[2022-06-18 13:48] mostaphaRoudsari commented on #498
Hi @javier1332! You should post this question to the forum: https://discourse.ladybug.tools

[2022-06-19 15:24] #498 closed, assigned to nobody