[2012-11-29 00:26] mostaphaRoudsari opened #1 "pre-release bugs"
1. showTotalOnly doesn't work for radiation rose. [fixed!]
2. center point for sun path is not working. [fixed!]
3. an exception for flatten list should be added so it won't crash for non-ittrable objects (e.g. meshes). [fixed!]
4. calBoundingBox gives inaccurate result in some cases. [fixed]
5. running period doesn't report the correct date for the end of the months. [fixed!]
6. Sunpath doesn't w

[2012-11-29 00:27] #1 closed, assigned to nobody

[2012-11-29 00:30] mostaphaRoudsari opened #2 "pre-release [still open] bugs"
1. low bound doesn't work for normalize legend without using high bound.
2. orientation study doesn't work for analysis components.

[2012-11-29 00:33] mostaphaRoudsari opened #3 "components description and input/output help"
add short description for inputs and outputs

[2012-11-29 00:38] mostaphaRoudsari opened #4 "Add show monthly to radiation rose"
Add an option that the component shows radiation rose for each month.

[2012-12-01 20:21] mostaphaRoudsari opened #5 "Add sky patch vectors to sky dome as an output"
It is really easy to do, but sky patches is not that accurate. Overlay data on sunpath will cover this.

[2012-12-01 20:24] mostaphaRoudsari opened #6 "Add titles, comments to diagrams"
This should be added as soon as possible.

[2012-12-01 20:26] mostaphaRoudsari opened #7 "add hourly data overlay to sun-path"
it will cover issue 5 as well -> https://github.com/mostaphaRoudsari/ladybug/issues/5

[2012-12-01 20:31] mostaphaRoudsari opened #8 "add shadow study to sun-path"
Shouldn't be hard in Rhino 5. This is a good example by Luis: http://www.grasshopper3d.com/profiles/blogs/control-rhino-sun-system-from-gh-rhinocommon

[2012-12-01 20:39] mostaphaRoudsari opened #9 "add other skies to skyDome e.g. Reinhart's extension of the Tregenza sky"
This is an interesting issue. If I can ever get Darren Robinson to reply to my emails, then I can re-write/modify genCumulativeSky.exe for more dense sky patches. The visualization part is the simple part.
Here is a small discussion about the idea, and why it is interesting-> http://diva4rhino.com/forum/topics/inquisicion-cumulative-sky-luminance?commentId=6465059%3AComment%3A7422

[2012-12-01 20:45] mostaphaRoudsari opened #10 "export to RADIANCE"
I get more and more requests to add export to Radiance to Ladybug. Well I'm not sill fully convinced that this would be helpful since I think Diva does a good job about export to RADIANCE. On the other hand I already have all the functions and classes developed for Caterpillar so if more users ask for it, I'll add the Ladybug version of export to Radiance! Or make Caterpillar publicly available...

[2012-12-01 20:54] mostaphaRoudsari opened #11 "export to EnergyPlus"
same comments for export to Radiance issue:  https://github.com/mostaphaRoudsari/ladybug/issues/10

Plus Diva is so limited for EnergyPlus simulations. I should update Export2EP class for EP 7.2. The current version of the script works for EP 6!

[2012-12-01 21:10] mostaphaRoudsari opened #12 "make Ladybug as a .GHA plugin instead of userObjects"
This is on top of my list! I've tried multiple ways so far and always failed!

It's so frustrating that I have to distribute the scripts as userObjects that doesn't have all the functionalists!  whatever...It is what it is!

Steve have already added this issue to GHPython list but I cannot see the changes to happen soon: https://github.com/mcneel/ghpython/issues/43

The plan B is:
0. Learn C#
1. M

[2012-12-01 23:03] mostaphaRoudsari opened #13 "meshLine should be used instead on meshRay for view analysis"
The change is easy to make however meshLine is so slow! A better option probably is to provide two different calculation methods. it will be up to user to select the right method based on the study.

[2012-12-02 22:59] mostaphaRoudsari opened #14 "change the order of tilt angle in radiation rose"
current component is confusing. 0 should represent a roof and 90 should represent a wall!

[2012-12-03 21:48] mostaphaRoudsari opened #15 "Identify annual cooling and heating period"
HDD and CDD calculator, radiation rose, and genCumulativeSky may have the option to read the weather file and separate the cooling period and the heating period.

It could be done using the old-fashioned degree days way (ESP-r cookbook is a good resource to look at), or it could be done by running an EP simulation so the schedule and internal loads will be considered in calculations.

ESP-r cookbo

[2012-12-06 21:18] #3 closed, assigned to nobody

[2012-12-06 21:20] #2 closed, assigned to nobody

[2012-12-06 21:22] mostaphaRoudsari opened #16 "Bake for environmental analysis components gives error for orientation studies"
It should be something related to separating the environmental analysis component into 3... should be easy to fix.

[2012-12-20 20:05] #16 closed, assigned to nobody

[2012-12-20 20:05] #13 closed, assigned to nobody

[2012-12-20 20:08] #5 closed, assigned to nobody

[2012-12-22 11:01] mostaphaRoudsari opened #17 "apply more accurate algorithms for CDD and HDD"
Based on this link: http://www.vesma.com/ddd/ddcalcs.htm

[2012-12-22 11:04] mostaphaRoudsari opened #18 "select hourly data modification"
Current component selects the data from start hour of the first day to end hour of the end day, however it should select the data from start hour to end hour of every single day!

[2012-12-24 00:35] #6 closed, assigned to nobody

[2012-12-25 05:55] #7 closed, assigned to nobody

[2012-12-25 08:08] #14 closed, assigned to nobody

[2012-12-26 02:09] #17 closed, assigned to nobody

[2012-12-26 03:26] mostaphaRoudsari opened #19 "WindRose and RadiationDome (called Calla Lily now)"
Well! I personally cannot imagine Ladybug with no WindRose and RadiationDome Charts. There are old versions for both of them but I don't like them as they are now. I should be able to release the Bug before the new year anyways...

[2012-12-26 06:18] #18 closed, assigned to nobody

[2013-01-01 22:05] mostaphaRoudsari opened #20 "axes and numbers + 2D charts"
I should add axes to 3D charts. It is not critical for the first release but should be considered as one of the first enhancements...

[2013-01-01 23:30] #19 closed, assigned to nobody

[2013-01-02 03:14] mostaphaRoudsari opened #21 "Add direction compass!"
This is the last one that I'm going to add! Promise!

[2013-01-02 21:29] #21 closed, assigned to nobody

[2013-01-15 20:23] mostaphaRoudsari opened #22 "view analysis intersection fails!"

[2013-01-15 20:25] #22 closed, assigned to nobody

[2013-01-17 00:27] mostaphaRoudsari opened #23 "add running period to wind-rose component"
Currently the user should filter the wind direction data using select/average data component. Thanks to Abraham Yezioro for bringing this up!
![Ladybug_WindRose_Selected_Period](https://f.cloud.github.com/assets/2915573/73319/9035b7ac-603c-11e2-8588-023ad8da48a9.jpg)

There was also a minor bug that I fixed!

[2013-01-17 06:32] mostaphaRoudsari opened #24 "Rorschach Shadow Diagram"
lmnts did a great job for what they call Rorschach Shadow Diagram that I'm thinking to add it to Ladybug as a new component. Check the work here for more information:

![screenshot](http://lmnts.lmnarchitects.com/wp-content/uploads/2012/10/North_Page_05.jpg)

credits: http://lmnts.lmnarchitects.com/parametrics/rorschach-shadow-diagram-implementation/#.UPeaaifAd8E

[2013-02-11 18:41] mostaphaRoudsari opened #25 "add total and average results to the title for radiation, sunlight hours, and view studies"
Thanks to Abraham for bringing it up!

[2013-02-28 01:02] mostaphaRoudsari opened #26 "Branch the result of analysis components for each surfaces"

[2013-02-28 01:22] mostaphaRoudsari opened #27 "Support two separate contexts for orientation studies"
Back to this request:
"1. I agree that the probability of rotating the context is low. But what about of rotating elements that you don't want to calculate? For instance in your example, if i want to calculate just the roof (or any other part). You'll need to rotate the whole building but not to calculate all of it. Will be useful."

Solution: I can make the toggle for rotateContext input in orien

[2013-03-13 01:47] mostaphaRoudsari opened #28 "sunpath - bugs in running period input"
"Hi Mustapha. Thanks for the nice add-on. I was just trying the 'analysis period' component for sun path visualization. It seems there's either a bug with this or I'm missing something about this. See the dates in the image.."
![](http://api.ning.com/files/GDVu6mbJRoff-hb5uPfgf2APfrrbiDKQ25cat*aRWyMOUVO9VC71O1kEuzRTGLNsQ6Y-fxiWNL3NU4-6GYvhliAxnY3nugn5/analysis_period_error.jpg)

+

"1. When you co

[2013-03-13 01:49] #28 closed, assigned to nobody

[2013-03-13 02:05] mostaphaRoudsari opened #29 "wind analysis component"
Notes:
0. Hopefully GoldFish will cover this part!
1. OpenFoam has a windows version now! Interesting! :)

[2013-03-18 23:19] mostaphaRoudsari opened #30 "Vertical Sky Component"
Vertical Sky Components next to Sunlight hours will enhance Ladybug capabilities for planning purposes.

A wish from doompop: http://www.grasshopper3d.com/group/ladybug/forum/topics/vertical-sky-component-great-job

[2013-04-23 17:03] mostaphaRoudsari opened #31 "Add north sign"
It's good to have a component that shows the north direction! Graphic to be decided later. Maybe a simple graphic and a sunPath overlaid option similar to this: http://mutantproject.com/2010/08/30/sustainable-symbols-north-arrow/
http://mutantproject.files.wordpress.com/2010/08/presentation.jpg?w=625&h=390&crop=1

[2013-05-02 19:29] mostaphaRoudsari opened #32 "Permission issue on Windows 8"
I should find a way to run the batch files in "Elevated Mode" or re-write GenCumulativeSky in Python so I don't have to run it as a batch file. Check here: http://www.grasshopper3d.com/xn/detail/2985220:Comment:843075

[2013-07-28 17:35] mostaphaRoudsari opened #33 "Wind Table"
A table that shows wind speed and wind direction for each hour of the year!
Asked by Navid

[2013-10-14 01:27] #26 closed, assigned to nobody

[2013-10-14 01:28] #11 closed, assigned to nobody

[2013-10-14 01:29] #10 closed, assigned to nobody

[2013-10-14 01:32] #9 closed, assigned to nobody

[2013-10-14 01:33] #32 closed, assigned to nobody

[2013-10-14 01:39] #24 closed, assigned to nobody

[2013-10-14 01:46] #4 closed, assigned to nobody

[2013-10-19 04:50] #31 closed, assigned to nobody

[2013-10-19 04:52] #25 closed, assigned to nobody

[2013-10-19 06:05] #23 closed, assigned to nobody

[2013-10-21 03:35] #27 closed, assigned to nobody

[2013-11-15 04:21] mostaphaRoudsari opened #35 "Modify conditional statement function for 3D chart"
The component only can run conditional statements for annual hourly input and can be modified to support selected data. Thank you Corey Green for the suggestion.

[2013-11-21 02:48] mostaphaRoudsari opened #36 "Graft the result output from the realTimeRadiation Analysis"
Thanks to Abraham:
http://www.grasshopper3d.com/group/ladybug/forum/topics/surface-problem?commentId=2985220%3AComment%3A960618&groupId=2985220%3AGroup%3A658987

[2013-12-02 02:16] #30 closed, assigned to nobody

[2013-12-20 17:38] mostaphaRoudsari opened #37 "Add optional font input for legend parameters"
Feedback from @chriswmackey based of one of his workshops

[2013-12-27 22:39] mostaphaRoudsari opened #38 "Add north to radiation rose and sky dome"
Thanks to Anne!

[2014-01-22 11:51] mostaphaRoudsari opened #39 "Azimuth for South Hemisphere"
Looks like a bug... Reported by Navid!

![picture](https://f.cloud.github.com/assets/2915573/1973479/826e1a90-835b-11e3-86f6-4151921281d9.jpg)
![picture2](https://f.cloud.github.com/assets/2915573/1973480/827422be-835b-11e3-8b1d-9fd1355f04e0.jpg)

[2014-01-25 14:26] mostaphaRoudsari opened #40 "Solar Fan fails for convex boundaries"
@chriswmackey can you please check this issue. More here: http://www.grasshopper3d.com/xn/detail/2985220:Comment:996306

[2014-01-26 16:53] mostaphaRoudsari opened #41 "Bake the context for orientation studies"
The part of the context that rotates with the geometry during the orientation study should be baked if the bake is on. Generally speaking I should fix the bake function. I think I wrote it very poorly when I did it the first time.

[2014-01-28 04:07] #40 closed, assigned to chriswmackey

[2014-02-16 21:33] #39 closed, assigned to nobody

[2014-02-20 00:45] mostaphaRoudsari opened #46 "Shading designer - Number of vectors doesn't match the number of shadings"
@chriswmackey do you know what this is happening? It will make it hard to map the data from the weather data on top of the shadings.

![shadingdesigner](https://f.cloud.github.com/assets/2915573/2213995/481088e6-99c8-11e3-8e50-2c641bd221b9.png)

Here is the example file: https://www.dropbox.com/s/rt971oo8s0yamhl/exampleFile.gh

[2014-02-23 21:35] #46 closed, assigned to chriswmackey

[2014-02-27 00:24] saeranv opened #47 "Radiation Analysis is missing the intersectionMtx hint."
@mostaphaRoudsari Found a small omission, the intersectionMtx component is missing it's argument hint.

![radiationanalysis_hint](https://f.cloud.github.com/assets/1685956/2277644/64ae756c-9f45-11e3-9332-04c10ad816d9.JPG)

Saeran

[2014-03-02 03:28] mostaphaRoudsari opened #48 "Add additional check for the version of ghPython component in Ladybug_Ladybug and Honeybee_Honeybee"
check ghenv.Version and return if version is old!

[2014-03-02 14:39] mostaphaRoudsari opened #49 "Add the functionality to cancel the analysis with Esc"
Asked by Apoorv.

[2014-03-02 14:53] mostaphaRoudsari opened #50 "Add a component to let the user input the minutes for sunpath"
Thanks to Francesco. Will add this one soon.

[2014-03-20 03:47] #48 closed, assigned to mostaphaRoudsari

[2014-03-21 05:13] #35 closed, assigned to nobody

[2014-03-23 02:50] #50 closed, assigned to nobody

[2014-03-29 06:17] #47 closed, assigned to nobody

[2014-03-31 02:36] mostaphaRoudsari opened #52 "Shading component fails in several cases"
@chriswmackey I tried few cases last night with shading designer and here is two examples that it wasn't able to generate the right results. It is not really critical right now but would be great if you can give it some love at some point.

I'm using Ladybug example 03_SunPath file and NREL weather file.

![shadingdesigneri](https://cloud.githubusercontent.com/assets/2915573/2563401/10c00c58-b87d-

[2014-03-31 18:46] mostaphaRoudsari opened #53 "Add results of the analysis to mesh as userData and potentially bake them with the mesh"
Check this discussion: http://www.grasshopper3d.com/forum/topics/mesh-to-brep-2

[2014-04-01 04:56] #52 closed, assigned to chriswmackey

[2014-04-14 16:27] chriswmackey opened #54 "Allow 3D Chart to Accept Inputs Without Header Text"
Oftentimes, I will have a stream of 8760 values corresponding to the hours of the year but there will be no header for these values as I have gotten them through analysis with standard grasshopper math components.  To display these numbers on the 3D chart component, I have to add some random text strings to the list and I would prefer if I did not have to do this.  Right now, when I just connect u

[2014-04-14 17:31] chriswmackey opened #55 "Have the Text of Ladybug Output as Surfaces Instead of Curves"
The user can always extract curves from surfaces but it is difficult to go the other way around.  This should just mean adding in a line to create a planar surface from the text curves.

[2014-04-14 18:41] mostaphaRoudsari opened #56 "Add capture screen as an official component to Ladybug"
##

[2014-04-14 23:21] #54 closed, assigned to mostaphaRoudsari

[2014-04-14 23:35] mostaphaRoudsari opened #57 "Separate the legend output into two"
create two separate outputs one for the legend and one for the title to give a better control to user

[2014-04-14 23:37] mostaphaRoudsari opened #58 "Add an option to legend parameters to export text as text and not a surface"

[2014-04-18 18:51] #55 closed, assigned to mostaphaRoudsari

[2014-04-20 20:32] #37 closed, assigned to mostaphaRoudsari

[2014-04-20 21:30] #38 closed, assigned to nobody

[2014-04-21 20:40] chriswmackey opened #59 "Make a Version of the 3DChart that Plots Input Data as Mesh Faces Instead of Vertices"
I know I had mentioned this a while back but I think that the clarity of the Ladybug 3D Chart would be greatly improved if each datum of the Chart was a mesh face instead of a vertex.  This would produce a kind of step-like mesh and a view of the chart from above that has a single-colored mesh face cell for each hour (instead of the gradient that you get now, which is difficult to read when you zo

[2014-04-22 01:52] mostaphaRoudsari opened #60 "Test chamber component"
This component will generate a test room based on users input and inserts a person so we can calculate an accurate radiation analysis to be used for MRT calculation.

[2014-05-06 12:50] mostaphaRoudsari opened #61 "Add a component to calculate sunrise and sunset time"
Can be probably  merged into sun-path.

[2014-05-22 01:09] mostaphaRoudsari opened #62 "Wrong units in radiation analysis component outputs description"
http://www.grasshopper3d.com/xn/detail/2985220:Comment:1073935

"The RadiationAnalysis component mentions it returns values in Wh/m2 and Wh, but the generated legend says kWh/m2. The latter seems to be right."

@chriswmackey this is actually half true. If the sky is generated for a single HOY the result will be in Wh/m2. In case of annual sky the values will be kWh/m2. I'm not sure how do we want

[2014-06-04 00:40] mostaphaRoudsari opened #63 "Put version check function in a try/exception"
I wrote this function to check the version of GHPython.
https://github.com/mostaphaRoudsari/ladybug/blob/master/src/ladybug_ladybug.py#L2792

Ironically older versions of GHPython doesn't have the method so it makes the component crash: http://www.grasshopper3d.com/xn/detail/2985220:Comment:1082588

[2014-06-04 01:00] mostaphaRoudsari opened #64 "Add an extra check for Open EPW And STAT Weather Files component"
Hey @chriswmackey, I just used this component for the first time and found it really useful. Good job!

I wonder if you want an extra check before download and only download the file is it hasn't been already downloaded. As far as I can see in the current version the component download the files every single time:
https://github.com/mostaphaRoudsari/ladybug/blob/master/src/Ladybug_Open%20EPW%20And

[2014-06-27 19:04] #64 closed, assigned to chriswmackey

[2014-06-30 18:37] #59 closed, assigned to nobody

[2014-07-01 04:34] #57 closed, assigned to nobody

[2014-07-01 04:35] #20 closed, assigned to nobody

[2014-07-01 07:46] chriswmackey opened #65 "Make a Ladybug + Honeybee Wiki and a Component that Auto-Writes Component Descriptions to This Wiki"
Hopefully, we'll get around to this soon.

[2014-07-04 08:50] arkdanielnielsen opened #66 "Bug with Shading Designer !?"
There is missing shades at some of the windows.
![ladybug_shddesigner_missing-shades-01](https://cloud.githubusercontent.com/assets/7299731/3479815/39496c8e-0358-11e4-8729-989a4658137f.JPG)

[2014-07-04 09:43] arkdanielnielsen opened #67 "Wish - Window/door Recess component"
A component that makes window/door recess. New regulations in Denmark results in walls up to 500mm thick, and with passive houses walls can even be 600mm! This have some impact on daylight studies (and a little on the energy studies) because of shade from the recess depth.

With similar input as "Honeybee EP context Surfaces".

![honeybee_wish_window-door-recess-component-01](https://cloud.githubu

[2014-07-07 06:54] ayezioro opened #68 "Plot data by month"
Hi Mostapha and Chris,
I'm trying to plot climatic data by month, but i'm getting at the output something like "IronPython.Runtime.List". I know that those lists are ok but they don't show the circles for the months. Connecting a Geometry component to the output i get a "1. Data conversion failed 'from Goo to Geometry" error.
Having the point as only one full list works fine.
I'm collecting the po

[2014-07-09 05:21] #56 closed, assigned to mostaphaRoudsari

[2014-07-09 16:15] #66 closed, assigned to chriswmackey

[2014-07-15 19:20] chriswmackey opened #70 "Psychrometric Chart Upgrades"
Feel free to post any comments/questions on the new Ladybug Psych chart here.

I respond to some of @ayezioro questions below:

How much are you shifting the comfort zone as you change Clo/Met? I get some situation where the GZ reaches beyond 35 deg (try sleeping, reclining).
Check the polygons of the strategies. Besides the EC all the other and confined to the limits of the CZ.
The StrategyOrNot

[2014-07-15 19:22] chriswmackey opened #71 "Bug in 3D Chart Conditional Statement With Multiple Data Streams"
@ayezioro rightly pointed out this it not working.

[2014-07-16 21:21] #71 closed, assigned to nobody

[2014-07-18 19:15] mostaphaRoudsari opened #72 "Wind speed calculator turns red once dropped into canvas"
@chriswmackey really like this new component here. There is a bug in checking inputs. You can either give a default value for terrainType or fix the function.

![windspeedcalculator](https://cloud.githubusercontent.com/assets/2915573/3630843/d35aabbe-0eaf-11e4-871d-c97f9a8639ab.png)

[2014-07-21 14:51] mostaphaRoudsari opened #73 "Add alternate NOAA as alternate sun position calculation"
This discussion came up while ago: http://www.grasshopper3d.com/group/ladybug/forum/topics/sun-path-from-ecotect-vs-ladybug

and it keeps coming up over and over. Recently I had a discussion with Rob on the same issue and he has been so passionate to get this discrepancy solved. He has also found cases that discrepancy is more than a degree. Here are two thing that I want to do.
1. Double check th

[2014-07-27 18:29] ayezioro opened #74 "CloFunction error"
Hi,
When connecting analysis period with the whole year (8760 hours) the component gets the following error:
1. Solution exception:index out of range: 8760
When no period defined (default whole year) it works fine.
Cool component.
-A.

[2014-07-29 22:41] mostaphaRoudsari opened #75 "Area difference between ladybug componets and Grasshopper for nonplanar meshes"
Looks like a tolerance issue. Reported by  Diederik

![areadifference](https://cloud.githubusercontent.com/assets/2915573/3743022/794d7384-1771-11e4-9121-ef34e28274c5.png)

[2014-08-02 02:26] #73 closed, assigned to mostaphaRoudsari

[2014-08-12 13:53] arkdanielnielsen opened #76 "Bug "Ladybug_Capture View" - export image size"
I dont know if it is a bug or just me that do something wrong. I can not change the image size when I specify it through the "Ladybug_Capture View" component.
![ladybug_exprtrhinoview-01](https://cloud.githubusercontent.com/assets/7299731/3891221/f53ede4a-2227-11e4-818e-11b54b8bca6e.JPG)

[2014-08-13 01:18] #76 closed, assigned to nobody

[2014-08-13 01:21] #72 closed, assigned to chriswmackey

[2014-08-15 22:54] mostaphaRoudsari opened #77 "Legend component returns a single segment for values less than 2 decimal places"
Check this link: http://www.grasshopper3d.com/group/ladybug/forum/topics/ladybug-radiation-analysis-legend-not-appearing?page=1&commentId=2985220%3AComment%3A1116783&x=1#2985220Comment1116783

[2014-08-15 23:20] mostaphaRoudsari opened #78 "change default color-sets for view and radiation/sunlight hours analyses"
It is a good idea to have different gradient colors for different analysis types. We have two really good examples from Miguel (https://www.dropbox.com/s/eehp5ku6i4i1i89/sunlightHoursGradient.gh) and Jason (https://www.dropbox.com/s/atsayjjqqwp310o/viewGradient.gh).

@chriswmackey let me know your thoughts on this before I implement it. You also have created set of really good color gradients.

[2014-08-19 02:22] #77 closed, assigned to mostaphaRoudsari

[2014-08-25 05:53] #74 closed, assigned to chriswmackey

[2014-08-25 05:57] chriswmackey opened #79 "New Ladybug Example Files"
He Mostapha,

I have begun to make some new Ladybug example files and, before I got too much deeper into it, I thought I should ask you about the best way to go about this.  I re-vamped the wind example file to include the two new wind components that I added in the last 2 months (please edit it or give me comments if it's not up to standards):
https://www.dropbox.com/s/xfawimoje46ssfb/01_%20Wind%

[2014-09-09 01:55] #63 closed, assigned to mostaphaRoudsari

[2014-09-09 02:04] #49 closed, assigned to chriswmackey

[2014-09-09 09:02] #70 closed, assigned to nobody

[2014-09-09 09:06] #58 closed, assigned to mostaphaRoudsari

[2014-09-09 15:38] stgeorges opened #82 "Ladybug "3d chart" component issue"
Plugging in one of "selectAndAverage"'s outputs to "3d chart"'s "inputData", results in the following message:

[code]

It's interesting that at "src" folder there's version: 'VER 0.0.57\nJUL_02_2014', while downloading the 3d chart.ghuser file, says it has been made on September 1st 2014.
Does this mean some discrepancy between these two?

To make it more confusing I have the version 0.0.58\nAUG_

[2014-09-10 20:30] arkdanielnielsen opened #83 "How to Scale the Wind Rose Consistently"
About the size of the 3D Chart, it seems to vary in size. I would like to export an image of the chart in the same size always, lets say 100mm x 200mm. Would that be possible instead of scaling the chart that does seems to relate to a specific size?

[2014-09-11 04:34] #65 closed, assigned to nobody

[2014-09-11 16:33] #82 closed, assigned to chriswmackey

[2014-09-14 18:56] arkdanielnielsen opened #84 "Wish / Idea - Text and Line Colors"
When updating the example files it hit me, why is text and lines in black colors as default? I think it could be nice to have this as default instead of using the Custom Preview component.

[2014-09-26 15:12] mostaphaRoudsari opened #86 "check NASA data for precipitation"
Thanks to HKS guys:

http://www.nasa.gov/press/2014/september/international-global-precipitation-measurement-mission-data-goes-public/#.VCV_ovldXE1

http://www.nasa.gov/mission_pages/GPM/main/index.html#.VCV_oPldXE0

http://pmm.nasa.gov/data-access/downloads/gpm

[2014-10-01 18:35] ayezioro opened #87 "shadingMask"
Hi Mostapha,
A question that arise today answering a question in the discussions forum (you can check there) regarding the shadingMask component.
The description of the _skyDensity says that the value is 0 for Tragenza and 1 for Reinhart. The default is supposed to be 0, but in reality is 3. Also you can set it as high as you want. So what are the real values here? The description of this input is

[2014-10-01 18:38] ayezioro opened #88 "genCumulativeSky"
The genCumulativeSky calculation results are supposed to be located at c:\ladybug. I don't find them there. Do you know where they are now?
I asked this in the forum, but just in case it is an issue i bring it here.
-A.

[2014-10-02 02:03] #88 closed, assigned to nobody

[2014-10-02 05:32] #87 closed, assigned to nobody

[2014-10-02 11:10] mostaphaRoudsari opened #89 "Update Developers list on Grasshopper group"

[2014-10-07 02:13] #68 closed, assigned to nobody

[2014-10-16 08:35] PyNavid opened #90 "Develope 3DChart"
There is not too many options to make charts with GH. 3DChart is one of them but it needs to be developed. One idea is to change Scale option. For instance if you have a bunch of numbers between 2,000,000 and 2,010,000 in some reason, although the difference is significant, by scaling down the chart doesn't make sense. I always add Remap component to convert the domain which is very easy to add th

[2014-10-17 22:38] arkdanielnielsen opened #91 "Wish - RGB output "Re-color Mesh""
I would like to have the RGB numbers as a output for the "Re-color Mesh" to make it easier to plug the colors into Platypus. Is this possible? :)
![honeybee platyous_re-color-mesh_wish](https://cloud.githubusercontent.com/assets/7299731/4687070/23975236-564e-11e4-9534-a9cfe63bb91c.JPG)

[2014-10-18 01:17] #91 closed, assigned to nobody

[2014-10-19 06:48] mostaphaRoudsari opened #92 "Get Shadow Study out of WIP"
Suggestion by Francesco De Luca - I am copying this email here so it doesn't die in my email. This discussion needed to be broken down into multiple issues. Looks like useful components. I will upload the example files once he gives me permission.

1 - After having calculated the sun rays with LaduBug_SunPath I built a module (module 1) to determine the sun rays that actually hit the specific faca

[2014-10-21 15:36] ayezioro opened #93 "Bioclimatic chart Fix colors in comfort/no comfort legend"
Need to switch between "Comfort" and "No comfort" legend words to be consistent to the point colors in the chart. Reported by Daniel (thanks).

Chris: The description of the psychrometric has a type for the same colors. It says "red" for comfort and "red" for no comfort. The second should be "blue".

[2014-10-24 01:35] chriswmackey opened #94 "Make The Bio-Chart's Comfort Polygon Generated by PMV"
This includes work on the part of @ayezioro  in that the upper and lower temperature limits of the comfort polygon can be determined with the current PMV function in LB_LB.  It also includes @chriswmackey making a function to take a max humidity ratio and a temperature and returning a relative humidity limit.  This will allow @ayezioro to make the left and right boundaries of the comfort polygon.

[2014-10-26 03:58] mostaphaRoudsari opened #95 "Make RunAll component an official Ladybug component"
Read more here: http://www.grasshopper3d.com/xn/detail/2985220:Comment:1154567

[2014-10-29 03:16] chriswmackey opened #96 "Make a Monthly Bar/Line Chart"
I just got out of a meeting with a natural ventilation expert who had made a big effort to use Ladybug but eventually decided to use climate consultant because it produced this chart:
![image](https://cloud.githubusercontent.com/assets/5567574/4820612/70ca017e-5f19-11e4-9776-219e6b17c249.png)

A lot of the times we are producing monthly data and I have also wanted something like this in order to v

[2014-10-29 04:13] #79 closed, assigned to chriswmackey

[2014-10-30 18:18] chriswmackey opened #97 "Get Solar Temperature Adjustor to Output Radiant Temperature Instead of W/m2"
See further comments in this discussion:
http://www.grasshopper3d.com/group/ladybug/forum/topics/outdoor-comfort-solar-adjusted-mrt-issue-with-contect?commentId=2985220%3AComment%3A1158399&xg_source=msg_com_gr_forum

[2014-11-06 06:20] mostaphaRoudsari opened #98 "Conversion numbers for Rienhart sky is not correct"
Obviously it lacks one value for the last row but the order of numbers out of Radiance also doesn't make sense to me... I need to have a closer look to the results in a better time.
http://www.grasshopper3d.com/group/ladybug/forum/topics/cumulativeskymtx-error-1

[2014-11-08 22:21] #97 closed, assigned to chriswmackey

[2014-11-11 00:01] #96 closed, assigned to chriswmackey

[2014-11-11 18:58] arkdanielnielsen opened #99 "Feedback "Monthly Bar Chart""
@chriswmackey nice work!
I have just tested the chart, and I found some smaller bugs:
1) When changing the yScale the comfort band did not follow
2) The stackValue dont work. I suppose it should split in different charts related to number of data inputs?
3) A aesthetic wish. I would like to have the legend moved up so it is aligned with the bottom of the chart frame/line (I also would like to have

[2014-11-22 15:35] #99 closed, assigned to nobody

[2014-11-25 22:07] chriswmackey opened #100 "Put Lines of Constant Enthalpy Onto The Psych Chart"
A bunch of people have requested this and it should be implemented.

[2014-11-25 22:11] #90 closed, assigned to nobody

[2014-11-25 22:13] chriswmackey opened #101 "Get Wind Profile Component to be for Prevailing Wind Direction and Integrate Djordje's Code"
Right now, when you view the component for the whole year or for an analysis period, the profile gives you the average speed and average direction.  This should be changed to the prevailing direction.

[2014-11-26 05:20] mostaphaRoudsari opened #102 "Sky Dome returns strange results for diffuse component"
This is not resolved yet! Should check during the holidays.
http://www.grasshopper3d.com/forum/topics/cumulativeskymtx-error-1?groupUrl=ladybug&groupId=2985220%3AGroup%3A658987&id=2985220%3ATopic%3A1162106&page=2#comments

[2014-11-29 19:41] #100 closed, assigned to chriswmackey

[2014-11-30 04:07] mostaphaRoudsari opened #103 "Ladybug components don't work in clusters"

[2014-12-01 04:31] chriswmackey opened #104 "Add BakeIt Options to a lot of LB Visualization Components"
@chriswmackey did not put this in any of his components and he should :)

[2014-12-01 19:52] mostaphaRoudsari opened #105 "Error with Analysis Period"
![image](https://cloud.githubusercontent.com/assets/2915573/5252207/9b328f84-7969-11e4-9d6b-112210f5614b.png)

http://www.grasshopper3d.com/group/ladybug/forum/topics/strange-error-with-the-ladybug-analysis-period

[2014-12-02 15:48] #105 closed, assigned to mostaphaRoudsari

[2014-12-10 20:06] mostaphaRoudsari opened #106 "Should return null for illegal days/hours"
Currently the component returns the closest acceptable hour:

![image](https://cloud.githubusercontent.com/assets/2915573/5383250/bf952a56-807d-11e4-8b77-6146e6e6225d.png)

[2014-12-11 11:12] Kristoffernegendahl opened #107 "ghpythonlib = memory leak"
Hi everyone

This is my first git-issue commission, so bear with me if I put this the wrong place. This seemed to be a small an issue to put in the grasshopper-forums.

Lately I have been using the HB/LB for optimization purposes. I've noticed a gradual slow-down of the calculations over time.

After commenting out the part underneath in the Ladybug_Ladybug component the slowdowns seem to have sto

[2014-12-12 11:58] #107 closed, assigned to nobody

[2014-12-16 15:41] mostaphaRoudsari opened #109 "Update Ladybug_ladybug userobject based on Djordje's changes"

[2014-12-26 18:40] ayezioro opened #113 "LB_SolarAdjustTemperature and LegendPar"
Hi,
Connecting the legendPar to the SolarAdjustTemperature component gives an error:
1. Type conversion failed from Goo to bool
Suppose this is an easy one, but just for you to know.
-A.

[2014-12-28 20:56] #109 closed, assigned to mostaphaRoudsari

[2014-12-30 04:19] ayezioro opened #116 "3DChart+BakeIt+TextLegend issue"
Hi,
I'm having an issue here. When i bake a 3DChart that has a location point different than the default the legend text is not baked at the right place but rather at the "default" location.
Can be?
-A.

[2014-12-31 05:02] #116 closed, assigned to nobody

[2015-01-13 20:18] chriswmackey commented on #101
@mostaphaRoudsari  and @stgeorges ,

I just wanted to let you know that I am taking some time to fully familiarize myself with the changes that were made and I will need a few hours.  I was particularly taken aback by the fact that, for the exact same product, the new wind profile component takes almost 20 seconds to run while the old one took less than 1 second (see image below).
![oldnewwindcomp

[2015-01-14 05:22] chriswmackey commented on #113
Thanks for letting me know @ayezioro .  I just fixed it.

[2015-01-14 05:22] #113 closed

[2015-01-14 05:48] mostaphaRoudsari commented on #89
Let's do it on github pages as we won't have enough space to add everyone on the first page and then provide a link.

[2015-01-14 05:50] mostaphaRoudsari commented on #103
@AndrewHeumann I'm closing this for now. Feel free to open the issue if you it happened again.

[2015-01-14 05:50] #103 closed

[2015-01-14 05:50] mostaphaRoudsari commented on #98
This is already fixed!

[2015-01-14 05:50] #98 closed

[2015-01-17 15:18] stgeorges commented on #101
Hi @chriswmackey , @mostaphaRoudsari ,

Sorry for the late reply, it was Serbian New year in here these days, and I was not home, neither had an access to internet.

And sorry for the bug. Looks like the "getHOYsBasedOnPeriod" method from the Preparation ladybug_ladybug.py class is causing the problem. I am using it to print out the analysis period at the end of calculation.
The solution could be

[2015-01-19 02:00] mostaphaRoudsari commented on #62
For some reason it is back! http://www.grasshopper3d.com/group/ladybug/forum/topics/one-doubt-about-radiation-data

Can you take care of this once more @chriswmackey? Thanks.

[2015-01-19 03:06] mostaphaRoudsari opened #118 "Add daylight saving to sunpath"
Maybe we should keep it simple and add it to sun-path, and then let users overwrite it if needed: (http://www.grasshopper3d.com/group/ladybug/forum/topic/show?id=2985220%3ATopic%3A1202845&xg_source=msg)

[2015-01-21 21:39] chriswmackey commented on #101
@stgeorges ,
Thank you for all of the work that you have been putting into this and it is needless to say that the users are in for a real treat with the upcoming release.  I am sorry for giving feedback so late and close to the release but there were a number of things that I wanted to change with the 3D wind profile and I wanted to get the code of the 3D profile a bit more synergized with your 2

[2015-01-22 00:16] chriswmackey commented on #62
@mostaphaRoudsari , I take a look into it and have it taken care of for the release.  I think that we each thought that the other was going to fix the issue and neither of us ended up addressing it.

[2015-01-22 00:21] stgeorges commented on #101
Hi @chriswmackey,
I will not comment on the things I mostly agree with.
Changes that I made to improve the speed:

[code]
The issue was with: "lb_preparation.getHOYsBasedOnPeriod" method on line 232
Deleting this line lowered the calculation speed of the component to 507ms for entire year (for 3d profile). Is your newly edited component faster than this?
![january17](https://cloud.githubuserconten

[2015-01-22 01:37] mostaphaRoudsari commented on #106
![image](https://cloud.githubusercontent.com/assets/2915573/5848968/fda78dac-a1ac-11e4-9ba4-e1f0bae1b723.png)

[2015-01-22 01:37] #106 closed

[2015-01-22 01:38] mostaphaRoudsari commented on #62
@chriswmackey thanks!

[2015-01-22 02:00] #89 closed

[2015-01-22 23:12] chriswmackey commented on #101
@stgeorges ,

Thanks for the prompt response and sorry that the original post was so long.  It seems like we agree on everything and the last thing that we have to discuss is how the component deals with analysis periods and conditional statements.

For analysis periods:
My gosh, man.  You have a godly fast machine.  On my laptop with an i7 (albeit a 4-year-old i7), commenting out the analysis per

[2015-01-23 02:58] mostaphaRoudsari commented on #102
I think we can finally close this issue! 8d41858cf5bb516ff7e8e8d8dca082e49430954d
![genskymtx_roundiii](https://cloud.githubusercontent.com/assets/2915573/5869129/d3dfb5c8-a281-11e4-96e0-c69a6d227f61.png)

[2015-01-23 02:58] #102 closed

[2015-01-23 12:31] stgeorges commented on #101
Hi @chriswmackey,

Hm, something strange is happening in here. My PC is from 2008, It's definitively weaker than yours:

[code]

The wind speed is always calculated as an average of the period taken into account - whether it's whole year, a couple of months, or day(s). And of course all this in accordance with conditional statement.

[2015-01-23 22:08] chriswmackey opened #119 "Add in Option to Turn Psych Chart into Molier hx Diagram"
As per this discussion:
http://www.grasshopper3d.com/group/ladybug/forum/topics/legend-facing-camera?commentId=2985220%3AComment%3A1209416&xg_source=msg_com_gr_forum

[2015-01-24 07:49] chriswmackey commented on #101
@stgeorges ,
That is strange.  The processor is definitely not as powerful as mine.  I don't know what is causing my system to be so much slower.  Even on my brand new i7 with 3.6 GHz and 6 Cores, I can't get your component to run as fast as it is in the image that you posted.  Are you sure that it is the same component that I have in the GH file that I posted in the dropbox link?
-Chris

[2015-01-24 15:25] stgeorges commented on #101
No you are using an older version. It's not the new one from the upper dropbox links.
When commenting out the line 232 ("lb_preparation.getHOYsBasedOnPeriod" method) I am getting 2.3 seconds for the same conditional statement as "Most recent component (3d profile)", which gets 5.2 seconds:

![windboundaryprof_comparison](https://cloud.githubusercontent.com/assets/4411411/5887818/8e179014-a3e5-11e4

[2015-01-25 10:00] chriswmackey commented on #101
Mostapha,
I get a similar time for the component on my machine.  Just so we have an accurate comparison of the time it takes to run each of the most recent components to run the same task, here is a comparison image from my good machine:
![component comparison](https://cloud.githubusercontent.com/assets/5567574/5891088/d499d740-a435-11e4-8dbc-2e3bd5f36846.PNG)

Admittedly, mine takes a bit longer

[2015-01-26 02:46] chriswmackey commented on #119
@mostaphaRoudsari ,
I was wondering if you had any suggestions for how to implement this.  I could just go with the standard adding of a simple boolean option to the component but the psych chart is already the largest component that we have.  If we can't think of any elegant ways to implement it, I will just do the boolean but I figured that I would ask.
-Chris

[2015-01-26 02:57] mostaphaRoudsari commented on #119
Hey @chriswmackey! I wish we could overwrite menu items for the component so we could use the menu to change the type. For now I think we have to go with an extra input.
I asked for this before but I'm not sure if it will happen (https://github.com/mcneel/ghpython/issues/43#issuecomment-14632692).

cc: @piac here is a case that you can see having access to menu item can clearly help us.

[2015-01-27 16:49] chriswmackey commented on #101
Hey @mostaphaRoudsari  and @stgeorges ,

I am going to close out this issue for now since I haven't heard back from anyone about changing the conditional statement such that "a" is not wind speed by default.  If either of you feel that the current component is not in a good state, feel free to re-open the issue (or, in the case of the conditional statement, maybe we should just start a new issue t

[2015-01-27 16:49] #101 closed

[2015-01-27 17:02] stgeorges commented on #101
Hi @chriswmackey ,
I think we misunderstood. As you stated on 23. of January, we were waiting for Mostapha's response on this issue. I already gave my opinion.

In addition to what I have said on 22 of January, using conditional statements for some other Ladybug components, other than wind ones is also a possible option. How would this "rule" of reserving "a" for the windSpeed look like at those c

[2015-01-27 17:47] chriswmackey commented on #101
@stgeorges ,
You are right to point out that @mostaphaRoudsari has been the silent one on the issue and that, between the two of us, we were leaning more towards not having "a" stand for the wind speed.  As such, I will remove the "a" and "b" standing for already input data on the wind rose, wind profile and psych chart components.  I will do this within the next hour.

-Chris

[2015-01-27 18:19] mostaphaRoudsari commented on #101
Hi @chriswmackey and @stgeorges. Sorry for not being responsive on this topic. I won't be able to read all the conversations right now but back to the last one for conditional statement my only concern is to keep the development consistent. If you have an alternative method which is easier to follow then I'm all for it. I personally think it is not a good idea to have similar list connected to the

[2015-01-28 00:29] chriswmackey commented on #101
We seem to be at a bit of a tie between the three of us. @stgeorges wants to have a cleaner and consistent concept for the variables of the conditional statement across components while @mostaphaRoudsari would rather not have the user reconnect data that is already input to the component.  To be honest, I have been going back and forth and I can't make up my mind either way.  I just want consisten

[2015-01-28 00:41] stgeorges commented on #101
@mostaphaRoudsari Yes, you will have to input some lists two times, but that's a small price to pay for solving the upper mentioned problem.

Ok guys, it has been agreed.

[2015-01-29 05:05] mostaphaRoudsari opened #120 "Update versions and example files"
@chriswmackey please let me know once you think it is ok to change the versions and start updating example files! Both Ladybug and Honeybee issues are closed for the Jan. release

[2015-01-29 08:06] agusHariyadi commented on #120
Some of the example have been broken with the new version component, ie mannequin component in UTCI example (1 - Ladybug Comfort Tutorials - Outdoor Comfort: UTCI) or 2 - Getting Started With Ladybug - Visualizing Data on the Colored Chart didn't give me chart anymore..
I haven't try all the examples file..

[2015-01-29 11:16] chriswmackey commented on #62
Hello Everyone,
This is now fixed.  The selected sky matrices now appear in kWh.
![rad in kwh](https://cloud.githubusercontent.com/assets/5567574/5956683/57b251f2-a77e-11e4-8f63-b59c1b30c78f.PNG)

Enjoy!
-Chris

[2015-01-29 11:16] #62 closed

[2015-01-29 11:22] chriswmackey opened #121 "Figure Out How to Cancel a Parallel Function With ESC"
I just realized that my parallel functions cannot use the usual ESC key functionality inside a "for" loop that I have built into a number of my components.  This is bad as the parallel processes are usually the long ones that I really need to cancel if they are not working out.  If anyone has good documentation for how to cancel a parallel process run with tasks.Parallel.ForEach, please let me kno

[2015-01-29 11:25] chriswmackey commented on #120
@mostaphaRoudsari ,
We are ready.  I just finished off the last of the major checks that I had to do on the components.
LET'S DO THIS!!

[2015-01-29 22:27] arkdanielnielsen opened #122 "Bug? - Solar Adjust Temperature"
I wanted to use @chriswmackey 's example file about Shade Benefit Evaluation, but it gives very high numbers. This means the data cannot be used further with e.g. Shade Benefit.
Link to the updated example file:
https://www.dropbox.com/s/t3zlwvitwqxpt3o/018_OutdoorShadeBenefitEvaluation.gh?dl=0
![ladybug_solaradjust-01](https://cloud.githubusercontent.com/assets/7299731/5967541/4ac24eb2-a80e-11e4-

[2015-01-30 00:10] chriswmackey commented on #122
@arkdanielnielsen ,

There was a bug in the GenCum component that @mostaphaRoudsari just fixed yesterday.  Update to the latest version and all should be well.  Good to know that you are on top of the bugs as much as we are :)

-Chirs

[2015-01-30 03:05] agusHariyadi opened #123 "mannequin component error"
@chriswmackey , How can I resolved this problem? I have use the last updated files.
thank you..
![mannequin](https://cloud.githubusercontent.com/assets/6168707/5970530/eae6d0f2-a877-11e4-85e7-ea7f854185db.JPG)

[2015-01-30 04:00] chriswmackey commented on #123
@agusHariyadi ,
Thank you so much for finding this.  I somehow fixed this issue on all the other components with a legend but I forgot to fix this one.
I just uploaded a fixed version to the github.
![comfort maneeequin fixed](https://cloud.githubusercontent.com/assets/5567574/5971014/a081b2e2-a80a-11e4-9dfa-3ac93a472edd.PNG)
Thanks again,
-Chris

[2015-01-30 04:00] #123 closed

[2015-01-30 07:17] arkdanielnielsen commented on #122
Thanks for the quick respond.
I am just wondering if the result is still correct (I have updated all components). The temperature is getting up to 79 degree at some points?
![ladybug_solaradjust-02](https://cloud.githubusercontent.com/assets/7299731/5972346/4a708cb8-a858-11e4-8edf-d7337c83a912.JPG)

[2015-01-30 07:44] arkdanielnielsen opened #124 "Small spelling mistake - Outdoor Comfort Calculator"
In the scale description there is written -3 instead of 3 for extreme hot
See line 291 og 296 in the script.
How could I fix it here, so I could do it instead of you guys when it is as small as this one?

[2015-01-30 09:15] chriswmackey commented on #122
@arkdanielnielsen ,

Those values seem to be in the right range.  Sitting in the sun for a full hour can keep you pretty warm.  Also, remember that those numbers are only adjusted MRT and the radiant environment usually only accounts for half of the heat loss from the human body (the other half is to the air).  So you can imagine that the total Temperature Delta is about half of the MRT delta that

[2015-01-30 09:29] chriswmackey commented on #124
@arkdanielnielsen ,
Thanks for reporting.  I just fixed it.
![image](https://cloud.githubusercontent.com/assets/5567574/5973603/5f40ebc6-a838-11e4-8b3d-1550cb876ae0.png)
-Chris

[2015-01-30 09:29] #124 closed

[2015-01-31 17:37] arkdanielnielsen commented on #122
I understand, thanks.
I have a other problem. I have specified a specific analysis period. After I did that there is this error message "1. Solution exception:index out of range: 1950". Any idea of why this message?
![ladybug_solaradjust-03](https://cloud.githubusercontent.com/assets/7299731/5989002/1a438f42-a978-11e4-913a-6d9e792a6e93.JPG)

[2015-01-31 18:08] chriswmackey commented on #122
@arkdanielnielsen ,
That should not happen.  Can you post the GH file?
-Chris

[2015-01-31 20:57] arkdanielnielsen commented on #122
Yes:
https://www.dropbox.com/s/t3zlwvitwqxpt3o/018_OutdoorShadeBenefitEvaluation.gh?dl=0

[2015-01-31 21:12] mostaphaRoudsari commented on #124
Hi @arkdanielnielsen, Back to your question, here is the brief description on how you can do it yourself and send a pull request:
1. You need to fork Ladybug and clone it on your system (You need to have a copy of Ladybug files on your system that is connected to github repository).
2. You can fix the code inside the component which I assume you already know how.
3. update the date of the componen

[2015-01-31 21:18] mostaphaRoudsari commented on #121
@chriswmackey I would just check radiation component in Ladybug. It has a very similar situation and as far as I know it works fine.

[2015-01-31 21:20] mostaphaRoudsari commented on #120
Thanks @chriswmackey!

Hi @agusHariyadi , Thank you for reporting. I will make sure to double check but can you please give me more details about the errors?

[2015-02-01 05:42] ayezioro commented on #124
It was a while ago, but i remember doing as Mostapha described.
-A.

On Sat, Jan 31, 2015 at 11:12 PM, Mostapha Sadeghipour Roudsari <
notifications@github.com> wrote:

--

Abraham Yezioro, Arch, D.Sc.
Faculty of Architecture and Town Planning
Technion - IIT
Haifa, 32000. Israel
Tel: 972-4-8294044, Fax: 972-4-8294617
Cel: 972-544-604484

[2015-02-01 11:46] chriswmackey commented on #121
@mostaphaRoudsari ,
The Esc functionality that you implemented on parallel radiation only cancels the for loop of the sky patches.  Not the actual parallel process of running each of the test points.  It helps in your case because you have a for loop in a for loop but you are still waiting for each of the points to be cancelled when you hold down Esc.  Also, when you don't have a for loop in a for

[2015-02-01 13:07] chriswmackey commented on #122
@arkdanielnielsen ,
You were right that it was a bug.  I just fixed it.  Also, for a climate like Norway where the area of shade desirability is so small, you should really boost up the sky resolution to 4. Otherwise, such a small patch can get lost between sky two patches.
![image](https://cloud.githubusercontent.com/assets/5567574/5992145/4086f286-a9e9-11e4-931e-3bebd5893fdf.png)
https://www.dro

[2015-02-01 13:07] #122 closed

[2015-02-01 13:12] chriswmackey commented on #124
@arkdanielnielsen ,
I'm sorry that I completely missed your question.  Somehow I only saw the issue and not that you wanted to solve it (when I have a hammer, everything looks like a nail to me).  Let me know if you have any questions on the workflow @mostaphaRoudsari described.
-Chris

[2015-02-01 18:28] mostaphaRoudsari commented on #120
Components are updated!
Still I need to update example files...

[2015-02-01 20:14] arkdanielnielsen commented on #122
Thanks for the tips Chris.
I have tried to increase the resolution in both the "Shade Benefit" and "GenCumulativeSkyMtx" and every time it freeze. If I decrease it works. Is it just the system that cannot handle that amount of data?

[2015-02-01 20:35] arkdanielnielsen commented on #122
Maybe I should add where it happens. It happen when I plug the MRT data from "Outdoor Solar Adjusted Temperature Calculator" into the "Outdoor Comfort Calculator".

[2015-02-02 07:22] agusHariyadi commented on #120
@mostaphaRoudsari  , sorry not give you specific error, I have already give Chris one of them  (mannequin component error (#123)) and have already being fixed. and I see some other has already reported and being fixed, I will report again when I find one.
I just though that because you give user specific step for user ( "Instructions for Installing Ladybug + Honeybee:
(Follow steps 1-6 for basic f

[2015-02-02 08:11] mostaphaRoudsari commented on #120
Thanks @agusHariyadi! I just updated all the example files for Honeybee and Ladybug and also installation files. There are a couple that live on Chris's dropbox and I think he will update them tomorrow. We should be good for releasing new version tomorrow afternoon.

[2015-02-02 08:11] #120 closed

[2015-02-02 08:15] mostaphaRoudsari opened #125 "Make a release for the new version"
Boom!

[2015-02-02 15:52] chriswmackey commented on #122
@arkdanielnielsen ,
I would not increase the resolution of the "GenCumulativeSkyMtx" since this is really a lot of data for the solar adjusted temperature to process and you would not really get much more accurate results.  In fact, you can do away with the GenCum component altogether and just use the direct and diffuse data from the ImportEPW and this level of accuracy is pretty good for the sola

[2015-02-02 16:46] mostaphaRoudsari opened #126 "Psychrometric chart doesn't show the strategy name if it is not effective"
I assume you want to see the name still there but it is effective for 0% of the time.

![image](https://cloud.githubusercontent.com/assets/2915573/6004454/dc55f51c-aad0-11e4-8253-e87e98fec698.png)

Here is the file: https://www.dropbox.com/s/7yir1ngs3w254bn/PSY_Chart.gh?dl=0

[2015-02-02 18:57] chriswmackey commented on #126
@mostaphaRoudasri
This is not a bug but something I was doing intentionally since the strategy is irrelevant if there is no upper limit of humidity for the comfort polygon. I can add in a zero and a name there but there will be no polygon would be generated. Does this sound good?

[2015-02-02 19:09] mostaphaRoudsari commented on #126
@chriswmackey what about a warning? so you can also teach users about this fact?

[2015-02-02 19:17] chriswmackey commented on #126
@mostaphaRoudsari ,
Sounds good.  I will put one in now.
-Chris

[2015-02-03 00:04] chriswmackey commented on #126
Done
![psych chart fixed](https://cloud.githubusercontent.com/assets/5567574/6011842/5aa16ca2-ab0e-11e4-8997-349e5a15aaaa.PNG)

[2015-02-03 00:04] #126 closed

[2015-02-03 01:51] mostaphaRoudsari commented on #101
lol. I just read this. @chriswmackey I will use that last paragraph for presentations from now on, about how we are making decisions. =)

[2015-02-03 05:52] #125 closed

[2015-02-03 05:53] mostaphaRoudsari commented on #121
I see. Then you can put it under a while and your condition.
While (no one presses esc):
         your multi-thread stuff

[2015-02-06 18:35] agamas opened #127 "'Ladybug_North': '_centerPt_' input not reading a point unless manually changing the type hint"
![ladybugnorth_centerpt_notworking](https://cloud.githubusercontent.com/assets/10874612/6085107/b4a2e606-adeb-11e4-8f2c-2a5a0899e943.png)

I already have an object with the fix, or at least a possible fix since there were no changes to the code. The solution was just right-clicking on top of the '_centerPt_' input and setting the type hint to Pt. In case this solution was good enough to be the fin

[2015-02-07 06:09] mostaphaRoudsari commented on #127
Thanks @agamas. It is fixed now 531a9fa3bf4c858b5bafd48090690a3cdde530aa

[2015-02-07 06:09] #127 closed

[2015-02-08 18:47] arkdanielnielsen opened #128 "Wish for "Ladybug_Average Data""
It could be useful to average the data for a whole year (annual) with the "Ladybug_Average Data". Or is there another component I have overlooked that can do that?

[2015-02-08 19:15] chriswmackey commented on #128
@arkdanielnielsen ,
I would just use the LB "separate data" component and the native Grasshopper "Average Data" component.  However, if there's a good reason for this type of shortcut in a workflow, I can add it in.
-Chris

[2015-02-08 19:31] arkdanielnielsen commented on #128
I found a solution, but there is a spelling mistake in the "Create LB Header" (1). See GH link:
https://www.dropbox.com/s/zpejqkv4p6mx6zs/Ladybug_Wish_AverageData.gh?dl=0
I have also tried to edited a conversion component to get data in Wh instead of kWh (2). I could not manage to make it work 100%, only the conversion not the right text in the component.
![ladybug_wish_averagedata-03](https://clo

[2015-02-08 19:44] arkdanielnielsen commented on #128
The reason I needed it is I what to show results both annually and monthly. Now when there is the other possibilities I just think why is the annual not available?

[2015-02-08 22:02] mostaphaRoudsari opened #129 "genCummulativeSky fails when workingDir is empty"
Happened to me during the workshop and looks to be system specific. Should be an easy fix.

[2015-02-09 05:03] mostaphaRoudsari commented on #128
@arkdanielnielsen I added an extra output for average for the analysisPeriod and fixed the misspelled annual. Thanks for reporting.

![image](https://cloud.githubusercontent.com/assets/2915573/6101100/0fe52d1a-afec-11e4-9636-baa1e6ef4f60.png)

I'm not clear about the second wish though. Can you please help me to understand what you are looking for. I'm closing this issue since about average data c

[2015-02-09 05:03] #128 closed

[2015-02-09 13:38] arkdanielnielsen opened #130 "Wish - a convertion component from kWh/m2 to Wh/m2"
Maybe there is already a method for this I have overlooked?
I have tried to edit one of the components to convert from kWh/m2 to Wh/m2.
Slowly... I mean really slowly I am getting into scripting. I works, but it does not have the right input/output text. At the moment I could not figure out how to change the input/output text.
https://www.dropbox.com/s/zpejqkv4p6mx6zs/Ladybug_Wish_AverageData.gh?d

[2015-02-09 21:55] chriswmackey commented on #130
@arkdanielnielsen ,
This is looking good.  If you right click on the input/output, you can change the name of it at the top of the drop-down list.  Make sure that you change the name of the variable inside the component to match the changes that you make on the names outside the component.  Also, change the descriptions of the inputs/outputs at the top of the code inside the component.  With that,

[2015-02-10 03:49] mostaphaRoudsari commented on #130
@arkdanielnielsen @chriswmackey I think It can be a boolean option for the component that we already have.

@chriswmackey aren't you already checking for the units (kwh vs wh) inside the component?

[2015-02-10 04:28] chriswmackey commented on #130
@mostaphaRoudsari ,
Which component do you mean?  If it's the color zones component, the component always uses the unit system of the lugged in data (whether its C or F or kWh or % or PMV, etc).  Are you saying that you want me to put in a boolean just for energy cases?
-Chris

[2015-02-10 20:06] arkdanielnielsen opened #131 "Bug or just mee !? "Re-Color Mesh""
1) Something goes wrong when I want to re-color a result from "Color Zones by EP Result".
2) I am not sure in which component things goes wrong. It seems to be something with the meshing? Or is it the "Re-Color Mesh"?
3) As seen in the image it is 8 identical simple shoebox'es. I assume they should have the same mesh size, but that is not the case. Original the geometry derived from a Rulled Surfa

[2015-02-11 20:36] chriswmackey commented on #131
@arkdanielnielsen ,
1) Can't you just use the legendPar of the "Color Zones by EP Result" component?  Are you saying that is not working?
2) Just don't graft the list of meshes coming out of the colorZones component and then the lists should probably align.  Alternatively, you can graft the analysis result.
3) The auto-meshing algorithms of GH might divide something up into quads or triangles.  It

[2015-02-11 20:42] chriswmackey commented on #131
Ah wait.  I just understood why the reColorMesh does not work.  Here's a workaround but you probably don't want to use the recolor mesh component in this case.
![image](https://cloud.githubusercontent.com/assets/5567574/6156039/a5f1ae18-b204-11e4-95b4-cb5522e0242f.png)

Would having separate outputs for title and legend text fix this issue for you?  If so, that seems like the best route.
-Chris

[2015-02-12 06:11] arkdanielnielsen commented on #131
The thing is, I want to get rid of the Analysis Title (it was a mistake I wrote Analysis text) and keep the legend. To do that I have to cull away the text but not in all cases the length of the analysis title is the same, so that makes it difficult to use that method. This is not only a wish for "Color Zones by EP Result" but in general for all components with legends. I think it would be easier

[2015-02-12 23:34] chriswmackey commented on #131
@arkdanielnielsen ,
I agree with you that it would be nice to have the outputs separate and I just made the change for the color zones and color surfaces component.
![image](https://cloud.githubusercontent.com/assets/5567574/6179290/c34b7250-b2e5-11e4-9798-bd85392b5e5b.png)

If you draw up a list of components where this grouping of legend and title outputs happens, I will begin working my way dow

[2015-02-13 13:34] arkdanielnielsen commented on #131
Looks good, thanks.
It sound like a deal, that I make the list. Maybe I could add the lines if it is the same lines there is needed in the different components?

[2015-02-13 15:07] #129 closed

[2015-02-15 18:29] mostaphaRoudsari opened #133 "How to reference Ladybug + Honeybee in the publications"
It is currently not clear at all how people should reference to the development in their publications. I have seen some really surprising versions recently-

@chriswmackey here is my initial version for your comments. For now I use the paper that I published last year for Ladybug until we write the new paper for the coming IBPSA conference.

Ladybug and Honeybee are two open source environmental p

[2015-02-15 20:08] arkdanielnielsen commented on #130
Alright, I have manage to edit the "wh to btu" component so it works convert kwh to wh instead... I think it works in all cases. I have not manage to change image on the component. How do you do that?
Link:
https://www.dropbox.com/s/88rgy5zxc7tix93/convert_kWh2Wh_01.gh?dl=0

[2015-02-16 23:38] chriswmackey commented on #133
@mostaphaRoudsari ,

This sounds good.  The only suggestion that I would have is to change some things in the last sentence.  First, it might be a bit clearer to replace "in a parametric way" with "parametrically".  Also, from our conversations, I understand what you mean by parametric but I think that we should be aware that the word is used to describe a lot of different things these days and I

[2015-02-17 03:42] mostaphaRoudsari commented on #133
Thanks @chriswmackey - You know that I love that cartoon! :) So here is the modified version based on your inputs:

Ladybug and Honeybee are two open source environmental plugins for Grasshopper3D for Rhino. Ladybug imports standard EnergyPlus Weather files (.EPW) into Grasshopper3D and provides a variety of 3D interactive graphics to support the decision-making process during the initial stages o

[2015-02-17 03:44] mostaphaRoudsari commented on #130
@arkdanielnielsen first of all congratulations! You can just drag and drop an image on top of component and it will be embedded into the component.

@chriswmackey I was talking about conversion component. Should we have these two conversions in the same component?

[2015-02-17 09:48] Kristoffernegendahl commented on #133
Hey everyone. I have been eavesdropping on some of the updates here lately. And I thought I would comment this thread.
When I started my Ph.D I started reading all kinds of articles trying to figure out how I could classify my own plugins, Geco, Ladybug, Honeybee and many other interesting projects. The thing is, I couldn't find any clear definition anywhere. Like @chriswmackey says, terms like "p

[2015-02-17 11:28] ayezioro commented on #133
Hi,
I've found @Kristoffernegendahl comments very interesting and relevant for the paragraph you want to write.
I think that the "performance" issue is important to be included, probably at the beginning, kind of:
Ladybug and Honeybee are two open source plugins for Grasshopper3D for Rhino for environmental performance evaluation.
I would also mention that the simulation engines are validated. Yes

[2015-02-18 03:37] mostaphaRoudsari commented on #133
Thank you @Kristoffernegendahl  and @ayezioro- If not anything else I love the Internet for moments like this. You don't know who knows the answer but you wonder someone should be around who knows!

I liked the notion of "integrated dynamic model" very much, and I think distributed model is what I mean when I show the "Welcome to the zoo!" slide (http://goo.gl/Pq3uw7) Now I have a better term to p

[2015-02-18 08:00] ayezioro commented on #133
Reads fine!
I'll also like to read @Kristoffernegendahl when published.

[2015-02-18 09:56] Kristoffernegendahl commented on #133
@mostaphaRoudsari I think it sounds good. And thank you guys at least two people will eventually read it :) I will send you a copy of the article; **Building Performance Simulation in the early design stage: An introduction to Integrated Dynamic Models** as soon as Automation in Construction lets me know when it is finally accepted.

[2015-02-18 11:57] ayezioro commented on #133
Not only two. Next semester i'll teach a class on simulations. So i'll give the students the paper as lecture reading ... hoping A&C will accept it by then :-)
-A.

[2015-02-18 12:02] Kristoffernegendahl commented on #133
@ayezioro :)

[2015-02-19 00:56] chriswmackey commented on #130
@mostaphaRoudsari ,

Ah.  That makes much more sense.  I think putting the two converters together into one component is a good idea.  It should accept kWh and put out either BTU or Wh depending on the boolean value.  @arkdanielnielsen , what do you think and would you be able to work this into your current version?

Also, that image drag-and-drop trick is amazing.  I had been creating a new user

[2015-02-19 07:50] mostaphaRoudsari commented on #133
@Kristoffernegendahl I think you should post it on the group once it is published. I'm pretty sure there are so many people out there who love to read it and give you feedback.

[2015-02-19 07:59] arkdanielnielsen commented on #130
I think it would be better with separated components. To have less boolean's you need to turn on/off, and in general have less components on the canvas. Further, often you would only use either Wh or BTU.

[2015-02-19 10:27] Kristoffernegendahl commented on #133
@mostaphaRoudsari Yes you are right. I will do that. Now I hope Automation in Construction accepts it soonish.

[2015-02-25 18:56] arkdanielnielsen commented on #131
@chriswmackey finally I had time. In the gh file I have marked all component where the output of AnalysisTitle could be useful.
https://www.dropbox.com/s/3kni0fqm0ozt7w0/all_components_LBHB.gh?dl=0
Is it only to add the below lines? If so I could try to add them in the components.

    analysisTitle = []
    for count, item in enumerate(legendInit):
        if count == 0:
            legend.append

[2015-02-26 07:43] arkdanielnielsen commented on #130
Is it possible to get access to the icon images that is used to the other conversion components? I think it would be easier to just edit one of them to make a kWh2Wh :)

[2015-02-28 23:32] chriswmackey commented on #130
@arkdanielnielsen ,
I have just shared a dropbox link with you to the illustrator file containing all of the LB + HB icons.  I'm ok with 2 components for the sake of consistency with the other converters.  However, because we have so many of these converters, I am going to insist that this one only be in the drop-down of the extra tab. @mostaphaRoudsari , what do you think?
-Chris

[2015-03-01 19:19] arkdanielnielsen commented on #130
Thanks @chriswmackey
I have followed your video @mostaphaRoudsari but I am not sure how it works after I have uploaded the component at my github?: https://github.com/arkdanielnielsen/Ladybug_adn
Is it then up to you guys to prove it and then merge it to the "real" ladybug?

[2015-03-02 04:33] mostaphaRoudsari commented on #130
@arkdanielnielsen great to see you that you have your first component ready! You need to "fork" Ladybug first and then commit your new component to the fork and send us a "pull request". Then we can merge it into the "master" branch.
I know I used so many buzz words here but if you check online there should be so many examples that shows how to do it.

[2015-03-02 04:35] mostaphaRoudsari commented on #130
and I agree with @chriswmackey that we should keep it in the dropdown since we have so many of this. I think at some point we will merge both wh conversations but since this is @arkdanielnielsen's first component we can take it easy. Welcome to the developers team! :tada:

[2015-03-02 04:44] mostaphaRoudsari commented on #133
Thank you everyone. I added a file here as a reference and I'm closing this one.
https://github.com/mostaphaRoudsari/ladybug/blob/master/resources/How_to_Reference_Ladybug_and_Honeybee.md

[2015-03-02 04:49] mostaphaRoudsari commented on #131
@chriswmackey @arkdanielnielsen what is up with this issue? should we close this?

[2015-03-02 09:09] arkdanielnielsen commented on #131
@mostaphaRoudsari It is about separating the Analysis Text from the legend output in two separated outputs. To make it easier to remove the text of legend if it is not wanted. And I think it could be useful for all the components with legends.

[2015-03-02 20:52] chriswmackey commented on #133
Very sorry for returning to the discussion so late.  The vocabulary of the description sounds great and thank you for the insightful input, @Kristoffernegendahl .  There are just a few things that the description is missing to make it grammatically correct (mostly, it just needs some "the" 's and "a" 's and some way of avoiding three "for" 's in a sentence).  Also, I had always thought of Rhino as

[2015-03-02 21:04] chriswmackey commented on #131
@arkdanielnielsen and @mostaphaRoudsari ,

I have changed the name of the issue to be closer to what we have decided to do.  In my view, it is a long-term issue as I have a lot of other priorities on my list and there are a bunch of components to change.  All that has to happen is that the code that @arkdanielnielsen posted has to go into a lot of the components and a new output has to be added to

[2015-03-02 21:06] chriswmackey commented on #131
I just realized that I cannot assign the issue to @arkdanielnielsen .  I will put myself back as asignee.

[2015-03-04 10:23] mostaphaRoudsari commented on #133
Hey @chriswmackey! Thank you for the corrections. I just checked the websites for both Rhino and Grasshopper and technically they're "Rhinoceros" and "Grasshopper" and there is no 3D for neither of them. Should we change "Rhino3D" to "Rhinoceros"?

[2015-03-12 01:45] chriswmackey commented on #133
@mostaphaRoudsari ,
The suggested correction sounds good and I have just changed it in the document.  I think that a lot of people put the "3D" in there to clarify what Rhino is to people who aren't familiar with it (similar to the way that Arpan was using the word "CAD" to describe a lot of projects that were Rhino-related).  I have come to realize that, if people aren't familiar with Rhino, then

[2015-03-12 01:45] #133 closed

[2015-03-12 02:21] mostaphaRoudsari commented on #133
Thanks @chriswmackey!

[2015-03-12 12:39] ayezioro opened #135 "LB_windRose + analysisPeriod Title issue"
Hi,
Using the conditionalStatment in the windRose gives a "wrong" title when defining an analysis period different than the whole year.
The percentage of hours from the condition is extracted from the whole year hours (8760) instead of the analysis period hours. It is nice having the % from the year, but nicer also from the desired period.
Thanks,
-A.

[2015-03-12 12:48] chriswmackey commented on #135
Thanks for finding the bug @ayezioro. I was the last one to edit the wind rose and it is possible that I created this one while fixing other bugs. I will fix it very soon.

[2015-03-12 14:20] ayezioro commented on #135
Hi Chris,
Can be useful having the title with both printings.
Thanks,
-A.

[2015-03-13 03:47] mostaphaRoudsari commented on #130
@arkdanielnielsen did you figure out how to do this?

[2015-03-13 16:23] ayezioro opened #136 "Having issues with the new importEPW"
Hi Mostapha,
Just updated to the new version of components and the importEPW is making me trouble. As a matter of fact it is working but when i connect it's outputs with other dependant data component they are failing. For instance windRose (1. Please provide valid lists of hourly wind direction and hourly wind speed!) and sunPath with anniualHourlyData (1. Solution exception:invalid literal for f

[2015-03-15 16:10] mostaphaRoudsari commented on #136
This is my fault not testing it more in-depth. I'll check it out now and see if there is an easy fix for that. Sorry and thanks for reporting. I think we should use your files for testing new components.

[2015-03-15 16:40] mostaphaRoudsari commented on #136
It should be fixed now! Thanks for reporting.

[2015-03-15 16:40] #136 closed

[2015-03-15 17:03] stgeorges commented on #136
The error was mine.
Apologies to both of you, for this.

[2015-03-15 17:44] ayezioro commented on #136
Thanks!! And no problem.
You know i like to test :-)
-A.

[2015-03-16 21:12] chriswmackey commented on #135
@ayezioro ,
I seem to have misunderstood this as a bug (it was more of a feature request) but I addressed it anyway.  You now get the percentage of hours in the analysis period:
![fixedwindrosetitle](https://cloud.githubusercontent.com/assets/5567574/6676601/97345f78-cbff-11e4-915d-5732f165363a.PNG)

Also, the title now comes as a separate output:
![fixedwindrosetitle2](https://cloud.githubusercon

[2015-03-16 21:12] #135 closed

[2015-03-16 21:41] ayezioro commented on #135
Great!!
Thanks,
-A.

[2015-03-24 21:25] chriswmackey opened #137 "Add in the Ability to Remove sunrays blocked by context before they hit the source srf"
On the Ray tracting component.  as per this discussion:

http://www.grasshopper3d.com/group/ladybug/forum/topic/show?id=2985220%3ATopic%3A1242635&xg_source=msg

[2015-03-24 21:56] chriswmackey opened #138 "Add in the Ability to Generate a Logarithmic Wind Profile"
As per this discussion:

http://www.grasshopper3d.com/group/ladybug/forum/topics/wind-boundary-profile-questions-and-wishlist?commentId=2985220%3AComment%3A1240892&xg_source=msg_com_gr_forum

[2015-03-28 19:17] Kristoffernegendahl commented on #133
@mostaphaRoudsari @ayezioro and **@everyoneelse**
Here is a notification as promised, my jounal paper has finaly been published online: Free to read next 10 days: http://authors.elsevier.com/a/1QmIL3IhXMSz0n

[2015-03-29 04:30] ayezioro commented on #133
Thanks Kristoffer.
Downloaded already.
-A.

[2015-03-31 18:15] ayezioro opened #140 "Wind Rose and Profile define desired hours"
Hi,
A wish:
i want to be able to define determined hours of the day for both Windrose and Wind Profile components.
I find rather useful to  be able to have this option if i want to check different scenarios, for example, day hours, or night hours (night ventilation), etc. Kind of what is possible with the Sunpath inputs.
Thanks,
-A.

[2015-04-02 16:41] chriswmackey commented on #140
@ayezioro ,
You should be able to pull out specific hourly periods with the analysisPeriod.  The Wind profile component also includes a HOY input to pull out individual hours.
Let me know if I am understanding your request correctly.
-Chris

[2015-04-02 16:59] ayezioro commented on #140
Hi Chris,
Let's say that i want all January JUST from 10 am to 18 pm. If i use the AnalysisPeriod it will start from 10 am for the 1st of January but in the 2nd it will start from 1 am (and so on, and so forth).
The idea is to be able to analyze ranges of hours of the day for a period of time.
The HOY gives one specific hour. Is not what i want.
Makes sense?
-A.

[2015-04-03 21:34] chriswmackey opened #141 "Have Solar Time Option Change the Means by which Sun Positions are Calculated on the Sunpath"

[2015-04-03 22:15] chriswmackey commented on #140
@ayezioro ,
I think that you are misunderstanding how the function that reads the analysis period works (specifically, the function called lb_preparation.getHOYsBasedOnPeriod()).  It works just in the way that you are requesting here.  Perhaps hooking up the analysis period to the sunPath will make this clear.
This is the function that is used to read the analysis period across all Ladybug and Hon

[2015-04-04 18:17] ayezioro commented on #140
Hi Chis,
... shame on me, a little bit.
So it does work as i want with the analysis period.
On my behalf i would say that a while ago, when Mostapha changed the Sunpath analysisPeriod i didn;t like that i usually want just one day to be mapped and with the analysis period you get the range of days (if you ask for more than one month). So i assumed that with the hours you get the same way of work w

[2015-04-04 18:17] #140 closed

[2015-04-06 17:51] chriswmackey opened #143 "Add in the Option for the ISO Adaptive Model and Include Updates from recent Adaptive Comfort Research"
I wanted to make sure that I understood the recent adaptive comfort research well enough before making changes but I think that I have finally gotten a good enough understanding of what needs to be done.

These features should be added in for all components related to adaptive comfort:

1) An option to choose between the ASHRAE or ISO models.
2) The ability to adjust a dimensionless "levelOfCondit

[2015-04-10 13:22] mostaphaRoudsari opened #144 "Orientation study doesn't work with legendPar connected"
http://www.grasshopper3d.com/xn/detail/2985220:Comment:1260226

[2015-04-18 17:15] arkdanielnielsen commented on #144
There is also a bug when you want you set True to "bakIt" for at least the view analysis :/

[2015-04-30 13:58] mostaphaRoudsari opened #147 "Change the license to GPLv3"
Read more on Honeybee issues (https://github.com/mostaphaRoudsari/Honeybee/issues/335) and please leave your comments under that post. Thanks.

[2015-06-14 00:12] stgeorges opened #150 "Suggestions for improving set of Photovoltaics components"
Hi @chriswmackey , @mostaphaRoudsari , @antonszilasi

As Mostapha suggested, I am continuing an email conversation in here, related with suggestions on improving Photovoltaics components.

Hi Chris,

Thank you for the reply and all the thorough comments and suggestions.

I can not commit new files to github, as I can not install github application. It requires Windows XP >, and on my PC I have Win

[2015-06-14 07:01] mostaphaRoudsari commented on #150
Hi @stgeorges,

Thanks for starting this issue. Let' break down this issue in multiple issues as we go on. It's really hard to keep track of 10 items in a single issue.

I committed the new versions of the changes (b36fe6ccef240b4cb1ec3f9af7165fbe13c85ab7).

Two question/suggestion about the sample files.

1. Is there any reason that you don't internalize the geometries in Grasshopper files? In th

[2015-06-14 13:00] stgeorges commented on #150
Hi @mostaphaRoudsari ,

Thank you for the commits!

1. I replied to this question two weeks ago in an email, maybe you missed that part. Grasshopper (0.9.0076, 0.9.0075, possibly earlier releases too) has an issue with internalizing breps. Once you download a .gh file with an internalized brep and save it, the next time you open it, internalized brep is gone (gets "Null"). This is not always true,

[2015-06-14 13:22] mostaphaRoudsari commented on #150
Hi @stgeorges
1. It is ok. We have never had this issue so far. Let's internalize the breps and in case anyone reports the issue we'll share the Rhino file with them. [Let's focus on the potentials!]
2. I hear you. Let's just keep it as it is.
Thanks!

[2015-06-14 13:34] stgeorges commented on #150
@mostaphaRoudsari
1. I should have googled first. I apologize. Looks like it was Rhino 5 SR <10 that was causing the issue. Versions 10 >= [do not show this behavior](http://www.grasshopper3d.com/forum/topics/losing-internalised-data?id=2985220%3ATopic%3A1007892&page=1#comments).
Still for us with older versions (I have SR 9 and SR5) wouldn't it better to skip all the hassle about reporting, and j

[2015-06-14 13:35] mostaphaRoudsari commented on #150
@stgeorges I'm cool with that. Let's internalize the breps and also have Rhino files there just in case.

[2015-06-14 13:36] stgeorges commented on #150
Thank you.

[2015-06-16 15:34] ayezioro opened #152 "Issue and wish: LB_SolarAdjustTemperature - bodyLocation_"
Hi,
I'm having some issues defining a different location for the mannequin but the default.
When no input is hooked to this item it is fine (of course) for all body positions. But when i hook a point the objects drops below the point or above it.
So the wish is that the coordinates of the mannequin will be calculated according to any input point and this point will be the lower one for all the pos

[2015-06-18 18:17] chriswmackey commented on #152
@ayezioro ,

At the moment, the body location is set to be the height of a seat where the mannequin is sitting but I realize that this gets confusing wen the mannequin is standing up or lying down.  I can change it to be from the height of the mannequin's feet if this would be easier.

-Chris

[2015-06-18 18:41] ayezioro commented on #152
Hi Chris,
The thing is that when you don't input the location the insertion point is "fine". I mean, the feet is always at the same location regardless the position (stand, seat, lying). But when you do input the location is less predictable.
So the answer to your question is yes, it would be easier (i guess).
Thanks,
-A.

[2015-06-25 01:29] chriswmackey commented on #141
It is done!
https://github.com/mostaphaRoudsari/ladybug/commit/fd94178979f1d3734a895ba9014d3a5ba23a6984

[2015-06-25 01:29] #141 closed

[2015-06-27 14:55] pmkary opened #153 "Don't use CC for your licensing!"
Hi!

I was reading your codes that I found out you use CC for the license of both Honeybee and Ladybug. The thing is you [can't and must never](https://wiki.creativecommons.org/wiki/Frequently_Asked_Questions#Can_I_apply_a_Creative_Commons_license_to_software.3F) use Creative Commons as the license for a software. CC supports anything but software.

Using a wrong license is really dangers. I think

[2015-06-27 19:34] mostaphaRoudsari commented on #153
Hi @pmkary! Thank you for opening this issue. You're right and as you can see here we're in the process of changing the license: https://github.com/mostaphaRoudsari/Honeybee/issues/335

Duplicated with https://github.com/mostaphaRoudsari/ladybug/issues/147

[2015-06-28 00:13] pmkary commented on #153
Thank for the reply.

I'm glad you know the issue, but a bit amazed it's taking you time to changed it. I think you should hurry a bit when it's about these legal stuff, I've been in GNU for a few months and there are really horrible things going on about all the companies that use these pitfalls to take advantage of open source software and it's just sad. I really think you better change the lice

[2015-06-28 00:14] #153 closed

[2015-07-01 00:08] chriswmackey commented on #152
@ayezioro ,
I have not changed the bodyLocation to be at the lowest part of the mannequin instead of the mannequin's center of gravity.  This should give a more consistent idea of where the bodylocation is expected to be as you scroll through different postures.
https://github.com/mostaphaRoudsari/ladybug/commit/efc3b05118a628e60c3ddea625840d20a22d6690
-Chris

[2015-07-01 00:08] #152 closed

[2015-07-01 01:30] chriswmackey commented on #147
@mostaphaRoudsari ,
In light of the warnings that Pouya gave us the other day, I was curious about what is currently holding us back from updating the license.  If it is just a matter of writing a script to change the name of the license in the .py files, I would be happy to take care of it (or at least take a stab at it and hopefully figure it out).  I imagine that we also want to have an officia

[2015-07-01 05:08] ayezioro commented on #152
Thanks Chris!!

[2015-07-05 11:14] mostaphaRoudsari commented on #147
@chriswmackey thanks. I had some progress after we talked and the draft version is ready to go. please check the email that I sent. As soon as we get the issue for CBE Tool fixed I can change the license for both Ladybug and Honeybee.

[2015-07-06 12:24] mostaphaRoudsari commented on #147
Done via 5aa5c166ee81a92fce57ed52a84168d72deb56d4!

[2015-07-06 12:24] #147 closed

[2015-07-06 12:25] mostaphaRoudsari commented on #153
@pmkary now Ladybug is under GPL!  :tada: :balloon:  (5aa5c166ee81a92fce57ed52a84168d72deb56d4)

[2015-07-08 18:05] pmkary commented on #153
That is excellent! congrats on that :D

[2015-07-10 03:39] chriswmackey commented on #119
It is done!
![molierhximplemented](https://cloud.githubusercontent.com/assets/5567574/8611729/ad3139f6-2693-11e5-8dbe-ef00a7440353.PNG)

[2015-07-10 03:39] #119 closed

[2015-07-14 00:47] chriswmackey commented on #121
After trying a bunch of different arrangements of code, I finally figured out the best way to do this.  The try/except loop has to go completely around everything, including both the function being run in parallel and the code that calls the function.  The false assertion needs to be inside the function being run in parallel.  Unfortunately for the climate maps, each step of the loop can sometimes

[2015-07-14 00:47] #121 closed

[2015-07-15 13:09] mostaphaRoudsari commented on #78
Hi all, I changed the default color set to something similar to Chris's map. I borrowed the colors from color brewer color set. Here is an example (http://vega.github.io/vega-editor/index.html?spec=heatmap)

I personally think it is much better than the current color set and is still generic enough. As usual I'm open to disagreements and/or better suggestions.

@arkdanielnielsen @chriswmackey @stg

[2015-07-15 13:20] ayezioro commented on #78
Hi Mostapha,
This is a move from nice to nicer :-)
Like the colors. Also like the Daniel's legend.
-A.

[2015-07-15 23:18] chriswmackey commented on #78
@mostaphaRoudsari and all,

I can agree that the new color scheme looks more sophisticated and polished than the previous one, particularly when it is used for temperature data and for highlighting hot/cold extremes that deviate from a median comfort.

However, I am also realizing that the new color scheme's lower saturation and greater emphasis on dark/light differences does not seem to be doing

[2015-07-16 05:32] ayezioro commented on #78
I have to admit that my comment was based ONLY in the picture Mostapha uploaded. My bad not checking before responding.
I fully agree with Chris's comments. The benefit seems to be lower than the "damage".

I've been seeing, and collecting, different color schemes along the discussions in the forum. Sometimes i use them when i want to show things differently. This can be a way to deal with this is

[2015-07-16 06:41] arkdanielnielsen commented on #78
Hi guys,
Nice to have a discussion ones a while ;)
I like the suggested color scheme, but... as I also wrote last year, I would suggest to leave it as it is. As Chris also writes, it is like a trademark for Ladybug.
/daniel

[2015-07-17 18:22] arkdanielnielsen opened #154 "Bug - Bioclimatic Chart"
Hi @ayezioro
There is still a bug in the Bioclimatic Chart with the coloring of points that is in the comfort range or not. The color should just be swapped.
![ladybug_biochart-03](https://cloud.githubusercontent.com/assets/7299731/8754116/7b15802e-2cc1-11e5-8878-bbdec4fca3ec.JPG)

[2015-07-17 22:05] chriswmackey commented on #78
Ok.  I think we should go through the aspects of this issue that we seem to agree on most to those we might have to build more of a consensus:

1) First, it seems that all of us unanimously would like a quick means of accessing a number of gradients that all of us use a lot.  I have added a new library of common gradients in LB_LB along with a new component that allows you to quickly access all of

[2015-07-18 15:03] ayezioro commented on #78
This is so nice Chris!!
As i said before i collected some color schemes. Here is a link with those patterns and instead a slider with the options i put a list from you can pick according to the scheme's name (just for user's convenience).,
Between the color schemes i like the Ecotect's. I don't remember from whom i took them (my bad). I think it is Theodore, but ... can be someone else.
The link:

[2015-07-18 15:07] ayezioro commented on #78
Forgot to say: Your examples are so great!!

[2015-07-18 18:01] chriswmackey commented on #78
@ayezioro ,

I have taken into account the color schemes in the GH file that you sent.  They are as follows:

1) It is good to know that the colors in the sunlight hours file mostapha uploaded from Miguel came from ecotect.  I have since changed the name from 'Sunlight hours 2' to 'Ecotect' and I have replaced the original colors with the slightly more refined version in your file.

2) The black t

[2015-07-18 18:42] ayezioro commented on #78
Perfect!!
-A.

[2015-07-18 22:10] chriswmackey commented on #78
Hello All,

I am heading out for a trip tomorrow and would like to clear up the issue as far as my edits are concerned.  To address the bug that was created in the thermal map colors, I got temporary permission from Mostapha to put back the old default.
If anyone has any major objections to the default color schemes I proposed for the sunlight hours/shadow studies or view analysis, please post in

[2015-07-19 02:56] ayezioro commented on #78
Have a nice trip Chris.
Fine with me your suggestions.
-A.

[2015-07-20 18:36] arkdanielnielsen commented on #78
Nice components @chriswmackey !
I only had some thoughts/comments to sunlight hours where I use colors instead of black-white gradient. But then it is great that it is so easy to make your own gradient.
Overall I think it is some good  choices!

[2015-07-21 03:47] chriswmackey commented on #78
@ayezioro  and @arkdanielnielsen ,
Thank you for your input.  I have changed the default colors for the view and shadow studies so I am going to close out the issue.  If anyone has any objections, uncertainties, or other color schemes they want added to the library, please feel to re-open the issue.
-Chris

[2015-07-21 03:47] #78 closed

[2015-07-21 09:24] mostaphaRoudsari commented on #78
Thanks @chriswmackey and everyone! All I needed to do was to start this discussion again. Well done. :)

[2015-07-21 14:33] ayezioro commented on #154
Hi Daniel,
Sorry for the delay.
Please find attached the update:
https://www.dropbox.com/s/y0glp1eqs5zk1lq/ForGithub.zip?dl=0
There is also the updated example.

Mostapha and/or Chris: Do you mind tu upload this stuff to the github and examples location?
For you is a minute for me can be ... many "minutes" :-)

If it is ok you can close the issue.

Thanks,
-A.

[2015-07-21 17:36] mostaphaRoudsari commented on #154
Hi @ayezioro, Thanks! It's pretty easy for me to do but I would say let's take the time and commit it from your account. I want your work to be committed as yours. I'll be around tomorrow. Let me know if you want me to help you online through skype so we can do it together in matter of minutes. You just need to sync your fork with the master, make the changes and send a pull request! Let me know i

[2015-07-21 17:41] claudioarchi commented on #78
Hello Guys

First of hall I think that having  a quick aces to different gradients is a great idea. This being said  if you have  too many choices it will be the same as having none. So in my opinion 50% of the proposed gradients by  Chris will be fine

Now regarding the view and view analysis and shadow studies it works fine to me.

Thank you all for your great work

Claudio Nunez
Architecte
Sent

[2015-07-21 18:26] ayezioro commented on #78
Hi Claudio,
Your comment reminds me a good joke, where the bottom line of it is: "You don't cut options".
If you guys insist i can try to write the full joke (The Pope is a main actor in the joke, so you can imagine where it goes :-) ). But saying that, i think than once you have the option ,you don't want to cut them. In this case, specially, when you have good defaults for the analysis, so you d

[2015-07-21 18:29] ayezioro commented on #154
Hi Mostapha,
Great!! Just for having the opportunity to chat with you i'm willing to do this.
Our time difference is 7 hours. Let me know when it is fine for you.
Thanks,
-A.

[2015-07-21 18:39] arkdanielnielsen commented on #154
I would also like to see how it is done. I have still not uploaded the simple component that convert from kW to W.
@mostaphaRoudsari maybe you could setup a small session on how to do that :)

[2015-07-21 20:13] claudioarchi commented on #78
Yeah I guess you are right. I took a look at Crhis file and its great. So I retract my self. I think having a good set of gradients is a helpful thing

Cheers all and keep the good work

[2015-07-22 01:40] chriswmackey commented on #78
Thank you, everyone, for the comments and I am glad to see that the consensus seems to have held.  @claudioarchi , I would agree with decreasing gradients if the list ever got to a size that seemed difficult to navigate with a drop-down list (I imagine somewhere around 40 gradients).    For the time being (with 20 gradients, most of which have names that can be tied to other components in LB), I t

[2015-07-22 09:22] mostaphaRoudsari commented on #154
Sounds good! Just sent an email.

[2015-07-23 01:04] chriswmackey opened #155 "Add a Component toCconvert U-Value/R-ValueSI to IP"
Requested by a co-worker.  Since I don't want the visible LB components to be out of control, I will put this component hidden/below the toolbar.

[2015-07-23 15:00] #154 closed

[2015-07-30 17:59] ayezioro opened #159 "Ladybug_Ladybug component not in LB group"
Hi,
I updated with the last version on the github. Now i notice that the LB_LB component is not anymore in the under the Ladybug tab group. It shows now in a tab called User.
Weird, ah?
-A.
![capture](https://cloud.githubusercontent.com/assets/7526023/8990890/d1ed212c-36fd-11e5-8bce-9f528d276f3f.PNG)

[2015-07-30 18:11] mostaphaRoudsari commented on #159
Hi Abraham. Thanks. Very strange! Can you try now? I recompiled the ghuser. It is now fine on my system.

[2015-07-30 18:11] #159 closed

[2015-07-30 18:20] ayezioro commented on #159
The bug is not alone anymore :-)
Thanks.
-A.

[2015-07-31 10:31] mostaphaRoudsari opened #160 "montly total cannot be visualized by 3D chart"
See this: http://www.grasshopper3d.com/group/ladybug/forum/topics/montly-total-cannot-be-visualized-by-3d-chart?page=1&commentId=2985220%3AComment%3A1333170&x=1#2985220Comment1333170

[2015-08-01 14:39] chriswmackey commented on #160
Fixed:
https://github.com/mostaphaRoudsari/ladybug/commit/633bcd3105a9647dd6eec12b328c9a8daac74d83

[2015-08-01 14:39] #160 closed

[2015-08-02 17:37] chriswmackey opened #161 "New Solar Enevelope by Boris Ready for Beta Testing"
I have started this discussion as @boris-p  has just about worked out the last of the major known bugs in the VERY AWESOME, VERY POWERFUL, new custom solar envelope component.  This will be the place where people who are interested in testing the component should post comments and feedback that will be taken into account before a complete component is released (hopefully before the next stable rel

[2015-08-02 17:39] chriswmackey commented on #161
I post @boris-p 's most recent email outlining all of his most recent updates below (I will respond to these in the next post):

Hey Chris and Mostapha,

I apologize for the long delay (and the long email). Had some busy times and also wanted to address the issues with care before going further. In short, the biggest issue was the multithreading problem. I've made some changes and many tests. Trie

[2015-08-02 18:32] chriswmackey commented on #161
@boris-p ,

That is great to hear that you worked through the issue of the crashing parallel process.  Your rigor in testing it is truly commendable.

To go through your points:

Yes, we decided it was time to make the commitment to GPL after there seemed to be some companies with strong incentives to take the code of LB and and copy it into their closed-source programs in order to charge people f

[2015-08-02 23:44] boris-p commented on #161
@chriswmackey , I agree with all your comments. Didn't notice that I saved the file with the automated testing turned on so that it runs straight when you open the file, I would have been annoyed opening such a file but in addition this testing was more for us to really try and confront the problem, I think that most users, even testers don't really need to run it.
Couldn't agree more regarding th

[2015-08-03 05:28] agusHariyadi commented on #161
@boris-p , @chriswmackey  , when I try to compare it in my computer, the finalPointList have different result with envelopePts.
https://www.dropbox.com/s/ifbufn026agvvc3/solarEnvelopeAdvanced_2.8_test_case_compare.gh?dl=0
![capture](https://cloud.githubusercontent.com/assets/6168707/9031287/ce1022b6-39eb-11e5-8364-1b529243d475.PNG)

[2015-08-03 06:28] boris-p commented on #161
@agusHariyadi , thanks a lot for the feedback. The difference occurs due to the way that we calculate the maximum height of the points when they don't interfere with other buildings no matter how high they would be.The previous solution measured 100 above absolute zero while the new one measure 100 units above the base curve defined. in the example you could see that the base crv's z value is -4 s

[2015-08-03 15:18] ayezioro commented on #161
This is great Boris!! So similar to Guedi's original. Good contribution and hope our students will enjoy this.
I tried it a bit, and i have some comments. I see that the running time is already an issue. I tested your last example and changing the north orientation the time changes from 5 seconds to 15, depending on "how are your neighbors". Choosing "properly" the analysis period must be a carefu

[2015-08-03 15:29] ayezioro commented on #161
Forgot to mention: if you add the explanations to the hint, you can also add some explanation about the Solar Volume, which is the resulting space between both envelopes. I will also give a reference to the original paper Guedi published (at least).
-A.

[2015-08-05 10:45] boris-p commented on #161
Thanks @ayezioro, i'll try to address the points one by one -

Running time - it is a process that takes time, we've made many efforts in improving performance, both optimizing the code and allowing for parallel processes to run, of course there are many things that could be done to improve upon this, but I think that at least for now there's a good trade off between performance and usability. The

[2015-08-05 11:46] ayezioro commented on #161
I've been checking the SE results and i have some thoughts, specially regarding the Solar Collection option.
See attached: https://www.dropbox.com/s/cxj9jc6bmyubmuo/solarEnvelopeAdvanced_ToReport.gh?dl=0
Please use it as it is defined (only one hour), for understanding the issue i'm writing here. The SolarCollection result shows a planar mesh and in my opinion it has to be in a much lower leve and

[2015-08-05 15:09] boris-p commented on #161
@ayezioro , i'll elaborate on the hint part so it would be more explanatory for the users and have changed the hint next to the envelopeToRun parameter.

Thanks a lot for catching the problem with the solar collection, had a few small bugs there, could you take a look at this file ? I think it should work now
https://www.dropbox.com/s/fak48pk22gju27h/solarEnvelopeAdvanced_ToReport_boris_5.8_4.gh?d

[2015-08-05 17:05] ayezioro commented on #161
Hi Boris,
Getting better. Try now with 5 hours instead of 1. You'll see very "nice" holes in the SRE. Maybe is a Tolerance issue?
As for the SCE i'm still trying to digest that what you get is right. Let me think ...
I think the discussion can remain here for now. As Chris suggested above, until the release. I don't believe many more issues will arise anyways.
One more thing. For some reason Rhino

[2015-08-05 18:32] boris-p commented on #161
@chriswmackey , could you help me out with something?
Looks like there's some problem with the rebuilding of the new polysurface in the computeFinalSolarVol method. I'm wondering if instead of this part -

#Convert the faces of the new mesh over to a brep.
        topBrepList = []
        for faceCount, face in enumerate(self.regionMesh.Faces):
            if face.IsQuad:
                faceBrep

[2015-08-05 18:35] ayezioro commented on #161
Ok. I've been thinking ... and testing. The best way to see this is one hour at a time and look from the sun. Then you get it right. So now i can say the component is working great. Just the voids in the surfaces.
So far i tested the SRE with curves on the same level. I'll test different height. But i know that this is only for my fan.
Question: I'm getting the lowest height of -20, without settin

[2015-08-05 18:37] ayezioro commented on #161
No. Can't reproduce. Maybe the computer was tired :-)

[2015-08-05 19:40] chriswmackey commented on #161
@boris-p  and @ayezioro ,

I am glad that the discussion has been really picking up and I am sorry for being away for the last 3 days.

I just wanted to say first that I have merged the old pull request, @boris-p , and I have added the example GH file from this pulled version to the Ladybug Example files in our app.box.  Anyone can now download it from here:
https://app.box.com/s/aormi5g1n9cs47brh

[2015-08-06 14:38] ayezioro commented on #161
Hi Boris and Chris,
Related and not related.
Check this one: https://www.dropbox.com/s/6i6qrhgtlem24z6/solarEnvelopeAdvanced_ToReport_boris_5.8_5_AY.gh?dl=0
I'm calculating the radiation of the envelope in LB. I don't understand why there are patches where the radiation is 0. At first i was thinking the normal was facing the wrong direction. But showing them i see that all of them are fine.
Any id

[2015-08-08 04:58] chriswmackey commented on #161
@ayezioro ,

I do not yet know the best way to fix the code but I do know why it is happening and I have two temporary workarounds.

The problem is happening because some of the brep faces created by the solarEnvelope are doubly-curved in a way that seems to cause the analysis points to be generated slightly below the analysisSrfs.  The two workarounds are either:

1) Triangulate all of the faces

[2015-08-08 16:27] ayezioro commented on #161
Hi Chris,
Seems to be that the triangulate option works better than changing the distance from base. At least from the test i did. So at least we know how to deal with the problem now.
Thanks,
-A.

[2015-08-09 10:13] paxeco opened #163 "Bounce from surface component"

[2015-08-09 10:13] #163 closed

[2015-08-09 21:48] boris-p commented on #161
hey @ayezioro and @chriswmackey . Following the discussion in the last couple of days, I've incorporated the bug fixes and improvements that you have suggested. @chriswmackey , I agree regarding removing the parallel input.
The only open issue for me at this point are the description texts, I think that for people with familiarity with solar envelopes this would be easy to understand but tricky fo

[2015-08-10 02:59] ayezioro commented on #161
Hi Boris,
I have no new comments.
As for the description i don't think a complete/comprehensive text should be written. Some responsability must be in the hands of the users. You can never guarantee the good use of any tool. But i think that a reference to a paper can be more helpful. For instance you can mention some Ralph Knowles (he is the one who proposed the term) and of course Guedi's.
-A.

[2015-08-11 18:34] mostaphaRoudsari commented on #161
Hi @ayezioro! thanks for finding this new bug. I would open a new issue for the bug with radiation analysis mesh issue. If you agree I won't put a high priority on this.

@chriswmackey there is no such a thing as someone's component. Feel free to go ahead and get it fixed.

PS: Nice discussion here btw.

[2015-08-11 19:06] ayezioro commented on #161
Hi Mostapha!
Of course: give it your own priority.
-A.

[2015-08-13 21:37] boris-p commented on #161
hey guys, I've just sent a pull request containing the latest version with the bug fixes for all the known issues, also uploaded an updated an a bit more comprehensive example file - https://www.dropbox.com/s/ptex3cs22vtp4xw/solarEnvelopeAdvanced_13.8.gh?dl=0

Regarding the description or a reference to an article, I've decided to leave it as it is for now.
The reasons beings that there is a descr

[2015-08-14 03:03] ayezioro commented on #161
Boris,
The example file shows that the component is dated July 6, which is the previous version i have. Is that right? In the github there is no yet an updated version.
So i'll wait for your confirmation before checking.
-A.

[2015-08-14 03:52] ayezioro commented on #161
Disregard the previous. I see from the content that they are different.
Runtime is almost the same as the previous. So it is OK.

Didn't find any other issues. It is fine now with me.
Though, still think that references should be added. If you combined different approaches then a reference of those is in order. People using this component in the future can not guess which approaches are those, and

[2015-08-14 15:10] mostaphaRoudsari commented on #161
@boris-p Thanks. It looks ready to go. I second @ayezioro's comments about referencing. I think it's the right approach to reference their work explicitly. What do you think?

[2015-08-14 19:07] boris-p commented on #161
I'm convinced, thanks @mostaphaRoudsari  and @ayezioro   :)
Updated the pull request (I think, the component should have today's date) and also the example file - https://www.dropbox.com/s/qda0vhpga1zotzs/solarEnvelopeAdvanced_14.8_as_example_file.gh?dl=0

Will update in the next few days regarding the tutorial

[2015-08-14 20:11] mostaphaRoudsari commented on #161
@boris-p Great! Thank you. :) I will check and merge it after work this evening. Cheers. :beers:

[2015-08-14 20:53] ayezioro commented on #161
Thanks Boris. Looks good ... and fair.
-A.

[2015-08-14 22:05] mostaphaRoudsari commented on #133
@Kristoffernegendahl I finally read your paper last night. Great overview overall. I liked the diagrams very much and the distinctions that you made between different types of simulation tools is very clear and helpful. I usually find myself having a hard time to describe how Honeybee is structured differently versus some other simulation tools to non-experts. Now I will be using your diagrams to

[2015-08-15 02:53] mostaphaRoudsari commented on #95
Here is a very useful example: http://www.grasshopper3d.com/forum/topics/automate-sliders-from-python-without-needing-full-recalculation?commentId=2985220%3AComment%3A1276508

An well written post by James: http://james-ramsden.com/looping-through-the-grasshopper-canvas/

[2015-08-15 03:33] mostaphaRoudsari opened #165 "Shadow mask top sky patch should be splitted in smaller pieces."
See this discussion: http://www.grasshopper3d.com/xn/detail/2985220:Comment:1339963

[2015-08-15 21:27] chriswmackey commented on #161
@boris-p ,

Sorry for being AWOL this past week.  I was just starting a new job and couldn't check everything until the weekend.

I agree with all changes that have been made and it is really looking great now.    I feel safe saying that, when we come to the next stable release very soon, we should be able to take it out of WIP.

I merged your new pull request and updated the example file on the a

[2015-08-15 21:34] chriswmackey opened #167 "Radiation Analysis Generates Points Below Surface for Doubly-Curved Geometry"
This issue spun out of another one here:
https://github.com/mostaphaRoudsari/ladybug/issues/161#issuecomment-127084364

The problem is that, for complex curved geometry, test points can be accidentally generated below the test surface.  I do not yet know the best way to fix the code but I do know why it is happening and I have two temporary workarounds.

The two workarounds are either:

1) Triangu

[2015-08-16 04:25] ayezioro commented on #161
Hi,
I'm trying the component right now and suddenly come to my mind a question: Is the _obstacleCurves a MUST, tat without assigning them the component can't run? Isn't the base curve enough for that?
The reason i'm asking is that, in fact, there can be cases where i don't have any neighboring buildings that can affect the envelope.
Makes any sense? I think so, but what do you think guys?
-A.

[2015-08-16 04:40] ayezioro commented on #161
Hi again,
I'm still thinking and i'm coming to the conclusion it doesn't makes sense. If there are no neighbors, or any boundary where to refer, so anything goes and you can build as high as you can.
I'm not deleting the comment, just as a reminder if me or someone else will raise the question.
-A.

[2015-08-16 09:55] ayezioro commented on #161
Hi,
Sorry for so many interventions here ...
I've been checking last Chris's change comparing with the previous one from Boris (yesterdays). I'm coming to the conclusion that the "best" thing is to leave Boris's. Please see the images attached. The first one before the change and the second, after the change.
In the first one you can see (from the sun point of view) nicely how the envelope fits th

[2015-08-16 12:11] ayezioro commented on #161
And the very last (for today, hopefuly).
See attached: https://www.dropbox.com/s/2b4wf5tjviidg0x/SolarFan_solarEnvelope_Chris%2BSaeran%2BBoris.gh?dl=0
I'm comparing the new envelopes with the previous/other versions.
So first thing i noted is that the SolarEnvelope component is not there anymore. I'm using some version i have. If you see the outcome of the Advanced with this one the results are pr

[2015-08-16 19:30] saeranv commented on #161
Hey everyone, I need to catch up on this thread but I'll look into the discrepancy and figure out what's happening. This new component look pretty sick.

S

[2015-08-16 20:12] chriswmackey commented on #161
@ayezioro ,

Thanks for all of your tests.  To clarify, are you suggesting that we should not triangulate surfaces in the radiation analysis component but just give a warning if a point is generated below a surface?  If so, please post the suggestion quickly on the issue I opened:
https://github.com/mostaphaRoudsari/ladybug/issues/167

The comparison of the envelopes is interesting.  Overall, they

[2015-08-17 05:08] ayezioro commented on #167
Hi Chris,
After checking some cases (see discussion #161) i've found that the triangulation solution is having some inconsistencies in the quality of the calculated envelope. As a result i'll recommend by now, just to warn the user that in cases the points fall below the surface, to increase the distance to surface input.
-A.

[2015-08-17 05:38] ayezioro commented on #161
Hi Chris,
I posted in the #167.
I think i understand now the differences with Saeran's.
His input _requiredHours is not clear. In the example i sent i gave 5, hoping the hours will start from 10 to 14 (5 hours, including 10 and 14). Checking his code i see that the hours are 9 to 14. Which are 6 hours instead. Now the results are much closer. Just some ridges that i can't understand. But out of th

[2015-08-17 07:34] saeranv commented on #161
Hi guys,

I spent some time today looking through the solar envelope examples, and there's a couple of issues that are causing the discrepancy.

1. @chriswmackey  I checked the solar points versus solar vectors; and it seems to yield the same results. So I don't think this is the problem here. It's helpful to know that you're using a different method though.

2. As @ayezioro  mentioned, one of the

[2015-08-17 11:15] ayezioro commented on #161
Good!
@saeranv  i would add some brief explanatior or example in the hint of the requiredHours, so users can fully understand the meaning of the input.
The only last think to fix is that the Advanced Envelope is @boris and not @chriswmackey. So the credit goes to Boris (and probably a bit also to Chris if i'm right).
-A.

[2015-08-17 22:12] chriswmackey commented on #167
@ayezioro ,
Awesome.  This will be much easier to implement.  I should be able to take care of it soon.
-Chris

[2015-08-17 22:38] chriswmackey commented on #161
@saeranv ,
Awesome!  Thanks for the rigorous testing!

@boris-p 's solar envelope can model the exact same case as @saeranv 's component by using the new solarTime feature that I added to the sunpath a month ago, which gives you solar noon and any variation off of that.  The two are matching exactly now:
![solartime](https://cloud.githubusercontent.com/assets/5567574/9318166/23e86d64-450f-11e5-84d

[2015-08-18 05:00] ayezioro commented on #161
Hi Chris,
I'm seeing the definition (hint) in the solarOrStandardTime. Are you sure that True is solar time? I think is the opposite. The way botth envelopes coincide is setting the input to False (or not setting it at all since it is the default). I understood from @saeranv that he is using solar time. Moreover, the sunpath of the True option looks as Standard Time (i.e. No analemas).

![capture]

[2015-08-18 16:24] boris-p commented on #161
@chriswmackey , i'd give you a bit more credit on the help with the component, a lot more actually.

@ayezioro in relation to one of your earlier comments, regarding what happens when we don't assign obstacle curves with solar rights. When Chris and I have spoken about it in the past we came up with automatically calculating a self envelope (taking the _baseSrf as the border) and that actually sto

[2015-08-18 18:49] ayezioro commented on #161
Hi Boris,
For the obstacle curves i understand it is not working in the version we have (or i have). But it is good you it can work without it.
The name of the baseSrf should be changed to baseCrv (right?).

As for the video. This is great, but ... since you don't mind the critics. Here i go:
It is tooooo loooooong. Put yoursel a limit of up to 7 minutes.
The first 2 minutes you can skip. You don'

[2015-08-19 01:17] mostaphaRoudsari commented on #161
Hi @boris-p! Nice work. I actually liked the video. I agree with @ayezioro's comment that it might be a little bit long but people can always move it forward if they think they know some stuff. There will be people who will be watching the video and won't know about Ladybug. I would even suggest to add a link to the forum in video's description.

Changing baseSrf to baseCrv makes sense to me. It c

[2015-08-19 13:03] Kristoffernegendahl commented on #133
@mostaphaRoudsari I am glad to be of any use. And you are very welcome to use the articles as you please.

[2015-08-19 21:33] chriswmackey opened #168 "Make Psych + Adaptive Chart Friendly for Degrees Fahrenheit"
I just realized that I forgot to do this and, as a result, it's likely that few people in the US are using it.  I will take care of it soon.

[2015-08-22 19:34] chriswmackey commented on #161
@boris-p @ayezioro and @mostaphaRoudsari ,

To clarify the baseSrf input (as I understand it), it uses the Brep type hint such that it is automatically converting any planar curve that is connected to a planar Brep before running it through the component.  Personally, I think this this feature is great because it allows you to run planar curves or planar surfaces easily through the component but y

[2015-08-23 15:12] boris-p commented on #161
Regarding baseSrf input, @chriswmackey  is entirely correct, the component works with closed curves, surfaces and more complex breps, I should have done a better job of explaining that in the video and already updated the example file so that the input matches the name.

@chriswmackey and @ayezioro , just to be clear,  the self-bounded solar envelope if no obstacle curves are connected is already

[2015-08-23 15:12] mostaphaRoudsari opened #169 "Components should output all the geometry options after orientation study"
See this comment: http://www.grasshopper3d.com/xn/detail/2985220:Comment:1347207

[2015-08-23 15:59] ayezioro commented on #161
Hi Boris,
The component in the example looks and works fine. I tried inputting surfaces and curves 9at the same time) and it work OK. Nice :-)
Question: The baseSrfCrv need to be planar? Or they can be 3D? I assume that planar, so a short explanation about this in the input hint will be nice.
For the specific example i like less that the geometry of the plot crosses the topography. So there is a p

[2015-08-23 16:51] mostaphaRoudsari commented on #161
Hi all,
I agree with @boris-p's comments. The component is ready to go. I think we don't really need to have a component for extracting the curves or automate it inside the component. Let's leave it to the users and trust that they know better what they need as the input.

@ayezioro curve to brep functionality is an automated Grasshopper functionality. Curve needs to be planer in this scenario.

!

[2015-08-23 17:31] ayezioro commented on #161
Hi Mostapha. The reason i asked is not related to GH functionality but the SE's. Since i see in the example that the input is given by a surface and not by a curve (as previous example files) i was wondering if non planar curves or surfaces are "legal" for the component. I understand that no. So, fine.

Just tested that the SR option works without obstacles, thus given the functionality of the pre

[2015-08-23 18:09] boris-p commented on #161
@ayezioro  baseSrf_ accepts curves, surfaces and breps.  It doesn't have to be a curve so I think that changing the name to a crv or restricting the parameter, forcing it to be a curve might be limiting to some users or some workflows.
obstacleCrvs on the other hand has accept curves, it's not just a matter of convenience because sometimes we might want to define single lines and not closed polyli

[2015-08-23 18:28] mostaphaRoudsari commented on #161
@boris-p all sounds good! I don't think there anything else. I merged the latest version. It should be all good to go now.

[2015-08-23 18:35] ayezioro commented on #161
Hi,
Downloaded.
Issues (sorry, but they are very small): it is still in the WIP and is dated 18.8.
Don't hate me.
-A.

[2015-08-23 18:45] mostaphaRoudsari commented on #161
Hahaha! You're the best Abraham. Is the issue in github or the example file?

[2015-08-23 18:47] ayezioro commented on #161
In the github. Inserting as new.
Thanks! :-)
-A.

[2015-08-23 18:49] mostaphaRoudsari commented on #161
That's the right version though. I didn't change the date as this is what
Boris had in pull request

On Sun, Aug 23, 2015 at 2:47 PM, ayezioro <notifications@github.com> wrote:

[2015-08-23 18:50] ayezioro commented on #161
:+1:

[2015-08-23 19:12] boris-p commented on #161
Ooops...
@mostaphaRoudsari  should I update the component and send another pull request, what would be the easiest option for you? (sorry for all the pull requests, I always seem to forget something...) .

I guess it also makes sense to update the code in the example file, even though it's not affecting the functionality.

[2015-08-23 19:17] mostaphaRoudsari commented on #161
I would say it is all fine for now. Let's go ahead with what we have and
next time you have more changes you can apply these two changes and send a
pull request. None of them is critical at this point. :)

On Sun, Aug 23, 2015 at 3:12 PM, Boris Plotnikov <notifications@github.com>
wrote:

[2015-08-23 20:50] chriswmackey commented on #169
@mostaphaRoudsari ,
I was just thinking this past week that this would be so helpful.  Looking forward to it!
-Chris

[2015-08-24 09:05] ParametricMonkey commented on #169
Hi Mostapha

The other thing that I think would be useful was if there were 2 context inputs. Often I use the sunlight component to evaluate hrs of sun on windows. So when it comes to an orientation study I would like the context (neighbouring buildings) to be fixed rotation but the other context (slabs, walls, etc) of the proposed building to rotate with the windows during the orientation study.

[2015-08-29 17:38] boris-p commented on #161
Hey, just finished writing messages for FB and Grasshopper3D and wanted to run them by you before posting.
If it's all in order, is there a place where you usually upload the example file to, if so could you send me the link and i'll update the message ?

If there's anything or anyone I left out, forgot to give credit where credit is due or anything else, please let me know so I could fix the wron

[2015-08-29 17:51] mostaphaRoudsari commented on #161
Hi @boris-p!

It looks very good. Explanations is clear and nice graphics. My only comment would be to add a line or two and mention the enhancements and new potentials that the new component brings to table. In other words, you want to be clear about **why** people should test this one today and stop using the old ones?

Back to download links we're still not sure what would be the best structure

[2015-08-29 20:20] ayezioro commented on #161
Hi Mostapha,
I'll take your comment as a compliment :-). Big responsibility!!
One question before the final comment: Why the name of the component needs to be SE Advanced? I'm asking this because the previous "old" one is not distributed any longer. It is not that there will be 2 of them (besides of course Saeran's).
I believe that beside this question i give a BIG blessing for this great componen

[2015-08-29 20:26] mostaphaRoudsari commented on #161
Hi Abraham! Thanks. With no doubt it is a compliment. It's actually a big one. We are very lucky to have you on board.

I think you are right and we won't have another solar envelope component. At some point @chriswmackey removed it from the package. I would say it makes sense to remove advanced from the name. At the same time it might make so much extra work for @boris-p. I would say we can fix t

[2015-08-29 20:36] ayezioro commented on #161
Made my day :-)
100% with your proposal.
-A.

[2015-08-30 16:52] boris-p commented on #161
Great ! @mostaphaRoudsari and @ayezioro , regarding the advanced, I agree that it makes little sense now that it's replacing the old component, and would be nice to have a simpler name but for now I would keep it given that the component, the example file and especially the video tutorial are already prepared. I don't want too big of a discrepancy between the tutorial and the actual file (might be

[2015-08-30 22:32] boris-p commented on #161
posted messages on fb and Grasshopper3D -
http://www.grasshopper3d.com/group/ladybug/forum/topics/new-solar-envelope-component-now-available

fyi

[2015-09-05 06:17] saeranv opened #173 "SolarFanBasic / SolarEnvelopeBasic updates"
@mostaphaRoudsari , @chriswmackey , @ayezioro

Hello all, it took a while but I have updated my components in response to @ayezioro 's suggestions and some other overdue changes. Example file can be downloaded here: https://drive.google.com/file/d/0B1aL4rZ85UMSVHBxUE5jcDBsRjA/view .

Changes are:
* clarified requiredHours input with example
* rewrote the description to distinguish these components

[2015-09-05 07:41] ayezioro commented on #173
Hi Saeran,
Looks fine for me.
Thanks,
-A.

[2015-09-06 05:41] mostaphaRoudsari commented on #173
Hi @saeranv! Thanks. It all looks good to me too. The only minor comment is that you should leave the type for north input as NoTypeHint if you want users to use either a number or a vector to change the north. Currently only vector will work because of the type hint.

[2015-09-06 05:44] mostaphaRoudsari commented on #161
Thanks Boris! Very well accepted by the community. It's very flexible and useful. I will be using it for my class.

I leave this issue open for @chriswmackey to close!

[2015-09-07 13:06] boris-p commented on #161
great to hear and see, thanks!

[2015-09-09 03:54] chriswmackey commented on #168
It is done for the Psych Chart!
![ippsychchart](https://cloud.githubusercontent.com/assets/5567574/9752982/f13aef0e-5684-11e5-8087-c335c9a005a0.JPG)

The Adaptive one should be easier and I will try to get to this soon.
-Chris

[2015-09-09 04:30] chriswmackey commented on #173
Glad to see this and looking forward to integrating it once a new pull request comes through with the right north vector type hint.

[2015-09-09 04:40] chriswmackey commented on #161
Hello All,

I am sorry for my huge absence over the last week and a half but I am so happy with how far everything has come and how everything has turned out.  I barely deserve the honor of closing the issue but I will do it with pride and gratitude to you all.

Congratulations @boris-p !

[2015-09-09 04:40] #161 closed

[2015-09-10 09:46] saeranv commented on #173
@mostaphaRoudsari , @chriswmackey

Thanks guys, I updated the type hint as suggested and sent the new pull request.

[2015-09-10 17:20] mostaphaRoudsari commented on #173
Merged! Thanks @saeranv

[2015-09-10 17:20] #173 closed

[2015-09-10 17:21] mostaphaRoudsari commented on #169
Hi Paul, It's actually already possible. you can use parameters to add geometries which will stay at the same position during the study. I will upload an example file soon.

[2015-09-20 13:10] ayezioro commented on #169
Hi,
This was one of my first requests at the LB starting release days. Wasn't aware it is already working. So thanks, Mostapha.
This is an example i've just tried with the rotated context:
https://www.dropbox.com/s/fvjhpd9axny3kpj/orientationStudy_SampleFile%2BTwoContexts.gh?dl=0
Mostapha: Can you check i set the thigs right?
A new wish as a result: Baking the rotated context. I can think this can

[2015-09-26 01:22] mostaphaRoudsari opened #175 "Let multiple versions of ladybug+honeybee fly next to each other"

[2015-10-02 06:50] ParametricMonkey commented on #169
Hi Mostapha
I had another look at the orientation study and can't see how this is possible. When you say use parameters, do you mean the 'orientation study parameter'.

Also, did you have any success with this request:

Is there anyway to get all the results without having to bake them? I know its possible to use totalSunlightHours to see the results but the analysisMesh only has a single geometri

[2015-10-03 15:13] chriswmackey commented on #168
Implementing this on the adaptive chart will be really quick.  I should do this for the release so that I can say we support all comfort standards (with their different preferred units).

[2015-10-03 15:14] chriswmackey commented on #155
I added this one already:
https://github.com/mostaphaRoudsari/ladybug/commit/e0e4530d3607d31b8a3f6a162caa4f655ac91ab2

[2015-10-03 15:14] #155 closed

[2015-10-03 15:16] chriswmackey commented on #143
This has now been completed. Aside from using Farenheight on the adaptive chart, we now support all aspects of the major internationally recognized comfort standards.

[2015-10-03 15:16] #143 closed

[2015-10-03 15:18] chriswmackey commented on #131
I have gotten this separation of title and legend working now for a large fraction of the Ladybug components.  I feel that I should just finish this off for the next stable release.

[2015-10-03 15:21] chriswmackey commented on #130
I implemented this a while back:
https://github.com/mostaphaRoudsari/ladybug/commit/e448f0662ef61e7723b90eca1c4347878a20adc5

[2015-10-03 15:21] #130 closed

[2015-10-03 15:37] chriswmackey commented on #104
I just had a bran blast the other day that gave me the last piece of what I needed to respond to @mostaphaRoudsari 's initial comment on this issue.

As stated previously, we presently have no official workflow for taking Ladybug graphics and exporting them to vector-based programs like illustrator and yet I know by talking to a lot of people that there is a really high demand for this workflow (m

[2015-10-03 15:58] mostaphaRoudsari commented on #104
@chriswmackey Thanks. All sounds good to me. Back to mesh>hatch as far as changing meshes to hatches doesn't add dramatically to the size of the file I'm cool with this.

[2015-10-03 18:29] chriswmackey commented on #104
@mostaphaRoudsari ,

It's a really quick operation and does not increase the file size much as far as my experiments yesterday showed.

Also, I will still leave in an option for you to get colored meshes with the bakeit option but it's role will be downplayed.  The bakeIt input will basically be changed to an integer input where:
0 / False - Nothing is baked
1 / True -  Geometry for Illustrator ex

[2015-10-03 18:36] chriswmackey opened #177 "Get the View Component to Calculate 5 Different Types of View"
Now that I have been applying this component to a lot of projects at work, I have several cases of view analysis that should be added  in addition to the point-based view that is used currently:

1) Horizontal Radial View - just a bunch of vectors projected out radially from the point in an x/y plane.
2) Extended Horizontal View - a radial projection but with additional vectors that deviate slight

[2015-10-03 18:42] chriswmackey commented on #84
@mostaphaRoudsari and @arkdanielnielsen ,

If I am understanding this issue correctly, I am greatly opposed to automatically changing the default grasshopper display color (it's just going to make other things messy when people actually want to preview geometry other than our ladybug visualizations).  If we want nice graphics from the LB visualizations, I would rather focus on the bakeIt workflow

[2015-10-03 18:42] #84 closed

[2015-10-03 18:44] chriswmackey commented on #86
Panos is looking into this now.  Given the satellite-based nature of the dataset, we might be better able to parse it with the functions that I am building in Dragonfly.  This can be discussed more after I get the basic functionality of DF set and Panos has gotten a chance to understand the dataset.

[2015-10-03 18:53] chriswmackey commented on #83
Everyone,

What is the status on this issue?  Given that no one has responded to my opposition, I am inclined to close it out.  I can possibly imagine a new component in the Extra tab that automatically scales a set of geometry to the borders of a rectangle (to make it easy for you to generate custom reports where everything is on the same scale) but I am opposed to any additional inputs on the cu

[2015-10-03 18:55] chriswmackey commented on #75
This issue is closely related to this one:
https://github.com/mostaphaRoudsari/ladybug/issues/167

[2015-10-03 19:10] chriswmackey commented on #61
@mostaphaRoudsari ,

I am just outlining the following things that I see this issue now referring to:

1) A component that calculates sunrise/sunset time of each day in an analysis period (realizing that this is different than what the sunpath does).

2) A component that takes several streams of annnualHourlyData and just spits out sunUp vs sunDown values for each data stream (making it easy to ha

[2015-10-03 19:19] chriswmackey commented on #60
@mostaphaRoudsari , @claudioarchi ,

This issue seems very outdated and does not seem to belong under Ladybug (since it refers to energy simulation and should be under Honeybee).  As such, I am closing out this issue.

If the idea with this test chamber was just to be able to calculable MRT with a full human geometry, we should continue the discussion on the Honeybee issue that I created for this

[2015-10-03 19:19] #60 closed

[2015-10-03 19:23] chriswmackey commented on #29
@mostaphaRoudsari

Now that butterfly has it's own repository, I feel that this Ladybug issue should be closed. Feel free to re-open if there is still something to be desired here.

-Chris

[2015-10-03 19:23] #29 closed

[2015-10-03 19:25] chriswmackey commented on #15
I don't know what is being referred to here that is different than what the HDD/CDD component already does but I trust @mostaphaRoudsari knows what it means and will take care of it.  Aslo, that link is broken @mostaphaRoudsari .

[2015-10-03 19:54] chriswmackey opened #178 "Add In Conditional Statement for Ladybug SelectedSkyMtx"
This has been something that I have wanted for a while since we have the conditional statement on literally every other LB visualization component except the radiation ones.  I have greatly wanted the ability to make visuals that show me the radiation in just the time when it is too hot, without me trying to figure out what the "hot analysis period" is.

I can imagine an alternative way of making

[2015-10-03 20:04] chriswmackey opened #179 "Make Ladybug BranchData Able to Get Rid of LB Header and Auto-Sense Annlual Data"
I feel that this component would get a lot more use if we could just plug in any stream of annualHourlyData and get it branched instead of having to specify the HOY.

I will add in this capability shortly.

[2015-10-06 04:22] mostaphaRoudsari opened #180 "Data matching in outdoor shade benefit component"
@chriswmackey we are using the shade benefit component for the class and I noticed that there is a possible bug with data matching in the component. If user connects multiple regions to the component the component will crash unless temperatures and testshades follow the same data tree. The only way that I found to get the component to work was something like this which is not very elegant:

![imag

[2015-10-06 13:01] chriswmackey commented on #180
@mostaphaRoudsari ,

To be honest, I have not yet used this component  with more than one region for a given set of test shades (only for multiple shades for a single test region).  Any time that I have had multiple test regions, I have wanted to align them with a respective set of shades so that the component does not take a very long time to run (long run meaning that it calculates every possibl

[2015-10-06 13:04] chriswmackey opened #181 "Implement thermal lag to shade benefit evaluators"
This will improve the accuracy of the current components and will open up the possibility of running shade benefit simulations for completely passive zones.

[2015-10-06 21:48] chriswmackey opened #182 "Implement a Means of Accounting for Diffuse Radiation in Shade Benefit Evaluators"
This is generally needed to improve the accuracy of the shade benefit evaluators.  Diffuse radiation has a particularly big effect in cloudy tropical climates where it is most important to know where to shade.

[2015-10-08 18:54] chriswmackey opened #183 "Add Decimal Places as Input to Legend Parameters"
I have realized that this would be really useful for the quick creation of nice graphics.

[2015-10-08 19:04] mostaphaRoudsari commented on #183
:+1: Very very useful and pretty straight forward to implement. Thanks for adding this

[2015-10-12 19:24] ayezioro opened #184 "Extra output lines on LookupFolder_Daylighting"
The analysisType output of the LookupFolder_Daylighting component is giving an extra line with a "%" in it, while the same output from the runDaylightAnalysis is giving only one line. This extra output gives an error when trying to plot results frfom existing files.
See this discussion for details: http://www.grasshopper3d.com/group/ladybug/forum/topics/daylight-analysis-index-out-of-range-frozen-

[2015-10-12 20:56] chriswmackey commented on #180
@mostaphaRoudsari ,
This is now fixed:
https://github.com/mostaphaRoudsari/ladybug/commit/de5601fcba89a84bedc0766a4da4624da0b45fba

You should be able to run the component with as much geometric freedom as you wish.  Now the only upgrades that remain here are related to the accuracy of the calculation.

Also, check out the updated hydra:
http://hydrashare.github.io/hydra/viewer?owner=chriswmackey&

[2015-10-12 20:56] #180 closed

[2015-10-14 03:34] ayezioro commented on #184
Oooops,
This issue should be in the HB section. Sorry.
-A.

[2015-10-16 13:53] mostaphaRoudsari commented on #184
![separateoutputs](https://cloud.githubusercontent.com/assets/2915573/10543283/81763898-73eb-11e5-9ee4-b98146b42b2d.png)

[2015-10-16 13:53] #184 closed

[2015-10-20 20:19] bhowes-tt opened #185 "View Rose fails sometimes"
I'm trying to make an animated walkthrough by calculating the view rose at a series of locations along a curve.  It works at some locations, fails at others:
Working:
![frame_00008](https://cloud.githubusercontent.com/assets/3171551/10619827/c0f6f9b4-7745-11e5-86cd-7bf602e04b16.jpg)

Failing:
![frame_00009](https://cloud.githubusercontent.com/assets/3171551/10619842/cf2419f4-7745-11e5-8b9c-779a599

[2015-10-22 09:06] etienneburdet opened #187 "Large scale SVF and sun visibility"
Hello,

I tried to use LB to compute a large number of SVF on a scene (about 2000 points) using the LB_mask component. While it works great to compute 1 to a dozen SVF, once the number grows too large, it seems the component and/or LB cannot handle the large number of outputs (GH seems to be "loading" forever). A bit of the same problem appears for the "sunisvisible" variable of the sunlight hours

[2015-10-29 19:44] chriswmackey opened #188 "Output Geometry of Simulated PV Surfaces on Djordje's PV Components"
@stgeorges ,

I have been applying your components to a project today and they are really awesome.  It's so great to finally be able to account for all of these different coefficients within PV design.  However, I have found it a bit confusing how the PVSurface and the TiltAngle / Azimuth Angle interact when you plug in values for both at the same time.  I assume that the PVSurface is supposed to

[2015-10-29 20:00] chriswmackey commented on #188
@stgeorges ,

I just realized that the component is not accounting for any self-shading.  In this sense, I find it VERY misleading to have separate inputs for the PVSurface and its altitude/azimuth.  Now that I understand this, it would be much better is there was only the input for the PVSurface and I really don't understand the point of having inputs for the altitude/azimuth inputs (it's not jus

[2015-10-31 05:23] chriswmackey commented on #168
Phew!
This one is done at last.  Now, in order to get an IP version of either the psych or adaptive chart, someone only needs to plug in temperatures in Fahrenheit:
![adaptive farenheit](https://cloud.githubusercontent.com/assets/5567574/10862016/05f88b92-7f6e-11e5-826c-8ae0d2abef53.JPG)

https://github.com/mostaphaRoudsari/ladybug/commit/1bfff57f517a0b6b9fe6a1b8387c56a5e7c2cc1c

Closed!

[2015-10-31 05:23] #168 closed

[2015-10-31 23:17] mostaphaRoudsari opened #189 "Move SolarEnvelope from WIP components"
@boris-p just wanted let you know that I'm moving the component to 3 | EnvironmentalAnalysis for the new release.

[2015-10-31 23:21] mostaphaRoudsari opened #190 "PV components tab"
@chriswmackey, @stgeorges should we keep PV components under WIP or are we moving them to the main tabs? I know that we're waiting for the latest modified version by Tuesday afternoon. Can you guys make a decision on the current status of the components. I know that we have #188  and #150 open for PV components.

@stgeorges can you add your comments to these issue and the other two? Thanks.

[2015-10-31 23:40] mostaphaRoudsari commented on #187
Hi @etienneburdet. Sorry for the delay to get back to you.

I assume you're using shading mask component for this the analysis? Assuming that which sky density are you using and did lowering the sky density helps?
You're right the component is not designed for handling so many points, and animating sliders looks like a good solution you can write all the results to the same file using excel export

[2015-10-31 23:45] mostaphaRoudsari commented on #185
Hi @bhowes-tt! Thank you for reporting. I will look into this and report back.

[2015-10-31 23:48] #189 closed

[2015-11-01 00:20] mostaphaRoudsari commented on #175
@chriswmackey I gave this a second thought and it's doable but needs changes to the way we keep Ladybug and Honeybee libraries in sticky. Here is how I can think about implementing the process which needs to update all the components! We can automate the process but even automating the process will take some time.
[**1**] First change is that ```versionCheck``` class should keep track of all diffe

[2015-11-01 01:41] mostaphaRoudsari commented on #95
I'm added fly as it is to Ladybug under 4 |Extra. It can also be under WIP  but just because of the usability I added it under 4. The code is in C# but is following Ladybug rules. The icon needs to be re-done. Closing this!

![image](https://cloud.githubusercontent.com/assets/2915573/10866797/078af24c-8018-11e5-8ee6-da04a5612474.png)

cc: @jramsden271

[2015-11-01 01:41] #95 closed

[2015-11-01 04:51] ayezioro commented on #175
Hi Mostapha and all,
On this kind of issues i'm pretty clear cut. Go only for the last/updated version. The amount of trouble that can arise from multiple versions (as the example Mostapha mentioned, but God knows how many other situations you can have) against the trouble you have now with those that don't update, in my opinion, will be much massive and disappointing.
The update process today is

[2015-11-01 10:06] boris-p commented on #189
cool, that's great to hear!

[2015-11-01 13:26] ayezioro commented on #175
One more thing related to discussions and advise.
I'm afraid about the relevance and quality of the discussions based on "old" components. The level of "concentration" you need to give advise is a major task. I think about myself, for instance, if not you (Mostapha and Chris). Probably you'll be the only ones able to manage this ping-pong between versions.
I'm seeing this much more darker than wha

[2015-11-01 15:15] stgeorges commented on #188
Hi @chriswmackey ,

First of all, thank you for the useful comments and suggestions, as always. The present component itself was shaped based on your suggestions from June.

I thought the [previously given explanation](https://github.com/mostaphaRoudsari/ladybug/issues/150) for PVsurfaceTiltAngle_ and PVsurfaceAzimuthAngle_ inputs was clear. Looks like it wasn't. Let me give a more precise answer.

[2015-11-01 17:09] mostaphaRoudsari commented on #175
Hi Abraham. I can't agree more with your comments, and the concept of ```CheckYourVersion``` is already implemented for Honeybee_Honeybee and Ladybug_Ladybug. It is possible to implement it to all the other components too as ```isNewerVersionAvalilable```. I will keep this open to get @chriswmackey's comments and will be working on the other issues to get the new release out on-time!

[2015-11-01 17:42] ayezioro commented on #175
When is the release scheduled? I have one component (lookupE+Folder) that i was working on and didn't finished. Almost there ...

[2015-11-01 17:53] mostaphaRoudsari commented on #175
We should have all the components updated by Tuesday evening Serbia time! Hopefully not later than Wednesday morning EST.

[2015-11-01 17:54] ayezioro commented on #175
Arghhhhhhhhh ....!!!!

[2015-11-01 19:04] mostaphaRoudsari commented on #175
@ayezioro does it mean that you need more time?

[2015-11-01 19:11] ayezioro commented on #175
Oh yes.
But go ahead with the schedule. I don't want to hold this release. I'll update the github later on.

[2015-11-02 03:45] chriswmackey commented on #175
@ mostaphaRoudsari and @ayezioro ,

It seems that this has ended up being a much more complicated issue than the simple statement that you had given me in conversation, Mostapha.

I certainly understand the case that you have presented and I agree with what we have decided regarding this issue given only one condition - we aim to have stable releases on a slightly more regular basis. This is the u

[2015-11-02 04:27] ayezioro commented on #175
Good. I'll pick the january release, hoping i'll send something before that for testing.
Right now this semester is overladed for me to be able to catch this coming date.
-A.

[2015-11-02 19:05] bhowes-tt commented on #185
I'll stay tuned @mostaphaRoudsari - THANKS!  :anchor: :boat:

I've been showing this and the 3d view analysis tools off at Pratt this semester - Lots of interest over there!

[2015-11-02 22:12] mostaphaRoudsari commented on #175
@chriswmackey I agree that when we had the discussion I personally didn't think of all the issues that this can bring. I totally agree that we need to have more frequent releases for the stable version and I take responsibility of the major delay for this release. I will close this issue and open a new one for ```checkGrasshopperDefinition``` which will comment the definition based on new version

[2015-11-02 22:12] #175 closed

[2015-11-02 22:15] mostaphaRoudsari opened #192 "Create a component to check Grasshopper document for potential components to update"
This can be like a git comparison code that checks the document. Finds all the components for ladybug and honeybee, finds if there is a newer version and finally does a check to see if there will be a conflict and will report this to the user.

PS: This will be very cool!

[2015-11-02 22:15] mostaphaRoudsari commented on #192
Thanks @ayezioro  for the suggestion!

[2015-11-04 00:24] stgeorges commented on #190
Hi @mostaphaRoudsari , @chriswmackey ,

The [#188](https://github.com/mostaphaRoudsari/ladybug/issues/188) was not opened due to incorrect working of Photovoltaics components.
As far as I know, we do not have an issue with [#150](https://github.com/mostaphaRoudsari/ladybug/issues/150) any more.
The only reason for not switching the components from the "WIP" would be some major flaw or an error, wh

[2015-11-04 00:33] mostaphaRoudsari commented on #190
Hi @stgeorges! I can see this as two different topics. I agree that we can move the components from WIP since it has been proved that there is no major bugs in components.

On the other hand let's keep the discussions open until we come to a conclusion. Are you telling me that #150 has been already addressed? If that is the case then I would go ahead and close it. If anyone has a comment they will

[2015-11-04 00:41] stgeorges commented on #190
Hi @mostaphaRoudsari ,
I have no problem with both issues being open.
#150 had a number of questions. They have all be replied. Some have be resolved, some required an explanation. By taking a look at the issue again, I do not see the unresolved ones.
The same goes for #180 (at least for now), it's just it's much younger, so there might be new replies from Chris there.
Thanks for the kind words.

[2015-11-04 13:12] mostaphaRoudsari commented on #67
@sariths developed a component for this which is almost ready to go. Someone needs to check the component and make sure it qualifies Ladybug/Honeybee component standards. http://www.grasshopper3d.com/group/ladybug/forum/topics/discussion-accuracy-of-daylight-simulations-with-no-wall?commentId=2985220%3AComment%3A1388667&groupId=2985220%3AGroup%3A658987
and
https://www.youtube.com/watch?v=xYvc25KT1

[2015-11-05 03:40] chriswmackey commented on #190
@mostaphaRoudsari and @stgeorges ,

I apologize for being late here.  I agree that the components should be moved out of WIP for the release and I will post feedback on https://github.com/mostaphaRoudsari/ladybug/issues/188 once I get the chance.

-Chris

[2015-11-05 11:16] etienneburdet commented on #187
Thanks !

Indeed, I came to the append solution too, which works perfectly. I have tried sky densities from 0 to 3 and it didn't reduce the calculation time drastically (I had to let the computer run and do something else for quite some times).

For the sunIsVisible part, I use direct radiation instead. It is much more faster.

If it is a data tree problem, indeed, there isn't much to do except sl

[2015-11-05 15:42] mostaphaRoudsari opened #194 "update versions file once we send the release notes"
https://github.com/mostaphaRoudsari/ladybug/commit/3df13d5abdd657df0b60594cad14f781dd120d52

[2015-11-05 15:44] mostaphaRoudsari opened #195 "Update Installation instructions"
Links are old.
No need to install evalglare anymore.

[2015-11-05 15:53] #195 closed

[2015-11-06 15:20] chriswmackey opened #196 "Suggestions for Edits to Ladybug Graphic Standards"
Ladybug Community,
This issue has been created so that those who want to question or challenge the [Ladybug Graphic Standards](https://github.com/mostaphaRoudsari/ladybug/blob/master/resources/Ladybug%20Grahpic%20Standards.md) have a forum to do so.  Also, if there is an important standard or guideline that we are forgetting, please also post that here.

Generally, I think a lot of us would agree

[2015-11-06 15:29] chriswmackey commented on #196
I will venture a bet that many of us agree with majority of these standards but there are really only a few that we might discuss here.  I am going to post some thoughts of @stgeorges here to get the conversation going (numbers refer to the points in the standard):

6) I somehow feel that coloring the whole component in a color different than working one, until the required inputs are supplied, is

[2015-11-06 16:27] chriswmackey commented on #188
@stgeorges ,

I apologize for not realizing that this was a duplicate issue of https://github.com/mostaphaRoudsari/ladybug/issues/150 . I will post my response there and close this issue out if you are of with that (this issue will still be referenced in the new one.

-Chris

[2015-11-06 16:27] #188 closed

[2015-11-06 17:31] chriswmackey commented on #150
@stgeorges and @mostaphaRoudsari ,

I am sorry for starting a duplicate issue of this one and I will post my response to this duplicate issue here (https://github.com/mostaphaRoudsari/ladybug/issues/188) .  Somehow I had forgotten that I had already given a lot of this feedback.  I am happy to see that many of these suggestions have been followed (like the helpful epwFile) and I buy many of your a

[2015-11-06 21:13] sariths commented on #67
Hi @mostaphaRoudsari , are the coding standards documented somewhere ? I can keep that in mind next time when I am scripting something.

[2015-11-06 22:02] chriswmackey commented on #67
@sariths ,
It is good timing that you ask.  We have just posted a set of graphic standards and guidelines for the components the other day:
https://github.com/mostaphaRoudsari/ladybug/blob/master/resources/Ladybug%20Grahpic%20Standards.md
If you could do some self-checking to see if your component meets these criteria, we can check everything quickly and integrate the component faster.

-Chris

[2015-11-06 23:41] sariths commented on #67
@chriswmackey Thanks!  (And thanks again for the informative, and very entertaining, videos on E+ Energy Simulations on youtube). The guidelines answered almost all my questions. Here are a few things that I am not sure about:

* Icons: How do you guys design or obtain the icons for components? For my own scripts, I just get them from some royalty free images site. Is that fine for Honeybee/Ladybu

[2015-11-07 16:15] antonszilasi commented on #67
@sariths

1. Better to use photoshop to design the icons. See the existing icons here: https://www.dropbox.com/s/vb5kcvd2tgwb7wc/logos_Rev01.ai?dl=0
2. You need to put the date of the component and the latest HB LB version like so in the top of the code

ghenv.Component.Name = "Honeybee_ Run Energy Simulation"
ghenv.Component.NickName = 'runEnergySimulation'
ghenv.Component.Message = 'VER 0.0.57\n

[2015-11-07 23:28] chriswmackey opened #198 "IMPORTANT: Hydra Example Files for the Updated Release"
Hello All,

In order to prepare for the next stable release, we are asking that everyone who has contributed example files to our original app.box location create hydra examples of their GH files to make it easier for everyone to search and explore each other's examples (and also so that each of you have the ability to update your own examples in the future whenever you make an improvement or chan

[2015-11-08 16:30] boris-p commented on #198
Cool stuff !
Hope i'm not too late, updated and uploaded the solar envelope example - http://hydrashare.github.io/hydra/viewer?owner=boris-p&fork=hydra&id=20_LadyBug_solarEnvelope

hope it's on par with the other examples as far as the standards go, maybe you could just glance at it to make sure

boris

[2015-11-08 17:15] ayezioro commented on #198
Hi,
After seeing Boris's comment i see that mine from this morning is missing :-(
I synced (or at least i think i did) 4 examples (3 of them i uploaded a while ago):
02_Radiation_Vectors2SkyPatches_01
Bounce_Out
view_TowardOrFrom_Sun_01
and the new
Bioclimatic_chart_example

Hope all of them will get there safely.

Thanks,
-A.

[2015-11-08 17:25] ayezioro commented on #198
Hi again,
I see that 3 of the examples were updated. The new one is still not up (Bioclimatic chart). Anything i can do?
-A.

[2015-11-08 19:10] mostaphaRoudsari commented on #198
Hi Abraham and Boris. It's all there now. It takes couple of minutes for the main page to load new examples. You're all good! Thank you for doing this.

[2015-11-08 20:08] mostaphaRoudsari commented on #198
two minor comments here:
1. I think we don't need the numbers in front of the examples. We will make a numbered list and link to Hydra examples.
2. Should we all consider the same tag for official examples? I thought of LBExampleFiles for Ladybug and HBExampleFiles for Honeybee. This way we can have all the official examples being filtered using these two tags.
You can make this changes whenever y

[2015-11-08 20:10] ayezioro commented on #198
Hi Mostapha,
I think is good idea to have a key for the examples.
Question: If i change the name of the file it will change/erase the previous one? Or how can we avoid having both of them?
-A.

[2015-11-08 20:11] chriswmackey commented on #198
@mostaphaRoudsari ,

You just read my mind and I was just about to post regarding these things.  The tags LBExampleFiles for Ladybug and HBExampleFiles are good.  @ayezioro and @boris-p .  Thank you for putting your files up.  If there is one last thing I could as you to do it is put these tags in your hydra pages and take the numbers out of the title.

I apologize for not specifying these things

[2015-11-08 20:11] chriswmackey commented on #198
@ayezioro ,
You should delete your old file's folder in your github folder before making a new hydra to ensure that you do not make a duplicate.
-Chris

[2015-11-08 20:12] stgeorges commented on #198
I am not let to choose the @username once I try to for Hydra, as shown in [Chris tutorial video](https://www.youtube.com/watch?v=bt34UvzLwgY).
It simply just forked like any other regular repository. Am I added to the list or users?

After forking, I only get:

LICENSE and README.md

files in the forked repository.

Is all of this correct?

[2015-11-08 20:14] mostaphaRoudsari commented on #198
@stgeorges yes. That is correct. You're good!

[2015-11-08 20:14] ayezioro commented on #198
Hi Chris,
Now i understand the tag request. But let's say i want to change the name of an example (from 02_XXX to LB_XXX). The previous version in Hydra will remain or it is smart enough to understand the change?
-A.

[2015-11-08 20:19] mostaphaRoudsari commented on #198
Hi Abraham. I think I can help with that one. If you rename the **folder name** in your github folder, github will consider that the old folder is removed. This will be also the case for Hydra. Hydra refreshes the link every 15 minutes from github forks and whatever change you make in your local fork will effect the main page. Think of it as a *distributed* file sharing system.

[2015-11-08 20:19] chriswmackey commented on #198
@ayezioro ,
Unfortunately, the name is the identifier of the hydra so, once the name is changed, the original hydra pages and all of the links to it are gone.  That is one reason why we would like you to identify your files with a solid title that will not change (even if numbers eventually change).
-Chris

[2015-11-08 20:30] arkdanielnielsen commented on #198
Hi guys
I am wondering if those extra example files I have created have any value, because in a way they are shown in other example files more less.
/daniel

[2015-11-08 20:49] boris-p commented on #198
Updated file (new name + tag) - http://hydrashare.github.io/hydra/viewer?owner=boris-p&fork=hydra&id=SolarEnvelope

[2015-11-08 21:16] mostaphaRoudsari commented on #198
Thanks @boris-p it looks great. As a side note you can still have multiple tags so people can find your example with related keywords. If you just have LBExampleFiles as one of them it will work for our purpose.

Hi @arkdanielnielsen, There is definitely no pressure to update all the example files. If you think there is any of the examples that worth being part of the package then just update that

[2015-11-08 22:24] sariths commented on #67
@antonszilasi Thanks!

[2015-11-08 23:23] ayezioro commented on #198
OK.
Committed and synced. Changed the names (where needed) to something more consistent, and tagged as requested.
Hope it is fine.
-A.

[2015-11-09 10:11] #194 closed

[2015-11-09 11:44] antonszilasi commented on #67
@sariths you're welcome and please excuse my many spelling and grammar mistakes I wrote that reply on my phone!

[2015-11-10 05:37] mostaphaRoudsari commented on #196
[Here is one more](http://www.grasshopper3d.com/xn/detail/2985220:Comment:1395519) from Anders.

I think he is right. We should probably follow the standards and let the user decide between icons and/or text. We can fix this automatically by adding ```ghenv.Component.IconDisplayMode = ghenv.Component.IconDisplayMode.application``` to the header.

[2015-11-10 06:10] mostaphaRoudsari commented on #196
@chriswmackey and @stgeorges . Here is my 2 cents:

6. I agree that to have the component turn orange as soon as you drop it on the canvas is distracting but at the same time there are couple of issues with many of our components staying gray through the whole process. I would say that once user start connecting the inputs and one or some of the required inputs are missing component should turn or

[2015-11-12 20:03] chriswmackey commented on #196
@mostaphaRoudsari and @stgeorges ,

A lot of your arguments have won me over to realizing that we should change a bunch of things.  I have run into the issue a lot of times where I am teaching some new users how to use the components and they have not connected a required input but the component remains grey so they don't notice the problem.  So I agree with your logic, @mostaphaRoudsari  that we

[2015-11-20 14:46] mostaphaRoudsari commented on #150
@stgeorges I agree with @chriswmackey's points in his [last comment](https://github.com/mostaphaRoudsari/ladybug/issues/150#issuecomment-154479807). What are your thoughts on this? Do you also find them reasonable?

[2015-11-20 16:29] mostaphaRoudsari commented on #196
@chriswmackey and @stgeorges when I was trying to address this isseu (ttps://github.com/mostaphaRoudsari/Honeybee/issues/418) I found it tricky the component to stay gray once it's dropped on the canvas and start giving warnings as soon as there is one of the required inputs are connected. It's possible but needs some extra check that may not be really necessary. What is your input on that?

[2015-11-20 18:45] chriswmackey commented on #196
@mostaphaRoudsari ,
With the code that you had put on this thread earlier, it seems like it will only take an extra 10 lines or so to accomplish what we are thinking with remaining grey until something is connected.  You can see these 10 lines of code in the template file that I have just updated in resources:
https://github.com/mostaphaRoudsari/ladybug/blob/master/resources/Ladybug_Component_Temp

[2015-11-20 19:27] stgeorges commented on #196
@chriswmackey  and @mostaphaRoudsari ,
I apologize for taking me too long to reply.
I am having some personal issues and work to do, and still haven't resolved either of these. I will try to read up all this topic on Sunday.

[2015-11-20 23:28] mostaphaRoudsari commented on #196
@chriswmackey thank you for the feedback. Looks like you really think it's necessary. Well, in that case I think it should be implemented in Honeybee/Ladybug check instead of having the user write it for every single component. Here is the implementation for Honeybee (https://github.com/mostaphaRoudsari/Honeybee/blob/a19e6888feaf42a8c7fd63a7a9aa8a5bc20d2fd1/src/Honeybee_Honeybee.py#L298-L318) whic

[2015-11-20 23:31] mostaphaRoudsari commented on #196
PS: Check radiance material components as an example for implementation.

![image](https://cloud.githubusercontent.com/assets/2915573/11314582/db0da334-8fb4-11e5-8c97-faa1abaf3ff8.png)

PSS: @stgeorges no worries. There is no rush for this.

[2015-11-21 20:01] boris-p opened #199 "Solar Envelope user request"
Hello everybody,
recently a user posted in the LB + HB forum regarding the new solar envelope component - http://www.grasshopper3d.com/group/ladybug/forum/topic/show?id=2985220%3ATopic%3A1404397&xg_source=msg

To try and sum up my conclusions from that , I think there are two main points -
1. There should be an option to filter relevant suns also based on their (2d) angle in relation to the facade

[2015-11-22 00:35] mostaphaRoudsari commented on #199
Hi @boris-p! Thank you for summarizing the issues.
1. Sound like a great feature and brings more flexibility.
2. That's how Hydra is intended to be used. Nice work.

[2015-11-22 19:37] chriswmackey commented on #199
@boris-p ,
Both ideas are great.  You are making the early visions of Hydra a reality.  If you would like to make the "combine envelopes" component a part of the suite, feel free to send a pull request that places it either in WIP or (since this seems like a smaller utility component), the Extra Tab with AdditionalHelpFromDocStrings = "0".
-Chris

[2015-11-23 15:24] chriswmackey commented on #196
@mostaphaRoudsari ,
The plan looks good and I agree that a function like this should be living in LB_LB and HB_HB.  I have changed the new component template to reference this function and put in a similar function into LB_LB:
https://github.com/mostaphaRoudsari/ladybug/commit/50f4a1ea0c5ee8175ef80e27b6fee2c2dd241cb8
-Chris

[2015-11-28 05:00] chriswmackey commented on #198
Everyone,

Given that we are long past the release, I am going to close out this issue.  I think that everyone has updated their example files with the exception of @antonszilasi 's earth tube and generator examples, which I know he has said that he would post soon.

-Chris

[2015-11-28 05:00] #198 closed

[2015-11-28 16:55] boris-p commented on #199
@mostaphaRoudsari, and @chriswmackey . I created a pull request (201. before that I created another pull request with not up to date code, sorry)
If you could briefly take a look at the component  and tell me if you think it fits the standard that would be great.
Regarding the first issue, it might take a bit longer as it involves some changes in the actual solar envelope component and I wanted to

[2015-11-30 19:59] stgeorges commented on #196
Hi @chriswmackey , @mostaphaRoudsari,

Thank you for the replies. Apologies for taking me too long to reply.

They do have consistency. Standards sometimes break when they get to the extremes. [Here's David explanation](http://discourse.mcneel.com/t/grasshopper-default-color-coding-system/27172/3) on why "Addition" currently does not turn orange when dragged to the canvas.
There is definitively a

[2015-11-30 20:31] stgeorges commented on #150
Hi @chriswmackey , @mostaphaRoudsari ,

2) Some monthly outputs can be removed, some can not. I [already removed](https://github.com/mostaphaRoudsari/ladybug/pull/202) the ones that can be calculated from hourly values by using "Average Data" component. Thank you.
Monthly outputs which can not be calculated from hourly data, are cumulative monthly outputs. Here is an example:

![cumulativemonthlyv

[2015-12-01 00:45] mostaphaRoudsari commented on #196
@stgeorges thank you for the post. It was nostalgic to see the old Grasshopper Primer- Very informative at the same time. I'm convinced that the components should turn orange if any of the required input is missing. I agree (and have seen it so many times) that it makes confusion for new users of Grasshopper. Experienced users know enough to handle warnings like this so I would vote for components

[2015-12-01 01:01] stgeorges commented on #196
Hi @mostaphaRoudsari ,

It's 2am in here, and my brain is getting really slow.
Let me see if I understood you correctly:

- you support that Ladybug-Honeybee components should be orange once dropped onto the canvas, and if they contain some inputs which are required (e.g. "_inputA").
- you support that Ladybug-Honeybee components, which generate some sort of geometry: should be turned on, and have

[2015-12-01 01:07] mostaphaRoudsari commented on #196
Hello @stgeorges! Yes and yes.
It's fine to merge the changes as it is. If you have a newer version we can merge that later. I want the new components to be available to users sooner. Graphic standards is secondary and we will make sure to have a consistent graphic style before the next stable release.

[2015-12-01 03:17] mostaphaRoudsari commented on #199
@boris-p thanks. I merged the PR. Looking forward to the next one.

[2015-12-01 14:09] timurglobal opened #204 "Prettify the wires"
Hey Mostapha.

Awesome plugin!!!

Import weather data is in a way the main ("boss") component, so one ought to think that aligning other components' inputs with Import weather data's outputs is a nice and tidy way of managing the wires (or at least keeping everything nice and clean).

(Same logic should also apply to other components as well in this weird component "food chain")

P.S. My first tim

[2015-12-01 14:20] mostaphaRoudsari commented on #204
Hi @timurglobal, Thanks. Yes. It looks good. I'm adding the image that you sent on Grasshopper group which make it more clear.

![](http://api.ning.com/files/GHjisZ0-*yRj1ZjHkJJfOPM-rFfb3xKf2AXQ0iq34zmr82RNzowE5kR0bLU3yGLgWicMwDWyy7-xATeTjOrNZf7zjMWVJjkP/Whyyyyy.png)

This is an easy fix from our side but it can cause issues for users who use update component to updated their files. Update compone

[2015-12-01 14:29] timurglobal commented on #204
Thank you, my (and maybe someone else's) eyes will finally rest XD

[2015-12-02 07:41] chriswmackey commented on #196
@mostapharoudsari and @stgeorges ,

I am glad to see the conversation continuing. While I am still of the persuasion that grey components with no inputs would be more aesthetically pleasing, if David holds the conviction that orange components without inputs are important for the functional use of GH, then I will hold it as well.

@mostapharoudsari , what is the best way to change this functionali

[2015-12-02 09:30] stgeorges commented on #196
Hi @chriswmackey ,

I already complied with this issue, and hid some of my outputs.

[2015-12-02 14:16] mostaphaRoudsari commented on #196
cool! looks like we're coming to an agreement. I modified isInputMissing method to work as expected.

I want to ask for two exceptions for icons. I feel ladybug_ladybug and honeybee_honeybee components are much better to always stay as icons. Is that fine or should we keep it consistent?

[2015-12-02 15:52] stgeorges commented on #196
From my part, I am fine with both of them being icons always.

[2015-12-07 03:48] mostaphaRoudsari opened #209 "Psychrometric Chart Crashes when Connects windSpeed"
@chriswmackey can you take a look at [this discussion](http://www.grasshopper3d.com/group/ladybug/forum/topics/psychrometric-chart-crashes-when-connects-windspeed). I believe that this was an issue with older SRs of Rhino.

[2015-12-08 05:36] chriswmackey opened #210 "Add "Cumulative Total" Option to the Average Data Component"
Some things like electricity and radiation are useful to view as cumulative over a year.

[2015-12-08 05:37] chriswmackey commented on #150
@stgeorges ,
Thanks for the explanation and it makes sense.  I did not realize that the results you were putting in this monthly format were cumulative.  It has occurred to me that this cumulative total should really be an option on the "Average Data" component and I have added an issue for it here:
https://github.com/mostaphaRoudsari/ladybug/issues/210
I guess the average data component was not a

[2015-12-08 06:25] chriswmackey commented on #196
@mostaphaRoudsari ,
I am fine with leaving LB_LB and HB_HB as icons.  I am also really concerned that some of my longer-named components increasing in size because of their names.  I know we have one user who has expressed a desire for this but is this a view that is broadly shared by a lot of members of the community?  I would at least like to hear whether you two have any convictions on it befor

[2015-12-08 11:46] stgeorges commented on #150
@chriswmackey ,
Looks like my lack of knowledge of English language finally got me.
I was not suppose to use the word "cumulative". The correct one should be: "summation".
"Average component" already has this option: Total.

But the upper ```temperatureCorrectedPRperMonth``` for each month is calculated by summation of various data for each month, and then performing operations on those summations

[2015-12-08 13:55] chriswmackey commented on #150
@stgeorges ,

Different terminology that leads to the realization of useful features should never be apologized for.  I understand that implementing a vumulative option will not fix your issue but I think that I will implement it anyway as I see some cases where it can be useful.

Also, great use of the medium of visual scripting to make clear the calculation that you are performing. Because of th

[2015-12-08 20:18] StepMaher opened #211 "Saved Files: Components Not "Hearing" [Ladybug_Ladybug] on Open"
Hey everyone,

I'm not sure if this has been discussed yet; I couldn't find anything during my (albeit quick) search.

I've built a few "plug and play" definitions that I continue to use or package and pass along to colleagues. I've noticed when I open them up not all the Ladybug or Honeybee components "hear" the main class component. I often have to Disable/Enable those components. This is specif

[2015-12-09 04:11] chriswmackey commented on #211
@StepMaher ,

It is great to see you on github!  I hope things have been awesome since ACADIA.

The issue that you mention is because Grasshopper needs to read the libraries of LB_LB first before trying to run any other Ladybug components.  All grasshopper components in a given GH file are arranged in an order on the canvas with some components being read first when you open the file depending on

[2015-12-09 12:52] StepMaher commented on #211
@chriswmackey,

Everything is going swimmingly, thanks! I hope you're well too.

That's a neat trick! (How did I not know that before?) It worked for what I was trying to accomplish. Thanks for the quick reply (as always).

Best,
/SPM

[2015-12-09 12:53] #211 closed

[2015-12-11 15:45] mostaphaRoudsari commented on #196
@chriswmackey for this particular issue I would say that we need to change the name and shorten the nicknames that will show up on the component.
Let me know if you want me to go ahead and change all the components to user-preferred icon/text choice with the same script that updates the versions. I think that way we can start to identify the ones with very long names.
Also I'm seeing myself to str

[2015-12-15 13:33] stgeorges opened #212 "Can not download an epw file with the new "Open EPW, STAT files" component"
Hi @chriswmackey , @mostaphaRoudsari ,

I was wondering if anyone else has been having issues with the latest Open EPW and STAT files component?

I downloaded the newest one, once I noticed [this Chris topic](http://www.grasshopper3d.com/group/ladybug/forum/topics/changed-location-of-the-department-of-energy-weather-file?xg_source=activity) (thanks for the information Chris!).

For some reason I c

[2015-12-15 16:40] chriswmackey commented on #212
@stgeorges ,

Your GH file is running correctly on my system:
![correctlyrunningdownloadepw](https://cloud.githubusercontent.com/assets/5567574/11816763/f4c81a42-a31f-11e5-897d-85164f8249ea.JPG)
I am nearly positive that your issue is related to the fact that the EnergyPlus website of the current climate file database is using secure http (https) while the old website was using normal http.  This

[2015-12-15 17:08] stgeorges commented on #212
Thank you @chriswmackey ,
Yes, the same upper exception message appears when "Update Ladybug" component is ran.
Ok, I will then just pretend that this component will work for other users. I doubt there are much Windows XP users of Ladbybug+Honeybee left.

[2015-12-16 18:28] chriswmackey commented on #212
@stgeorges ,
It's good that we know the failing piece of code is now.  They System library that the WebClient() method lives in is a Microsoft DOT NET library so I can see that it is likely related to using XP instead of newer Windows versions.  Let's see if anyone else experiences this issue and we can make a judgement call about if/how we can change it.  Also, if you find any code that will get

[2015-12-18 11:29] jacoposartore opened #213 "Microclimate Map Analysis error with latest version"
Hello there,

I synced my definition with Github and this component returns the error:
"Solution exception:Local variable 'FinalHOYs' referenced before assignment."
Previous version from November 11 works fine.

![image](https://cloud.githubusercontent.com/assets/8501837/11895945/d332398e-a582-11e5-88b5-d4fb7b3ed422.png)

[2015-12-18 14:33] chriswmackey commented on #213
@jacoposartore ,
This sounds like it is the result of some recent changes I made to be able to run analysis periods where the start date occurred later in the year than the end date. Can you post a link to the GH file with the error?
-Chris

[2015-12-18 14:52] jacoposartore commented on #213
@chriswmackey,
my file was too complex to be uploaded, therfore I created a new one from scratch that generates the same error.
Here it is https://www.dropbox.com/s/fhqhw38tasithkk/MicroclimateMapError.gh?dl=0.

[2015-12-18 15:19] chriswmackey commented on #213
@jacoposartore ,
Thanks for the file.  The error was a small one and it is fixed:
https://github.com/mostaphaRoudsari/Honeybee/commit/7b8bb1922e666a9664e24c91a3f35d506b30b2c3

Thank you, again, for reporting this.
-Chris

[2015-12-18 15:19] #213 closed

[2015-12-18 19:33] arkdanielnielsen opened #214 "missing Bold input - Ladybug_Legend Parameters"
I am missing the possibility to make the text bold. When exporting graphs as images I think it makes the text more visible to have it Bold. Is there a reason for why it is removed?
![ladybug_nobold-01](https://cloud.githubusercontent.com/assets/7299731/11905392/97161b66-a5c6-11e5-9162-5df86778fec7.JPG)

[2015-12-19 04:19] chriswmackey commented on #214
@arkdanielnielsen ,
In the interest of making the component more compact, the bold input has been integrated into the font input in the current version.  Read the font input description to see how to request bolded fonts:

font_: An optional text string that sets the font of the text. Examples include "Arial", "Times New Roman" or "Courier" (all without quotations).  The text input here can be any

[2015-12-19 04:19] #214 closed

[2015-12-19 14:38] ocni-dtu opened #215 "Microclimate Analysis error"
Hey,

When I try to run the microclimate analysis it displays an error saying: "1. The calculation has been terminated by the user!"
If I check the code it looks like the failure comes from the climateMapPMV function.
Have I made a setup mistake or is it a bug?
Thanks!

https://www.dropbox.com/s/j0bcbhjhc085oqm/Microclimate%20analysis%20error.gh?dl=0

![error](https://cloud.githubusercontent.com/a

[2015-12-19 16:42] chriswmackey commented on #215
@ocni-dtu ,
Given the way that you have structured the GH file, I will need your IDF file and CSV result file in addition to the GH file.  If possible, I think that it would be best for you to upload a GH file that creates the HBZones and runs them through the energy simulation instead of uploading these other two files.
This should allow me to re-create your error and, once I get that, I should b

[2015-12-19 17:17] ocni-dtu commented on #215
When I made the file this week, I didn't have any problems. It only happend today. So it is a bit weird.

Here's a link to the complete file. The comfort part is a bit messy, sorry
https://www.dropbox.com/s/861gtmxzdjyuy2b/Energi%20and%20comfort.gh?dl=0

[2015-12-19 17:24] chriswmackey commented on #215
@ocni-dtu ,
I took a closer look at your file and I realized what the problem is.  You connected "Adaptive Comfort Parameters" to the PMV recipe component.  The PMV requires comfort parameters from the "PMV Comfort Parameters" component.  I have just put in an extra warning in the PMV recipe component to make sure that we catch this in future cases:
https://github.com/mostaphaRoudsari/Honeybee/com

[2015-12-19 17:24] #215 closed

[2015-12-19 18:42] ocni-dtu commented on #215
Thank you!

[2015-12-21 16:21] mostaphaRoudsari commented on #212
@stgeorges can you test and see if urllib works on your system with the new link. The issue with urllib is that it's incapable of making secure connections which is needed to download *https* links. I'm sure there should be a workaround for this issue on Windows XP: https://support.microsoft.com/en-us/kb/314864

[2015-12-23 14:57] #67 closed

[2015-12-30 01:32] stgeorges opened #217 "On thermal comfort indices and PET index"
This is a continuation of the discussion from pull request #207.

Hi @chriswmackey ,

First, please accept my sincere apology for taking me more than three weeks to reply.
I am busy with my regular job, and I have been a bit lazy in spending my free time to something useful. Still, this happened to me a couple of times already, and I am truly not proud of that. I hope it will not take me so long t

[2015-12-30 03:28] stgeorges commented on #212
Hi @chriswmackey , @mostaphaRoudsari ,

Sorry for the late reply.

Chris, on [Microsoft WebClient.DownloadFile page](https://msdn.microsoft.com/en-us/library/ez801hhe%28v=vs.110%29.aspx), there stands that this method has been introduced since .NET 1.1 version. Windows xp does not support higher than 4.0 .NET version, which is what I have installed. So I guess this method should be included into m

[2015-12-31 06:46] chriswmackey commented on #217
@stgeorges ,

This is awesome!  Thank you for all of the useful information.  I had been in the dark about how exactly PET is calculated and I only knew that it was popular from posts on the GH forum and in a number of thermal comfort books that I have read (I don't know why I found it so hard to find references for it).  Needless to say, I am going to be spending a lot of time with all of these r

[2015-12-31 12:49] stgeorges commented on #217
Hi @chriswmackey ,

mostaphaRoudsari/Honeybee#442

Ok. Will be checking that issue.

This is sounds very, very, interesting!! Will definitively need to try it, once it's released!

I can relate with this. Thanks for the encouragement.

Hey, your Christmas wishes are not late at all. Most Orthodox Christian Churches celebrate Christmas on 7th of January. So thank you for the nice wishes.

Greetings

[2016-01-05 19:36] chriswmackey commented on #209
This issue has been closed for a while.  It was just that you really are not meant to connect up 8760 values to the wind speed.

[2016-01-05 19:36] #209 closed

[2016-01-05 22:36] chriswmackey commented on #177
Closed.
https://github.com/mostaphaRoudsari/ladybug/commit/e3b699f83ebf22ffca79e7fa23f56f664843339b

[2016-01-05 22:36] #177 closed

[2016-01-08 18:50] chriswmackey opened #218 "Add CBE Group to the GPL Licence"
I just noticed that the CBE group changed their license over to GPL a few months ago:
https://github.com/CenterForTheBuiltEnvironment/comfort_tool/commit/127470d9229d82b1e4a62b9013fa2744746c89b9
Therefore,the next release of the Ladybug GPL license should reference the CBE tool.

@thoyt , let me know if there is any particular reference format that Ladybig should follow.

[2016-01-08 19:09] thoyt commented on #218
We changed the license for you, remember? :)

We don't have any preference for reference format. As long as Center For the Built Environment is in there, and maybe the url (cbe.berkeley.edu), we're more than happy.

[2016-01-08 19:52] chriswmackey commented on #218
It's all good and your work is so great that I would have come back to realize it sooner or later.  I am going through some of your code right now to help make a web tool of my own.  It is a great resource and thank you so much for making it open.

I will be sure that he URL and the words 'Center For the Built Environment' appear in the license.

On another note, I have added some new features to

[2016-01-11 00:17] mostaphaRoudsari commented on #61
@chriswmackey just wanted to update this issue that now we have a method that can calculate this:
https://github.com/ladybug-analysis-tools/ladybug-core/blob/master/ladybug/sunpath.py#L145-L168

I rather to keep this functionality for the new Ladybug but if it's critical we can integrate it to the current Ladybug too.

[2016-01-11 00:18] mostaphaRoudsari commented on #15
Having all the comfort analysis functionality this will have no use anymore.

[2016-01-11 00:18] #15 closed

[2016-01-11 00:21] #12 closed

[2016-01-11 01:23] ParametricMonkey commented on #169
Hi guys. Any luck with this? And Mostapha can you upload that example pls

[2016-01-15 00:57] mostaphaRoudsari commented on #178
@chriswmackey Just wanted let you know that I'm taking care of this in the new library similar to what you have mentioned up there which is basically filtering the days based on the list of HOYs.

[2016-01-15 06:44] mostaphaRoudsari commented on #169
Hi Paul, I didn't have a chance to work on this but I'll try to put an example file for you now and post it here.

Meanwhile as you know I'm re-writing the sunlight hours analysis component and I actually took the orientation study out of the component assuming user can rotate the geometries as they want and instead I'm adding a new component that collects the geometries and the results and dump t

[2016-01-15 07:57] #144 closed

[2016-01-15 08:00] mostaphaRoudsari commented on #169
@ParametricMonkey [here is the example file](https://www.dropbox.com/s/anlj9313nypeeqa/orientationStudy_2.gh?dl=0). The shading rotates with the geometry while the context building stands in the same position during the run.

[2016-01-16 19:03] chriswmackey commented on #178
@mostaphaRoudsari ,
This is great and I am very much looking forward to this!!!  I am going to make you the assignee on this one and let me know if there is anything I can do to help.
-Chris

[2016-01-16 19:05] chriswmackey commented on #183
This had been added a month ago and I forgot to close out the issue.  It has made things sooo much easier in my graphics workflows.

[2016-01-16 19:05] #183 closed

[2016-01-16 19:08] chriswmackey commented on #179
I had added this capability a while ago and I forgot to close out the issue:
http://www.grasshopper3d.com/group/ladybug/forum/topics/sunlight-hours-analysis-output?commentId=2985220%3AComment%3A1405375&groupId=2985220%3AGroup%3A658987

[2016-01-16 19:08] #179 closed

[2016-01-16 19:57] chriswmackey commented on #131
This feature will be addressed with the new core Ladybug functions that @mostaphaRoudsari is putting together and so I will let this issue rest until this core development is finished.

[2016-01-18 15:46] mostaphaRoudsari opened #219 "Wet Bulb Temperature Component"
I'm creating the issue to continue the discussion about [the new Wet Bulb component by Antonello](http://www.grasshopper3d.com/xn/detail/2985220:Comment:1439789).

![](http://api.ning.com/files/bZ6KiUmf2vK3cKQ-8W7Ex*0FxlvRU5OAbl2wYvgSv-OHtyyxa8ktXuwurSGOcRRBw9qKONXPwBRvxSaN8Yv8ZGITZZfkLF8Y/WetBulbTemp_02.png)

![](http://api.ning.com/files/bZ6KiUmf2vKIvnOPhIz7FsofJi3a6ycYjoGmzd1VUFLH6hjY1DEEPuCMUI

[2016-01-18 18:09] mostaphaRoudsari opened #220 "Add warning for failed gendaymtx run"
Windows 10 is blocking the file. We either need to ask users to install Radiance or unblock the file. In any case we need a meaningful warning and not a  blue sky!

http://www.grasshopper3d.com/group/ladybug/forum/topics/radiation-analysis-win10-gendaymtx-exe-issue?commentId=2985220%3AComment%3A1441007&groupId=2985220%3AGroup%3A658987

[2016-01-18 18:27] ayezioro commented on #219
Hi,
Mi comment in the discussion was as follows:
Testing the "second mode" in your file i noticed that changing the analysis period changes the results. Sometimes the changes are to big to bare. Try month 1 to 4 and then 1 to 8, etc.
I noticed that this happens when I updated the file in my computer to latest LB_HB, then i get the inconsistencies. Using the LB version in the example file it works

[2016-01-18 19:04] AntonelloDN commented on #219
Hi,
Have you also tested the updated version of the component, in the last reply of the discussion?
I'm sorry, I haven't installed the last LB, I'll do it as soon as possible.
In second mode there is other main component:- Ladybug_Average Data - before Wet Bulb. Is it possible that there are some problems with one of these?

Thanks
Antonello

[2016-01-18 19:56] ayezioro commented on #219
Yes,
I've just tried. Sooo weird.
-A.

[2016-01-19 04:22] chriswmackey commented on #219
@AntonelloDN and @ayezioro ,

I am sorry for being away for the day.  So much has happened!
I have spent the last few minutes trying to understand the bug that you have been referencing and I am still at a loss.  I can see that Antonello's component is calculating different values for different analysis periods but I can't get any of the other Ladybug components to have this phenomenon.  Am I righ

[2016-01-19 04:39] mostaphaRoudsari commented on #219
Thank you all. @chriswmackey said almost all the comments that I have, and I'm also still lost about the bug. What's exactly the issue?

@AntonelloDN, the only comment that I want to add is to name inputs all camelCase following [Ladybug's Graphic Standards](https://github.com/mostaphaRoudsari/ladybug/blob/master/resources/Ladybug%20Grahpic%20Standards.md). See number 4 for this case.

@AntonelloD

[2016-01-19 04:52] ayezioro commented on #219
Hi,
Since i reported this bug maybe i'll try to explain it again. Download Antonello's example in the forum's discussion. Even the last version, or the one before (even better since it contains one group called "Second mode".
The outputs of the new component are shown in the LB_BarChart. So far, so good. You see in this group that we can change the analysis period. In this version, changing the pe

[2016-01-20 08:16] ayezioro commented on #219
Hi,
Look also to this comment on another discussion:
http://www.grasshopper3d.com/xn/detail/2985220:Comment:1441940
-A.

[2016-01-20 11:13] AntonelloDN commented on #219
@chriswmackey,
Thank you for your suggestion, I'll try to make an auto-sense system the better I can. Some advice about it are very appreciated.
I've sent you an email where you can find my skype contact.
@mostaphaRoudsari thank you. I'm going to change almost all name of inputs.
 I'm little bit confused about Github.. Is it necessary to be member of Github to send you new components or an idea fo

[2016-01-20 12:12] ayezioro commented on #219
@AntonelloDN,
The example is the one you uploaded in the discussion. And the case is the "second mode".
See the image here to see what's happenning. Same weather file, different periods (1-4 and 1-8).
-A.
![capture](https://cloud.githubusercontent.com/assets/7526023/12448601/d314a330-bf7f-11e5-8cf4-05c28d214ea2.JPG)

[2016-01-20 15:15] AntonelloDN commented on #219
@ayezioro I have found some bugs in the new version of Ladybug_Monthly Bar Chart and I have just fixed them. As you can see, in your graph the line of dry bulb temperature is often above the ones of wet bulb temperature and dew point temperature. It is really strange and impossible.

the wrong lines of the script are:

160
527
544
556
564
567
578

Put these instead of the actual lines:

if list[3]

[2016-01-21 02:20] chriswmackey commented on #219
@AntonelloDN ,
You are on fire, man!  Fixing bugs in the monthly bar chart! Those ones look like they are the result of a recent feature that I added, which I clearly did not test well enough.  When we skype, I will have you commit your bug fixes for the chart along with the wet bulb component such that that you get credit for the contributions here on the github.
I saw that you sent me an email a

[2016-01-21 05:29] ayezioro commented on #219
Very nice!!
Thanks,
-A.

[2016-01-21 20:01] jpcostaa opened #221 "problem with radiation diagram"
Hello Mostapha,

Firstly, amazing work with LB and HB. You are doing a lot for community that needed this.

I've got a problems in my hands, its not something new as I have been searching online, and there are no solutions yet. It can be found here:
http://www.grasshopper3d.com/forum/topics/weird-radiation-result?groupUrl=ladybug&groupId=2985220%3AGroup%3A658987&id=2985220%3ATopic%3A1425721&page=1

[2016-01-22 18:01] AntonelloDN commented on #219
Hi @chriswmackey and @ayezioro

I have understood the issue between my component and the monthly bar chart , I wrote "°C" instead "C" therefore the monthly bar chart works fine. So it's more easy change my component. I'll do that.

I have found a small bug in the Honeybee_Visualize Microclimate Map.
http://www.grasshopper3d.com/xn/detail/2985220:Comment:1441940
the wrong line should be: 404
if len

[2016-01-24 03:39] mostaphaRoudsari commented on #219
@AntonelloDN I checked the names of the component today and a number of them are still Capitalized.

![image](https://cloud.githubusercontent.com/assets/2915573/12534332/01f3c2a4-c222-11e5-8a81-c3b1d50fe042.png)

Would be great if you can get them fixed before we move the component from WIP.

[2016-01-24 03:41] mostaphaRoudsari commented on #221
Hi @jpcostaa, Thanks. I replied in the group. The issue is probably that Windows has blocked gendaymtx.exe file. Check the link that I provided in the group and that should solve your problem. I added an extra check for the next release so it will give you a warning.

[2016-01-24 03:41] #221 closed

[2016-01-24 03:43] mostaphaRoudsari commented on #220
Fixed via f11388fc3d83c9250ecf3d7f89c2c09788f8c7c6

[2016-01-24 03:43] #220 closed

[2016-01-24 17:28] chriswmackey commented on #218
This has been done:
https://github.com/mostaphaRoudsari/ladybug/commit/3a1749298c05b85d40cd4753cc75357eafc7bdb9

[2016-01-24 17:28] #218 closed

[2016-01-26 03:03] chriswmackey commented on #104
This has been implemented on all Ladybug visual components.  Both the option for hatches and meshes are available as previously advertised.  I will try to implement the same for Honeybee components at some point.  As such, I am moving the issue over to HB and closing out the one here.

[2016-01-26 03:03] #104 closed

[2016-01-26 07:11] ayezioro opened #228 "New baking options"
Hi Chris,
I've been checking the new baking options (1- hatch, 2- Mesh).
For some reason it doesn't matter if i choose 1 or 2 the baked geometry are always hatches.
Checked the code and i see the True/False parameter. Everything is looking right but the result is not.

I'm missing something (probably) or this is an issue?
Thanks,
-A.

[2016-01-26 13:18] chriswmackey commented on #228
@ayezioro ,
Which component is this? I manually checked all of the components after I made the change and all of them had this ability as of the update I finished 8 hours ago. Could it be possible that you were not using this most recent version?  Also, if you did not update your component by placing it manually on the canvas, the BakeIt input will not be canged to an intended type.
-Chris

[2016-01-26 13:53] ayezioro commented on #228
You are the man!! This is it. I didn't reinserted them because they didn't complain.
This is posing a new level of update now: You do the update as usual (update component), but those new components won't complain but also won't fully perform unless ... you reinsert them. Hmmm.
So, for now, you'd say that all components that have a bakeIt option should be reinserted for fully performance?

Thanks

[2016-01-26 15:26] ayezioro opened #229 "SVF in ViewAnalysis component"
Hi,
I'm dealing with the following error in the ViewAnalysis component when i try to do SVF analysis:
1. Solution exception:name 'viewPtsWeights_' is not defined
When i reinsert/reconnect all inputs it works. But when i save, close and open it complains again about the same.
I notice that when i connect any of the possible values to the _viewTypeOrPoints input the clean component changes the name

[2016-01-26 16:25] chriswmackey commented on #228
@ayezioro ,
Yes, the not complaining of the components happens when I only change the type hint but not the name of the input.  I was debating whether to make the change more drastic so that the component would fail but decided that it might be nicer to have the updated components still functional without reinsertion since the full capabilities of bakeIt are not a critical feature and not everyone

[2016-01-26 16:46] ayezioro commented on #228
Txs.
-A.

[2016-01-26 17:12] chriswmackey commented on #229
@ayezioro ,
Thanks, as always, for finding these bugs.  This one was happening because I made some of the inputs change their name depending on the viewType.  It has now been fixed:
https://github.com/mostaphaRoudsari/ladybug/commit/eec412d2ab3631525764319438a67b0f22c227c2
-Chris

[2016-01-26 17:12] #229 closed

[2016-01-28 23:34] chriswmackey opened #230 "Consider Removing 'Vertical Sky Component' and Instead Have People Run Daylight Factor with 1 Ambient Bounce"
as per this conversation:
http://www.grasshopper3d.com/forum/topics/sky-view-factor-vs-vertical-sky-component?groupUrl=ladybug&xg_source=msg_com_gr_forum&groupId=2985220%3AGroup%3A658987&id=2985220%3ATopic%3A1377260&page=1#comments

[2016-01-29 04:52] ayezioro commented on #230
Hi Chris,
It is i,mportant to leave all components:
Sky View: Besides what you mentioned in the discussion they gave a visual assessment (for a point in space), which i think is VERY valuable (for work, for teaching, etc). Now with your visualStudy you get this  for the whole space, which is much greater.
VerticalSky: Agree that is not much used, and even a bit outdated. Saying that there are plac

[2016-01-31 03:40] chriswmackey commented on #230
@ayezioro ,

I understand your concerns and I definitely agree that we should not be removing any capabilities for people who know what they are doing.  Because of this, I realized that my original title for this issue was not well-chosen and what I meant to discuss here is just a matter of what the workflow should be for running VSC simulations.
Essentially, all that the VSC component is doing is

[2016-01-31 08:06] ayezioro commented on #230
Hi Chris,
I'm for leaving and explaining better.
In any case the VSC is not exactly DF as you can see here:
https://consultations.rics.org/consult.ti/daylightingsunlighting/viewCompoundDoc?docid=2858900&partId=2859860&sessionid=&voteid=:
"the Vertical Sky Component [VSC] assessment - the percentage of the total sky that can provide direct light to the centre of the face of the window when neighbou

[2016-02-01 01:26] mostaphaRoudsari opened #231 "Double check north implementation for radiation rose"
Check this discussion: http://www.grasshopper3d.com/group/ladybug/forum/topics/radiation-intensity-values-for-radiation-rose-and-sky-dome-don-t

[2016-02-01 01:42] chriswmackey opened #232 "Have Monthly Bar Chart Get Rid of Months Without Data"
If there are months for which there is no data connected, I should just eliminate them instead of having the blank space:
![barchartissue](https://cloud.githubusercontent.com/assets/5567574/12706948/2accbb10-c85b-11e5-87f7-e14a176d9ad0.JPG)

[2016-02-02 22:15] ayezioro commented on #228
Hi Chris,
I'm using the baking option with the windRose component. I'm getting the following error:

Testing the code i see:

I assume that this is maybe caused by some tolerance problem with small sizes. But changing the tolerance doesn't solve the issue.
Any ideas?

Thanks,
-A.

[2016-02-02 22:27] mostaphaRoudsari commented on #228
It's probably for an hour with no value that windrose returns -1

[2016-02-02 22:50] chriswmackey commented on #228
@ayezioro ,
I can't re-create your error on my machine.  Hours with no values give the usual 'no hour meets the conditional statement' message.  Please upload a file with the error.

-Chris

[2016-02-02 22:58] ayezioro commented on #228
The GH file is:
https://www.dropbox.com/s/qbppbggerzzuxod/04_WindAnalysis_01_HaifaBatGalim.gh?dl=0
and the epw:
https://www.dropbox.com/s/p85qg64wag2gmm4/HaifaBatGalim-SPtMasterTable_552848_19790101_20110101_TMY3.epw?dl=0
This is a synthetic file.

See the components at the bottom where i analyze specific months.
Thanks,
-A.

[2016-02-02 23:20] chriswmackey commented on #228
@ayezioro ,
@mostaphaRoudsari was right.  I just did not understand.  It has been fixed:
https://github.com/mostaphaRoudsari/ladybug/commit/db82d42036ee9412ea4a605fe5be10c8476aef42
-Chris

[2016-02-02 23:20] #228 closed

[2016-02-04 05:41] ayezioro commented on #230
I don't know how/why the following went to another issue. Was supposed to be here. Here it is:

As for the broken link, this is weird, but if you google waterslade (https://www.google.co.il/search?q=waterslade&ie=utf-8&oe=utf-8&gws_rd=cr&ei=GDOuVum3BIb9sQHdzae4BA) you'll get the main page. Look there for the "dev_potential" image (the one with the red buildings).
So weird.
-A.

[2016-02-04 06:16] ayezioro commented on #228
Thank you!!!
-A.

[2016-02-04 13:37] mostaphaRoudsari commented on #230
I see @chriswmackey's point but then we can say daylight factor is also a grid-based analysis with overcast sky where the user should divide the results by sky illuminance to get the percentage? I also think having a separate component is helpful specially for teaching purpose.

[2016-02-08 12:38] jarno55 opened #233 "selectSkyMtx component uses one hour too many"
Hello ladybug developers.

First of all i'd like to thank you for the great tool, it's very useful!

I wanted to tell you that i found a bug. The selectSkyMtx component does not assign the hours of a certain analysis period correctly. For example if i would like to analyse all hours from 11:00 to 12:00 over the whole year, the selectSkyMtx component actually chooses all hours from 10:00 to 11:00 a

[2016-02-09 12:17] ayezioro commented on #229
Hi Chris,
Unfortunately i'm asking to re-open the issue. As for this discussion (http://www.grasshopper3d.com/group/ladybug/forum/topics/error-on-the-run-daylight-simulation-component-for-the-sky-view?commentId=2985220%3AComment%3A1458580&xg_source=msg_com_gr_forum) i think i've found weird behaviours/bugs in the LB_ViewAnalysis regarding the SVF.
See this file: https://www.dropbox.com/s/p4kcno76k

[2016-02-09 17:56] chriswmackey commented on #229
@ayezioro ,
Thank you for posting this.  There were a total of 3 issues that were present in the file you uploaded and the discussion you were having with Grasshope.

The first was a very severe bug in the function that runs the view analysis, which was assigning incorrect point weights to the vectors after the first mesh (this is why you were getting view values of 100 next to the surface).  This